{% extends "base.html" %}
{% block 标题 %}
中医病机概述
{% endblock 标题 %}
{% block 主体 %}
<div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="/static/img/core-img/breadcrumb-line.png" alt="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index/"><i class="fa fa-home"></i>主页</a></li>
                            <li class="breadcrumb-item active" aria-current="page">中医病机概述</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

<div class="typography-content-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="section-heading">
                        <h2>中医病机概述</h2>
                        <p>MAY 5, 2020 / 陈潮祖编著&nbsp|&nbsp小羊整理</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <!-- Type Face -->
                    <div class="type-face">
                        <h1>病机概述</h1>
                        <p>病机，是指病变过程中不同阶段的致病机理，是对四诊所获材料进行理性分析，综合病因、病位、病性得出的结论。任何疾病，必然要出现一系列相应的证象。这些证象不是孤立 存在的，它们之间具有有机的内在联系，共同反映着疾病在一定阶段上的阴阳失调、脏气盛衰、气血津液的升降逆乱和盈虚通滞、筋脉或经隧弛张变化等病变本质，这种内在联系的机括，就是病机，古人则称之为证。
                        </p>
                        <p>中医治病的特点是辨证论治，而辨证论治则贯穿着理、法、方、药四个环节。医者通过四诊等手段获得的大量材料，要经过去粗取精，去伪存真，由表及里，由此及彼的分析归纳，才能正确地判断病机，明确病因、病位、病性，因而病机是确定治法的依据，没有正确的辨证，施 治也就无从着手。由于病机在辨证论治中居于主导地位，所以《素问•至真要大论》强调在 辨证时要“审察病机”;在施治时要“谨守病机”。病机如此重要，深入进行专门研究，显然很有必要。
                        </p>
                        <h2>第一节 病机源流</h2>
                        <p>本节包括发展简史、存在问题、发展方向三个部分。通过讨论，可使学者了解病机理论的形成和发展过程，以及存在的问题和今后的发展方向。</p>
                        <h3>一、发展简史</h3>
                        <p>我国医学在漫长的发展过程中，逐渐形成了独特的理论体系。随着整个体系的发展，病 机理论也就日趋成熟，成为这一体系的重要部分。进行病机分析的医籍，源于黄帝《内经》， 该书讨论病机的内容比比皆是。《灵枢-天年》指出：常人“五藏坚固，血脉和调，肌肉解利， 皮肤致密，营卫之行，不失其常，呼吸微徐，气以度行，六腑化谷，津液布扬，各如其常,故能长 久。”如果违反上述生理之常，就是病态。纵观《内经》即可知道，该书从发病原因、病变部位、 病变性质、气血津液的升降出入和盈虚通滞，疾病的传变规律，以至某些具体证象，都有详略 不同的叙述。这些论述为后世将病机发展成为完整的理论体系奠定了基础。
                        </p>
                        <p>在病因方面:《内经》认为人与天地相参,与日月相应;人体自身也是形神合一,形随意 使。气候和情志反常，都能使人生病。所以外感六淫，内伤七情，都是引起疾病的原因。该 书对于气候反常,机体不能适应产生疾病的论述尤为深刻。如《素问-至真要大论》说:“夫 百病之生也，皆生于风寒暑湿燥火。”《灵枢-口问》又说:“夫百病之始生也,皆生于风雨寒 暑，阴阳喜怒，饮食居处，大惊卒恐”。《灵枢》、《素问》提出的风雨暑湿、喜怒惊恐、饮食不节、 居处卑湿，是引起疾病的内外原因，为后来陈无择的三因学说提供了理论根据，病因学说自 伊开始逐渐形成。</p>
                        <p>在病位方面:《内经》以五脏六腑为主体,结合营卫气血确定病位的概念非常明确。在 《素问》的“灵兰秘典论”、“六节藏象论”、“五脏生成”等篇章里,详细讨论了五脏六腑的生理功能。在其他篇里又用大量篇幅讨论了脏腑和营卫气血失调的致病机理。如《素问-调经 论》说:“百病之生，皆生于五脏，五脏之道，皆出于经隧，以行血气，血气不和,百病乃变化而 生，是故守经隧焉。”“五脏各生虚实，其病所居，随而调之。病在脉，调之血;病在血，调之络， 病在气，调之卫;病在肉，调之分肉；病在筋，调之筋;病在骨，调之骨。”这些论述已为尔后研究病机应以脏腑为其基础定下了基调。
                        </p>
                        <p>在病性方面:强调治病要辨别阴阳、表里、寒热、虚实。《内经》以五脏为阴，六腑为阳；血为阴,气为阳；里为阴，表为阳;下为阴，上为阳;一切基础物质为阴（气例外），一切功能活动 为阳。总而言之，万事万物总不离乎阴阳。只有脏腑之间，气血之间，表里之间，上下之间， 物质基础与功能活动之间，都能相互协调,达到阴平阳秘，才是正常状态。如果反其生理之 常，阴盛则阳病，阳盛则阴病，阳盛则热，阴盛则寒，反映了属性不同的两类病变。所以《素 问-阴阳应象大论》指出“察色按脉，先别阴阳”3“审其阴阳，以别柔刚。”《素问-调经论》又 说:“百病之生，皆有虚实。”这些论述，又为八纲辨证奠定了基础。</p>
                        <p>在气机升降方面：《素问-六微旨大论》说：“出入废则神机化灭，升降息则气立孤 危,……升降出入，无器不有。”藉以说明体内气血津液的运行，反映了升降出入的运动形式， 而气血津液能够不停的升降出入，则需五脏的协同合作。所以五脏的功能活动和基础物质 的运行，都反映了升降出入的运动形式。如果发生病理改变，即要出现气机逆乱，升降出入 失常。《内经》这一论述，又成了分析病机要审察升降出入的理论根据。</p>
                        <p>在气血津液的盈虚方面:《灵枢》、《素问》用了大量篇幅详细讨论气血津液的正常运行和 异常变化。如《灵枢•五乱》说:“清气在阴，浊气在阳，营气顺脉，卫气逆行，清浊相干……乱 于头则为厥（厥与其字含义相同）逆，头重眩仆。”《灵枢-胀论》则说:“卫气之在身也,常然并 脉循分肉，行有逆顺，阴阳相随，乃得天和……厥气在下，营卫留止，寒气逆上，真邪相攻，两 气相搏，乃合为胀也。"详述了清浊不循常道，不能正常流通的致病机理。而《素问-调经论》 所说“气不足则息利少气”、“血不足则恐",却是有关气血不足的病理描述。</p>
                        <p>在组织结构方面:人体是由皮、肉、脉、筋、骨五种固定的组织构成的。其中筋膜是将五 脏六腑、表里上下联成一体的组织，归属肝系，故《素问-痿论》说:“肝主身之筋膜。”五脏经 隧是由肝系之膜构成，是供气血津液升降出入的管道系统。经隧稍有改变，就会影响气血津 液输泄失常，成为病态。故《素问-调经论》说:“五脏之道，皆出于经隧，以行血气,血气不 和，百病乃变化而生，是故守经隧焉气守其经隧一语就提示了在分析病机时要注意五脏经 隧的变化。经隧发生病变，不外痉挛（紧张）、松弛、破损、硬化、增生五类病变。四季气候的 更替,反映了寒热的消长。由于筋膜有“寒则收引”的特性，所以五脏受寒经隧挛急的病变尤 为常见。《素问•举痛论》所说:“寒气客于脉外则脉寒，脉寒则缩蜷，缩蜷则细急，细急则外 引小络，故卒然而痛就提示在分析病变机理时,不仅要审察致病原因，气血津液的升降出入和盈虚通滞，还要审察经隧的弛张。只有结合致病的因素、固定的组织结构、流通的气血 津液三个方面进行分析,才能确定病因、病位、病性，揭示病变本质，得出正确的病机结论。 由于历代医家忽视了这一至关紧要的方面，才使某些病理阐述，似是而非。</p>
                        <p>在疾病传变规律方面:注意疾病发展趋势，是分析病机应该考虑的另一方面。《内经》对 疾病的传变，总结了两条规律。一是风寒之邪，从表入里；一是五脏之间，相互移易。《素 问•热论》说:“伤寒一日，巨阳受之……二日阳明受之……三日少阳受之……四日太阴受 之……五日少阴受之……六日厥阴受之。”反映了外感疾病由表入里，由腑入脏，层层深入的 传变规律。《素问-玉机真脏论》提出的“五脏相通，移皆有次，五脏有病,则各传其所胜”，又 是内伤杂病的传变形式。上述两条传变规律，对于正确估计疾病的发展和预后，都有参考 价值。</p>
                        <p>《内经》不仅对疾病发生发展的各种共性作了病理分析,对于大量的证象也作了探讨，给 金元以后按病证分析病机以很大启迪。如《素问-咳论》是研究咳嗽病机的专论，它从整体 出发，分析咳嗽的种种兼夹证象，这些证象遍及五脏六腑，从而得出了“五脏六腑皆能令人 咳，非独肺也”的结论。意思是说五脏功能失调，引起运行于少阳三焦的津气逆乱，均可导致 肺的宣降失常而呈咳嗽。又如《举痛论》是研究疼痛机理的专论,它指出五脏突然产生疼痛， 是因“经脉流行不止，环周不休。寒气入经而稽迟，泣而不行，客于脉外则血少，客于脉中则 气不通，故卒然而痛。”同时分析了十二种痛证的不同机理。这一因寒引起气血不通而痛，因 五脏六腑功能失调皆能令人咳的道理，即使再过五千年也将被证明是正确的。</p>
                        <p>应该特别指出，《素向・至真要大论》的病机十九条，以五脏为主体定位，结合病因、病性 讨论病机,早已成了探讨病机的典范。其中“诸风掉眩，皆属于肝;诸寒收引，皆属于肾;诸气 臆郁，皆属于肺;诸湿肿满，皆属于脾;诸热督瘫，皆属于心，是将病因与病位融为一体的实 例。而“诸痛痒疮，皆属于火，诸痉项强，皆属于湿;诸暴强直，皆属于风;诸病水液，澄澈清 冷，皆属于寒;诸呕吐酸，暴注下迫，皆属于热”则是结合病因、病性探求病机的佐证。总而言 之，《内经》对于病机的分析较为全面，已为后世的病理研究开创了先河。</p>
                        <p>《伤寒杂病论》是东汉张仲景的著作，内容包括伤寒和杂病两个部分，确定了辨证论治的 完整体系，是一部理、法、方、药具备的典籍。《伤寒论》的六经证治，是在《素问-热论》的六 经分证基础上进一步完善起来的。六经病证是脏腑病变的反映，所列条文，反映了疾病在不 同阶段上的病机。所以该书专论病机条文虽然较少，却又无一不是以病机为依据。此书直 接讨论病机条文亦不乏实例，有论营卫不和的，有论少阳病机的。总之，《伤寒论》的全部内 容都是脏腑病机的具体体现。同时，此书一方证出多条，证象虽然不同，只要病机相同就可 使用同一方剂，从而反映了以病机为纲,异病同治的辨证模式，一直沿用至今。</p>
                        <p>《金匮要略》也是以脏腑病机作为基础的。一切证候的产生，都是脏腑功能发生病理改 变的反映，根据脏腑病机进行辨证是本书的精神。同时此书已开同病异治之端，与《伤寒论》 的异病同治恰好构成了一经一纬的辨证体系。</p>
                        <p>隋-巢元方等撰《诸病源候论》、《内经》的基本理论阐述内外妇儿各科疾病的病机，条目 多达1720则，论述广博，对后世医学发展影响很大，素为历代医家重视。如《备急千金要 方》、《外台秘要》等书的论述，多援引本书;《太平圣惠方》各节,均以本书有关内容冠其首;宋 以后的医学著作，在病源证候方面，常以本书为根据。所论病机，多数内容至今仍然正确。</p>
                        <p>此书以证象为纲阐述病机,条分缕析,应有尽有。每一条目包括发病原因,病变部位,临床证象，已经基本具备病机应该包涵的病因、病位、病性三个要素。当然也有不足之处。由于此书不是以脏腑生理病理为纲,就使某些病机如从天外飞来，难以令人理解；因受时代限 制,某些病机的阐述也纯属臆测，如鬼魅候即是一例。</p>
                        <p>宋代成无己为《伤寒论》作注，使仲景之学得以发扬光大，不仅有功于仲景，也使病机分析逐步深入。</p>
                        <p>宋代以后,学科迅速分化，内外妇儿各科专著如雨后春笋，相继问世，从此进入按病种分析病机的新模式。金元时期刘完素、张从正、李杲、朱震亨各家著述，对病机虽亦有所建树，却远远不及明代《景岳全书》博大精深。景岳几乎对每一病种都能析理入微，令人心折，实为 杰出的理论大家。
                        清代，温热学派开始形成，叶氏首创卫气营血辨证体系,一破轩岐仲景旧的辨证模式，在医学上可说是一次大的突破。他提出“温邪上受，首先犯肺”，和“湿热受自口鼻”之说，开创疫病多从口鼻而入新说，补充了致病因素侵袭人体，非止病从表入一端，尤其令人钦佩。随 着这一体系的形成，温病病机遂以崭新面貌出现，使病机体系趋于完备。</p>
                        <p>新中国成立以后，各省先后创办了中医学院，所用教材，从基础到临床各科，在病机分析 方面都-去不实之词，力求符合真理，说理更为准确和深入。</p>
                        <p>综上，病机发展经历了从源到流的漫长岁月，走过了艰辛的路程，直到今天，才成为较为 完备的理论体系。凭借这一理论体系指导实践，使中国医学有较强的活力，每一病机的阐述，都凝结着古人的心血,应该认真予以总结。</p>
                        <h3>二、存在问题</h3>
                        <p>我们既要看到我国医学的长处，使之发扬光大;也要看到它的短处,才能竭力予以弥补，使之更臻完善。本人认为，目前分析病机存在以下三个问题。</p>
                        <p>首先，目前的定位模式繁多，未能形成一个统一而规范的辨证体系。由于辨证的具体内容就是分析病机,辨证所得的结论就是病机。辨证体系既然无法实现统一，病机分析也就不能实现规范化，使初学者眼花缭乱，无所适从，这是存在的第一个问题。</p>
                        <p>其次,仲景《伤寒论》表面看来只是探讨外感风寒的传变规律，随证施治,其实此书却是以脏腑生理病理为纲研究病机的典范。《金匮要略》虽然仍以脏腑生理病理为依据，却是以病种为主研究病机的模式。二书一经一纬，相辅相成，纵横联系，缺一不可。自金元开始学科分化迄今,以病种为主探求机理的模式显然居于主导地位。这种辨证方法，能使学者明白 不同的病机可以出现同一证象;疾病在不同阶段反映不同的病机；因时、因地、因人而异，应 有不同的处理方法，从而掌握同病异治之理,是难能可贵的。但是，同一病机又可能出现多 种证象，遍布全身;有些疾病不能作出病名诊断，却能作出病机诊断，也常客观存在。以病种 为中心分析病机的格局，只能体现病机的横向联系，发展了仲景《金匮要略》分析病机的模 式。由于这种模式讨论的病种有限，不可能将《诸病源候论》的1720则病机都包罗无遗，难 免挂一漏万。《伤寒论》以脏腑经络为纲进行病机分析的方法，可以执简驭繁,应付无穷的病 变，这一至关重要的方法,却未给予足够重视。历代医家虽然明白这一道理，均守“述而不 作”旧训，只去注释《伤寒论》,而不师《伤寒论》去研究病理，使这一病机体系得到发展和完 善，致使学者对以腑腑生理病理为纲的纵向研究，对于异病同治之理，反而陌生，没有明晰的 概念。这是存在的第二个问题。</p>
                        <p>中医学术重视气化（指功能），这是对的,如果片面强调气化而忽视形质研究，也是不全面的。如果不去结合形质研究，就使某些病机分析成为无源之水，无本之木,这种无根无据的推论，既难令人信服,也将影响治疗效果。不重视形质研究也不可能做到定位准确，病机分析也就很难深入具体。这是存在的第三个问题。</p>
                        <h3>三、发展方向</h3>
                        <p>前面提出了中医病理方面存在的三个问题，如何针对这些问题予以解决，也就成为从事病理研究应该努力的方向。首先，应该通过认真总结，寻找各种病机体系的共性，这一共性便是决定统一病机体系的基础。不难看出，这一基础就是脏腑。因为，各种疾病总是脏腑功能失调的反映。不管使用何种辨证方法，六经辨证也好，三焦辨证也好，卫气营血辨证也好，最终还是要归结到脏腑。如此看来，仲景以《内经》理论为依据创造的脏腑辨证，才是各科的共同基础。只有以五脏的组织结构和生理功能为依据去分析病理，才能从结构到生理，从生理到病理，环环相扣，使中医病理成为有理有据，易为学者理解。</p>
                        <p>不过，根据脏腑结构和生理功能研究病机，只能做到定位准确，还不能反映病性，必须结合八纲辨证才能确定阴阳、寒热；更要结合气血津液辨证审察盈虚通滞，才能确定病性虚实；结合病因辨证，才能使病因、病位、病性融为一体，成为完整的内容。即临证时以脏腑辨证定位、病因辨证求因、八纲辨证定寒热、气血津液辨证定虚实来确定病因、病位、病性。</p>
                        <p>以脏腑为基础的病机体系，不仅可以将各种辨证方法统一起来，并可借助现代医学定位准确的长处来补充自己，本人认为，这是病机学说发展的方向。但又必须注意，中医学是医理与哲理相结合的学科，许多病理不能依靠实验证明，只能据证析理，所以强调形质研究又不能只重形质，否则中医精华又将为那些只重形质者所弃，完全成为西医的研究模式。</p>
                        <h2>第二节 构成病机的三个要素</h2>
                        <p>构成病机的三个要素是病因、病位、病性。临证时要有清晰的思路,才能做到定位准确，定性无误，审证求因，随证度势。</p>
                        <p>人体是反映高级生命现象的有机体，多数病变往往要受到各种因素的综合影响。研究疾病发生发展的病机，是对复杂病理因素的综合分析。其中发生疾病的原因、性质、部位，是分析病机的重要因素。临证确定的病机结论是否正确,取决于对三个病机要素的分析是否客观。熟悉各种要素的特点和意义，才能提高辨证水平。</p>
                        <h3>一、病因</h3>
                        <p>病因，是指疾病发生的原因。古人将其分为三类:一是外感六淫，称为外因;二是内伤七情，称为内因；三是饮食不节，虫兽外伤等，称为不内外因。</p>
                        <h4>（一）六淫辨证求因</h4>
                        <p>人与天地相参，与日月相应。气候反常，寒热不调，燥湿失度,机体不能适应，就会导致人体的组织结构和基础物质发生病变,根据不同原因分为风、寒、暑、湿、燥、火六类,称为外感六淫。</p>
                        <p>风:万物生长全赖大气，大气环流，升降不息即成风。和煦之风，对人无害。若腠理不密，表卫不固，感受风邪，称为伤风。其致病机理是:腠理疏松-感受外邪，汗液外泄，筋脉失柔出现头痛、项强、自汗、恶风。若风邪客于半表半里，外不得疏，内不得泄，引起膜原变态，津气阻滞，血络不通，即呈风丹瘾疹，瘙痒难禁。风为百病之长，寒热湿邪，温疫病毒，均常随风侵犯人体，成为风寒、风热、风湿等证。</p>
                        <p>寒：四时更替，机体能够适应，不会为害。唯寒流骤至才会发生病变。人体的筋脉经隧有赖阳气温煦，才能和柔而屈伸自如；气血津液有赖阳气温煦，才能升降出入，运行不息。若寒侵机体，经隧遇寒而收引，气血遇寒而凝涩，就会成为病态。依其轻重而有寒邪束表与直中三阴之分。寒侵体表，毛窍收缩,妨碍卫气出表，水津外泄；血络收引，妨碍营血运行，导致气血津液升降出入受阻，即会出现肺卫和肺系病变。其致病机理是：寒邪束表-毛窍收缩，经隧挛急-肺失宣降，津气不布-出现寒热身痛、鼻塞、咽痛、失音，这类证象称为寒邪束表。如果寒邪直入五脏，心系受寒，包络（冠状动脉）挛急，则呈胸痹急痛；心包（实指脑膜）受寒，气机陡闭，则成猝倒无知。肝系受寒，筋膜挛急，津气阻滞，则呈手足抽筋，胸胁胀痛，缩阴腹痛；手少阳三焦气机不通，则呈绞肠瘀胀，疼痛难忍。脾系胃肠挛急，津气逆乱，则呈吐泻腹痛。肾系经隧挛急，则呈小便不通或肾区、少腹、小腹痛甚。其基本病理是：五脏受寒—经隧挛急—气血不通—产生疼痛。因其初起即见，故称寒邪直中三阴。</p>
                        <p>暑:夏季气候炎热，骄阳似火。暑热伤人，初起即见气分热盛，以壮热、汗出、口渴、脉大而虚为主证。其基本病理是因为暑热妨碍体温外散-高热;热迫津液外泄-出汗；汗出过多，引水自救-口渴；阳随汗泄，元气受损，气不束脉-脉大而虚。是气分热盛，气阴两伤。若暑热外逼,津气宣发受阻，气郁化热，津凝成湿，即呈暑湿弥漫三焦而见发热、身软、重痛;津气从少阳三焦内归胃肠,则呈食欲欠佳、呕恶、泄泻。此外，夏月卒中暑热,津气逆乱而神昏卒倒，偶亦有之。</p>
                        <p>湿:湿是居处低湿或淫雨绵延，空气中的湿度太大，长期妨碍汗液外出，以致滞留体表。若谓是因外湿内侵，其理似难成立。其基本病理是:空气潮湿-汗出不畅，湿滞体表-皮肉筋脉同病-肌肉、关节疼痛。至于湿阻三焦而见四肢无力，头昏重胀，胸闷不饥，呕恶便澹，是因其他因素引起肺脾肾的功能失调导致津行受阻，不是外湿引起。</p>
                        <p>燥：时至秋天，雨季已过，空气缺乏水分，干燥气体吸入肺系，损伤津液，气郁化热，而成温燥伤肺。其病理是：温燥之气入肺-肺系津伤-鼻燥喉干；肺失宣降，气郁化热-发热干咳。至于五脏阴虚以致津伤成燥，属于机体阴阳失去平衡，并非外感燥气所致。</p>
                        <p>火:火与温热同类，虽轻重有异而本质相同，自清代以来统称温病。四时气候更替，只有风暑湿燥寒五种常气。若由常气变为异气而成致病因素，也仅只有五淫。古代医家增入火邪谓有六淫,显然是指大气中的疫毒侵入体内发生的热性疾病，部分病变有传染特征。疫毒侵犯人体，因其种类繁多与受邪途径不同,传变部位不同，证象也就各异。</p>
                        <p>温热疫毒从鼻窍随气进入肺系,邪侵两腮呈红肿热痛，称为疔腮。客于咽喉，红肿溃烂，西医称为扁桃体炎;若兼肌肤发出红疹，称为烂喉丹茄。喉起白点，形成白膜,不易拭去称为白喉。肺系受邪，鼻塞咽痛，咳痰黄稠,体温高而不盛，称为感冒。侵入肺脏，高热、胸痛，咳吐血痰、脓液，称为肺热、肺痈;温邪上受，首先犯肺，逆传心包（大脑），内陷心营，称为春温、暑温等等。饮食不洁，疫毒进入肠道而呈吐泻腹痛者有之;下痢脓血者有之;侵入肝系而呈黄疸者亦有之。</p>
                        <p>温毒侵入毛窍，由气入血，结于局部测生疮、痈、疔、危秋季入水，疫毒侵肌，内入营血，高热、出血，称为钩端螺旋体病。狂犬咬伤，毒从伤口侵入，即成狂犬病。利器损伤皮肉，毒侵体内，即成破伤风病。（后两种属急病不属热病）</p>
                        <p>邪从前阴进入肾系，发热、尿频、尿急、尿痛，病在气分，称为气淋；内入血分，迫血外溢，尿中带血，称为血淋;侵入精隧，小便浑浊而带黏液，称为膏淋;侵入妇女阴道，带下臭秽，称为下焦湿热。</p>
                        <p>统编教材所说五志过极，气郁化火；阴虚阳亢，虚火上炎，属于内生之热,仅是证象而非病因，将其归入外感六淫，似有混淆外感内伤之嫌。</p>
                        <h4>（二）七情辨证求因</h4>
                        <p>喜、怒、忧、思、悲、恐、惊是导致情志发生病变的七种因素。情志突然受到强烈刺激或长期抑郁不舒，导致经隧弛张失度，气血升降出入异常，才会发生病变。由于是因自身情志改变所致，故称内伤七情。</p>
                        <p>五脏由经隧相连组成的五大网络系统，是气血津液运行的通道。经隧不张不弛，气血津液运行无阻，心神得到阳气温煦、营血滋养、水津濡泽、阴精生化,才能正常思维，清灵明静。如果突然大喜、大怒、大恐、大惊，情志受到强烈刺激，导致经隧弛张失度，气血津液逆乱;或长期忧愁思虑，情志被抑，导致经隧紧张，肝气（少阳三焦卫气）升发不及，疏泄失常,就会发生病变，古人虽有心志为喜，肝志为怒，脾志为思，肺志为忧，肾志为恐之说，其实心肝两系才是病变根源。《灵枢•邪气脏腑病形》谓广愁忧恐惧则伤心”。盖心主神明，喜怒哀乐既是神的外在表现，自然也是引起心神病变的原因;肝系筋膜，是构成五脏经隧的组织，由心包（大脑）延伸出来的筋（神经）则是心神传递旨令之路。情志刺激，导致筋膜紧张、松弛，气血逆乱、阻滞、外泄，遂成病态。</p>
                        <p>七情为病，大喜过度，心气涣散，神不守舍而精神异常者,有之;怒发冲冠，经脉挛急，血随气逆，脑中充血、出血而卒倒无知者，有之;悲伤过度，肝气暴郁，疏泄太过，横犯胃肠，胃络挛急，导致血溢脉外而呈呕血者，有之;或肠道挛急，导致饮食尚未消化即被传导下行而呈殖泄者,有之;惊恐过甚，脉络挛急而呈心区绞痛者，有之;或前后二阴窍隧松弛而呈二便失禁者,有之;忧思成疾，肝气不舒，胆管痉挛，胆胰二液不能参与消化而见胁痛、食减纳差者，有之;妇女月经不调，时前时后，或经行腹痛，或下血不止者，亦有之。此即《灵枢-本神》所谓：“愁忧者，气闭塞而不行也。”由此可见，七情为病虽然是因情志异常，却以气血津液失调证象较为多见，气血津液之所以失调,却与经隧弛张攸关。其基本病理是：内伤七情-经脉弛张异常一阴阳升降出入异常-成为诸证。</p>
                        <p>不内外因,包括饮食不节、外伤、体内寄生虫等致病原因，这类疾病易于审察，不再详述。至于《中医基础理论》教材所述痰饮瘀血是津血阻滞以后的病理产物，不属病因范围。</p>
                        <p>审察病因能够较为具体而准确地提示其病变本质，容易掌握和应用。但是，疾病复杂多变,病因和病理现象之间并不一定完全符合。西医诊断为病毒引起的乙脑，中医根据不同证象分为卫气营血不同证型。如果脱离人体内外环境间的整体联系，脱离病变过程某一阶段所见证象的具体分析，单纯探求病因，往往不能获得复杂的病变本质,部分疾病仍然难以反映因果联系，从而失去病因学的指导意义。</p>
                        <p>前人不仅从致病因素去探求现象发生的原因,更加强调从脏腑功能的盛衰、基础物质的盈虚通滞去分析现象发生发展的综合原因，这就是中医学的审证求因。审证求因是从整体和动态去分析各种复杂的现象,经过综合归纳，推导出疾病发生的原因，这种病因实指病机而言,称为审证求机可能更确切。</p>
                        <h3>二、病位</h3>
                        <p>病位,是指疾病发生的部位。任何疾病都发生在人体的一定部位。即使涉及范围很广，证情表现较为复杂的疾病，就其某一阶段的病变而言，也必然侧重于某些部位。研究任何病理过程,若离开了相应的病位,就不可能得出具体的结论。</p>
                        <p>中医学的病位观念,反映了结构定位和营卫气血定位相结合的特点。结构定位是以解剖结构为依据，通过不同归类形式和不同层次来体现。这种模式和层次随各类不同的辨证方式而各具特点。《伤寒论》的六经辨证，是以三阴三阳为纲，作为定位依据;温病学中的卫气营血辨证和三焦辨证是以气血津液的受损程度及上中下三部脏腑功能的障碍、亏损状态作为定位依据;脏腑定位则是建立在藏象学说系统定位基础之上。因此,各种辨证模式都包括病位观念在内，仅在定位模式的设计上各有特色而已。</p>
                        <h4>（一）六经辨证定位</h4>
                        <p>《伤寒论》将五脏六腑分为三阴三阳六经,每经都包括手足两经,总共十二部分,表面看来是据六经定位,实际它是脏腑定位的先河。三阳是将六腑分为太阳、少阳、阳明，是将体表分成浅深不同的三个层次;三阴是将五脏分为太阴、少阴、厥阴。太阳是指风寒侵犯体表，皮毛发生的病理改变。以脉浮、头痛、项强、恶寒为其主证。其基本病理是:风寒束表-毛窍收缩，筋脉挛急-肺卫宣发津气之机受阻-产生上述现象。肺合皮毛主表，太阳篇所列条文又多属肺系病变，应该归属肺系，但《伤寒论》注家均从足太阳膀胱主表解释其义，以求与六腑为阳吻合,却与该书所列条文及其方剂不符。再看《伤寒论》的太阴病一篇全是脾胃病变而无肺系病变，是仲景千虑一失？还是太阳一篇本就代表肺系病变？最宜深思。少阳包括手少阳三焦和足少阳胆经在内。伤寒注家多只言其足而不及其手，果如所言，则胆腑位居胁下而与少阳位居半表半里的定位概念风马牛不相及矣！观其发生病变也是常见手足两经证象，所以少阳应该包括手足两经。其基本病理是:邪入少阳三焦一气郁津凝，胆液受阻，经脉挛急-以致寒热往来，胸胁胀痛，口苦、咽干、目眩。阳明包括肌肉和胃肠两个部分,肌肉属于阳明之表。邪在阳明之表，气郁化热，即呈气分热盛而以高热、汗出、口渴、脉洪为其主证。其基本病理是:邪入阳明，气郁化热-高热;热蒸津液外泄-汗出；汗出伤津，引水自救-口渴;壮热伤气，脉失气束-脉象洪大。《素问-调经论》云:“病在肉，调之分肉”，分肉是其肉间空隙，治此当清肺从少阳三焦输来清气所化之热。如果热入阳明之腑-气郁津伤-即呈胱痞、腹胀、便秘。如果寒邪束表-津气内归胃肠气郁化热，津凝成湿，升降失调-即呈呕吐、泄泻、胱痞。以上属于三阳病变。如果深入三阴，足太阴脾系受邪，常见吐、泻、痞、滞、胀、痛六类证象，实证与热证已经归属阳明，其虚寒证的基本病理是:脾系虚寒-胃肠挛急，纳运升降失常。手少阴心经功能衰退，是以神倦欲寐，手足欠温，脉象微细为其主证，其基本病理是:心阳虚损-不能鼓运血流，气无血载，和卫外阳气不能达于四末-四肢逆冷3神失阳气温煦，营血滋养-神倦欲寐。肾系功能衰退，气化不及，多呈水液内停，变生痰饮水湿。手足少阴之间，以此异趣。邪入厥阴,肝与心包受病，则既有阳气衰竭，病情危急的寒证，也有气郁化热的热证;且有蛔虫窜入胆道的胆蛔证。</p>
                        <h4>（二）	卫气营血辨证定位</h4>
                        <p>清代名医叶天士用卫气营血来说明热病的发展演变过程，创立了卫气营血的辨证模式。卫气营血辨证定位，是以卫气营血四个层次为经,脏腑功能为纬，以此反映温病在四个层次上气血津液的伤耗情况与相关脏腑的病变机理，以及温病的传变规律。</p>
                        <p>温邪上受，首先侵犯肺系，引起肺卫发生病变。其基本病理是：温邪犯肺-气郁化热，津液微伤-出现发热微渴，脉象浮数，为热在卫分。继见气分热盛的高热、汗出、口渴、脉洪，其理与伤暑、伤寒的气分热盛相同，只有致病因素和受邪途径各异。若热盛伤津成为大便燥结，称为阳明腑实,这一病理转归属于向下顺传中焦。若热扰神明，出现神昏谑语，烦躁不宁，这一病理转归属于向上传变，称为逆传心包（实指大脑）。若脑筋痉挛，出现痉挛抽搐；热邪伤津，筋脉失濡，出现颈项强直、手足拘急，已经殃及肝系筋膜，谓之肝风内动。若热入心营，营阴受损，舌绛少苔，夜热较盛，为热入营分。若已耗血动血，迫血外溢，出现发斑吐血，为热入血分，这一病理转归，属于内陷营血。综合上述，温邪犯肺，气郁化热，其热有向下顺传脾胃，向上逆传心包，向内侵入营血三条途径，掌握传变规律，思路自然清晰。</p>
                        <p>上述证象在流脑、乙脑等病中均可出现，可见不同病因可以出现相同证象，同一病因可见不同证型,必须根据不同的病因、证型论治，才能获得良效。</p>
                        <h4>（三）	三焦辨证定位</h4>
                        <p>三焦辨证,也是用于温病病理分析的一种辨证模式,是继叶氏之后对温病病理的又一次发展和补充。少阳三焦是六腑之一，是联系五脏和其他五腑及表里上下的组织，是津气升降出入的通道。邪从表入要经三焦内传脏腑，呈横向的传变形式;温邪上受也要经由三焦上下传变,呈纵向的传变形式。三焦辨证是按温邪侵犯脏腑之先后，将五脏分成上中下三个部分。病在心肺，为热在上焦，包括卫分、气分、逆传心包、内陷心营的证候。病在脾胃，为热在中焦，包括热在胃肠、胆腑的证候。病在肝肾，为热在下焦，主要包括阴伤和血分证候。由此可见,所谓三焦辨证，实际是用上中下三焦所在脏腑来概括卫气营血的另一种辨证模式。很多证型与脏腑辨证归纳的证型基本一致,只是归纳的角度不同而已。</p>
                        <p>三焦辨证十分重视热邪郁遏三焦所产生的湿热病理。由于三焦是津气流通的场所，温热之邪从三焦传变，只能出现两种情况。从传变来讲，不是从三焦向下顺传中下两焦，就是从三焦向上逆传心包（实指大脑）或内陷营血;从津气变化来讲,不是热盛伤津，就是湿热互结。三焦辨证对湿热病变的总结，具有更加突出的临床意义。因为，叶氏创立的卫气营血辨证是以反映温邪由气入血伤耗气血阴津的病变机理为主，但对津液病变则只涉及阴伤而对湿热互结略而不详。吴氏创立三焦辨证，反映了温邪由上而下，湿热互结的病变机理，在热盛伤阴之外开辟了湿热病的辨治法门,从而使温病的辨证论治更趋完善。</p>
                        <p>三焦辨证包括两大基本病理改变,一是热盛伤阴，二是湿热互结。前者与卫气营血辨证的证象和机理相同，湿热互结则是行于少阳三焦的津气出现气郁化热津凝成湿的病变，依其所见部位分别隶属于上中下三焦。上焦湿热，包括湿热阻滞肺卫、肺系、肺脏三类证象。见于肺卫而呈发热，头昏，周身酸痛，胸闷不饥，苔白而腻者，有之；见于肺系而呈鼻流黄涕，咽喉红肿，胸闷苔黄者，有之;见于肺脏而呈发热咳嗽，痰黄而稠,或咳血、吐脓者，亦有之。湿热阻滞中焦，有阻滞肌表与胃肠之别。阻滞体表,则见肌肉骨节烦疼;阻滞胃肠，则见胸痞腹胀，呕恶便浦，食欲不振,甚至下痢脓血，里急腹痛。下焦湿热，则见小便淋涩热痛，甚至成为血淋。若系湿热弥漫少阳三焦则见寒热如疟，汗出不畅，面如油垢，苔黄而腻。熟悉上述证象，就可据以定位。</p>
                        <h4>（四）脏腑辨证定位</h4>
                        <p>脏腑辨证，是以五大系统的组织结构及生理功能作为定位依据，再与病因辨证、八纲辨证、气血津液辨证结合，确定其病因和病性的一种辨证模式。脏腑辨证的优点有三:一是定位较为具体，并可借鉴西医的检测手段，逐步和西医趋于一致，走上中西合流。二是结合中医的病因辨证、八纲辨证、气血津液辨证分成不同证型,对功能性病变的治疗效果较西医使用单一的治疗方法为优。三是不仅可与中医内妇各科以病名为纲，辨证分型,同病异治的辨证模式构成一经一纬的辨证体系；同时也与西医病名为纲，病下分型的辨证模式构成一经一纬的辨证体系，使中医的辨证体系更加完善。</p>
                        <p>本书根据脏腑生理病理确定病机，根据病机确定治法，再据治法选药组方，使理法方药一线贯穿，环环相扣，反映了异病同治的辨证模式。因在各论要详细论述其证象及致病机理，在此从略。</p>
                        <h3>三、病性</h3>
                        <p>病性，是指疾病的性质。决定病性的依据有二:一是审其阴阳盛衰确定寒热;二是察其气血盈亏确定虚实。寒热定性，是为施治时应用温热或寒凉药的依据;虚实定性，是为施治时应用补益药、固涩药或通泻药的依据。临证之际,用八纲辨证审其寒热，气血津液辨证察其虚实，从而反映了中医学辨证定性的概念。</p>
                        <h4>（一）八纲辨证定性</h4>
                        <p>表、里、寒、热、虚、实、阴、阳，谓之八纲。表里是确定病位的纲领。寒热虚实是确定病性的纲领。阴阳则是统括表里寒热虚实的总纲。八纲辨证的模式，层次很高，过于抽象。如表里是确定病位的标志，但里证的范围太广，究竟是哪一系统发生病变？是气分还是血分病变？都有待深入、具体，才能准确地制订治疗方案。又如虚实两纲所定的病性，也不能确定是何脏腑的功能盛衰，是气血还是津液出现不通、太通、亏损？也有待深入才能拟定针锋相对的治疗方法。所以表里两纲已被脏腑辨证的定位模式取代,虚实两纲已为气血津液辨证的定性模式取代，只有寒热、阴阳定性，才是其他辨证模式不能代替的纲领。</p>
                        <p>寒热本是两种相反的属性,在病机分析中，用以反映人体阴阳失调呈现偏盛、偏衰时的属性。《素问-阴阳应象大论》说广阳盛则热，阴盛则寒。”就指出了寒热证象是阴阳消长的结果。只有辨明寒热，才能在论治时正确运用温清大法以平调阴阳，不致寒热误投而祸变旋踵。《素问-至真要大论》说:“谨察阴阳所在而调之，以平为期。”即系指此。</p>
                        <p>寒证有表里之分，表寒是由外感寒邪引起表卫闭郁，津气出入受阻的系列证象，在病因辨证中已经叙述。里寒是因脏腑功能衰退所致。阳气是五脏功能活动的动力，阳气生化运行却赖五脏协同合作，才能生化无穷，运行不息,两者之间存在着相互依存的关系。如果脏腑功能衰退，阳气生化不足;或因过汗、过清，耗伤阳气，脏腑缺乏阳气作为动力，又会引起功能衰竭，二者之间在发生病变时又存在着互为因果的关系。一旦阳气亏损，心系衰竭，无力推动血行，阳气不能达于四肢末端，即呈肢冷脉微;肺系虚寒，不能散津，即呈肺痿，证见口吐涎沫而不咳，上虚不能制下而遗尿;脾系虚寒，升降逆乱，即呈吐泻腹痛;肝系虚寒，筋脉、经隧挛急而呈转筋腹痛，气滞而呈寒疝腹痛,血滞而呈月经后期、经行腹痛,色黑有块；肾系阳虚,不能化气行水，水液停滞而呈痰饮水湿。E述证象兼见舌淡脉退，就可诊断为寒。因与外寒不同,故称功能衰退引起的寒证为阳虚。阳虚阴必盛，应该根据《灵枢-终始》:“阳虚而阴盛者，先补其阳，后泻其阴而和之”的治则论治，或单温其阳，或兼泻其阴。</p>
                        <p>热证都是气郁化热所致，应分实热和虚热两类。外因引起气郁化热，热盛津伤而呈发热、口渴、便秘、热淋、出血，病性属实，称为实热;脏腑阴阳失调，阴津亏损，阴不制阳，以致长期低热，五心烦热，两额发赤，舌瘦而红，脉象细数，称为虚热。不过外感热病后期出现余热未尽而阴津已伤，也称虚热;暴怒伤肝，气郁化火，出现发狂神乱，暴崩吐血，也称实热，说明内因、外因热证，都有虚实之分。再从实热言之，有热在气分、血分、气血两燔之分。热在气分，又有纯热无湿与湿热互结两类病变。盖少阳三焦是津气共行之路，气郁化热不是水津受损而呈纯热无湿，就是湿热互结而呈两者并存,只是有所偏胜而已。</p>
                        <p>寒热证象虽然性质相反，相互对立，但在特殊条件下可以相互转化，相互并存。如伤寒化热和热病过用寒凉，就可使寒热互易其性;素体阳虚，复感热邪,就可使寒热证象并存，不是一成不变。</p>
                        <h4>（二）气血津液辨证定性</h4>
                        <p>气血津液是流通于五脏的基础物质，气血津液有赖脏腑功能活动才能正常摄纳生化输泄,脏腑功能活动又赖气血津液为其动力源泉，两者之间存在着相互依存关系。临证分析脏腑病机都要审察气血津液的升降出入和盈虚通滞，才能确定病变性质。</p>
                        <p>气血津液发生病变,有不通、太通、亏损三类基本病理改变;脏腑发生病变，有功能障碍、衰退、亢进三类基本病理改变。在用脏腑辨证定位以后，再用气血津液辨证，才能提示每一脏腑的病变机理是因功能障碍、衰退、还是亢进;气血津液的病变机理是升降出入异常，还是不通、太通、亏损。所以气血津液辨证与脏腑辨证结合构成的五脏病机,包涵了定位和定性两个要素。</p>
                        <h5>1.气的病变</h5>
                        <p>（1）	汽虚：以食少便澹，声低息短，动则心悸，舌淡脉弱为主证。是因脾胃纳运功能减退，肾系元气虚衰，气的生化之源不足;或因肺卫胺理不密，阳气外泄所致。食少便澹，是脾气虚的征象;声低息短，是肺气虚的征象;动则心悸，是心气虚的征象。</p>
                        <p>（2）	气滞：以胸、胁、胱、腹、腰、龈胀痛为主证。是因肺脾肝三脏功能失调，引起三焦卫气运行不利所致。肺气宣降受阻，脾胃升降异常,肝气升发不及，则三焦气滞而胀痛见矣！何以气滞要从肺脾肝三脏辨证？盖卫气升降出入，有赖三脏协同配合故也。</p>
                        <p>（3）	气散:是指阳气外泄的病变。卫外阳气，贵在固密，才能防御邪侵。外泄，则阳气耗散;耗散,则固护无权;藩篱不固,则气候稍有异常而感冒证象见矣！</p>
                        <p>（4）	气逆:是指肺胃气逆不降,肺气逆则咳喘，胃气逆则呕、啰、噫气、呃逆。</p>
                        <p>（5）	气陷:是指少阳三焦卫气陷而不升，有大气下陷、中气下陷、肝气不升之分。大气下陷，以气短不足以息或努力呼吸有似乎喘为其特征；中气下陷，以常见气往下坠或气不接续或脏器下垂为其特征;肝气不升除与中气下陷并存之外,也有水津不能随气上升而呈下泄或阻塞二阴成为二便不利。</p>
                        <h5>2.血的病变</h5>
                        <p>（1）	血虚：以面色、眼睑、口唇、舌质、指甲淡如白纸，以及心悸、怔忡、月经量少、经闭等证为其特征。形成血虚机理有三:一是生血功能障碍，二是所贮之血丢失，三是病邪或药物引起溶血。仔细辨明血虚原因，才能据以施治。其中生血功能障碍机理与瘀血阻络，血络不通，妨碍生髓之精输入骨内，骨髓生化之血不能输出骨外有关。盖血络为生髓之精,髓生之血唯一出入于骨之路是也。</p>
                        <p>（2）	血瘀:以患者面色晦黯，舌质紫黯，痛经、经闭兼见腹痛拒按、血下有块为其特征;瘀阻血络引起的头、身、胸、胁、腰、腹疼痛，除有跌仆损伤病史可为依据外，多有病程长，痛位固定,有肿块等特征。心主身之血脉,肝为藏血之脏，血瘀当从心肝两系论治。</p>
                        <p>（3）	血溢:是分布于五脏经隧的血络破损所致。肺系络破，则鼻岫、咳血;脾系络破，则牙龈出血、吐血、便血；肾系络破，则尿血、血崩；体表络破，则发斑。导致出血的机理主要有二：一是血分热盛，迫血妄行:肝为藏血之脏，血络乂是肝系筋膜构成。关于热迫血溢机理，古人常常联系肝经予以论述。肺系出血称为肝火犯肺,脾系出血称为肝火犯胃或肠风下血，肾系出血谓之淋属肝胆或肝血不藏，只有皮下出血才称营血热盛，其实也与肝经血热有关，可见热迫血溢应从肝治。二是阳气虚损，血失统摄：阳气虚损，血失统摄，与行于三焦的卫气有关。营行脉中，卫行脉外。营血行于脉中而不外泄，有赖阳气固护。如果卫外阳气有亏，则营血漏泄脉外，成为气不摄血机理。单纯气虚称为气不摄血，兼见阳虚称为脾不统血。此一机理应归咎于脾肾。盖肾为元气生化之根，脾为谷气生化之源，卫外阳气亏损，是因脾肾生化阳气不足使然。</p>
                        <h5>3.津的病变</h5>
                        <p>（1）津虚:水津亏损，称为阴虚。是外感热病或五志化火，耗伤.三焦津液所致。肺系津伤则鼻燥喉干，干咳无痰;脾系津伤则口干咽燥，胃肠燥涩;肝系阴亏则筋脉失濡，手足拘急;心系阴亏则心绪不宁，失眠心悸;肾系阴虚则阴道干涩，月经量少。肾阴亏损，可以波及其余四脏。盖肾为主水之脏，肾阴一亏而五脏皆失津濡故尔。阴虚多呈阳亢，故常兼见颜面潮红;阴不制阳则虚热内生，故常兼见五心烦热，盗汗骨蒸;血中液少，血变浓稠，脉失津充,故常兼见舌瘦而红，脉细而数。深究其理,都与行于三焦的津气相关。盖气须津濡才不化火，阴津亏损，则气失津濡阳失阴济而阳亢之象见矣！</p>
                        <p>（2）	津滞:行于三焦水津，有赖肺气宣发肃降，脾胃摄纳转输，肾阳蒸化为气，才能流通无阻。任何一脏功能失调都可导致水津停滞,成为痰、饮、水、湿四类病变。水津浓缩成稠浊状态者称为痰，清稀状态者谓之饮，两者常常合称痰饮。寒侵肺卫，或脾肾功能障碍、衰退，水津停滞，均可变生痰饮。痰饮渗入气管，可以排出体外，有形可征，称为有形之痰;停于其他部位，只能根据证象推测，称为无形之痰。《金匮要略》将痰饮分为痰饮、悬饮、溢饮、支饮四类:“其人素盛今瘦，水走肠间，沥沥有声，谓之痰饮”，是指饮停腹腔，今称腹水;“饮后水流在胁下，咳唾引痛，谓之悬饮”，是指饮停胸膈，今称胸水「'饮后水流四肢，当汗出而不汗出，身体疼重，谓之溢饮”，是指水流四肢;“咳逆，倚息、短气、不得卧，其形如肿，谓之支饮”，是指饮停肺系气管之内。饮停部位涉及肺胃胸腹四肢。水湿两类病变有所区别。凡见全身浮肿，按之下陷，是水津停积，称为水肿。若水湿停滞,体表出现酸软重痛;肺系出现鼻塞流涕，咽喉不利;脾系出现呕吐、泄泻、腕痞、食少;肝系出现口苦胁痛；肾系出现小便淋涩，阴囊潮湿，妇女带下，均称为湿。痰湿舌苔常呈厚腻，水饮舌苔常呈滑腻;痰湿舌体常呈微胖，水饮舌体常呈胖大而有齿痕,据此再辨寒热，就可确定病机。津气共同升降出入于少阳三焦,津液升降出入异常与气机逆乱有关。所以治疗痰饮水湿四类病变都要配伍行气之品。痰饮多因于寒，故仲景指出：“病痰饮者，当以温药和之”。</p>
                        <p>（3）	津泄:是指水津外泄一类病变。肺系体常自汗，脾系肠滑失禁，肾系小便失禁，白带清稀如水,都是津泄于外现象。究其水津外泄机理，则因阳气亏损，窍隧松弛，不能固密所致。</p>
                        <h2>第三节 病机分析反映的共性</h2>
                        <p>研究脏腑病变的机理，必须以脏腑的结构系统和生理功能为依据，联系病因的六淫、七情，八纲的表里寒热虚实阴阳，精气血津液的盈虚通滞，五脏气机的升降出入和经隧的弛张变化分析病机。只有结合病因、病位、病性各个方面进行分析,才能较为全面、深刻、具体地认识疾病。所以各论每一病机都包括上述各个方面。</p>
                        <p>研究脏腑病机，还要注意以下几层关系，这几层关系也是五大系统发生病变时的共同规律,掌握这些规律，才能做到心中有数，说理透彻，大纲在握，要言不烦。<p>
                        <h3>一、结构系统与生理功能的整体联系</h3>
                        <p>以五脏为主体的中国医学认为，六腑、五体、五官从属五脏的五大生理系统。某脏发生病变,可从本脏所有功能和所属各个部分反映出不同的证象。肺主气之宣降以敷布津液，通调水道，外合皮毛，卫外为固，上通于喉，开窍于鼻。所以，肺系有病，常从肺脏、肺系、肺卫、肺窍各个部位反映出津气的虚滞状态。脾胃主纳运水谷，升清降浊，外合肌肉，开窍于口。脾胃有病，就要从纳运、升降、肌肉、唇口各个方面反映津气的运行失常，盈虚失度。肝藏血液，内寄胆腑，外联三焦，统主筋膜，开窍于目。肝系有病，就要从肝胆、三焦、筋膜、肝窍各部反映气血津液的盈虚通滞，筋膜的松弛、紧张、痉挛、硬化、破损病变。心藏神，主血液的循环运行，外联脉络，开窍于舌。所以心脏有病，常从神、心、血、脉、舌五个方面反映其病变证象。肾藏精、主水、主骨、生髓，脑为髓海,与膀胱为表里，开窍于耳、日之瞳孔及前后二阴。肾病常从肾脏、肾系、肾窍、精水、骨髓、脑髓、耳、目各个方面反映阴阳盛衰现象。只有联系本系统的结构和功能的各个方面进行分析，才能揭示其病变本质。这是五脏病机反映的共同规律之一。</p>
                        <h3>二、	五脏之间的协同制约关系</h3>
                        <p>五脏之间是相互联系，相互制约的。各脏的功能活动既是本系统的紧密配合，也需要五脏间的协同合作，才能完成基础物质的生化输泄，升降出入运动。五脏之间在生理上既不可分，如果发生病理改变，当然也要相互影响。以肾主水液为例，肾阴亏损，其证象就不限于肾脏系统，可以波及其他四脏；肾阳虚损，气化不及，水液内停也要波及其他四脏。再以肝主筋膜为例，因寒引起筋膜收引，产生痉挛，亦不限于肝脏而可遍及五脏。所以分析任何一脏病机,都要考虑五脏间的相互协同及相互联系。这是五脏病机所反映的共同规律之二。</p>
                        <h3>三、	五脏功能与基础物质之间的关系</h3>
                        <p>精气血津液是五脏功能活动的物质基础，是五脏六腑赖以维持正常生命活动的能源。相反，精气血津液的摄纳、生化、贮调、输泄又反映了脏腑间的协同合作。所以，没有脏腑的正常功能活动，就不可能进行基础物质的正常代谢;没有基础物质的正常代谢，五脏亦就不能正常进行功能活动。任何一脏发生病变，无论属于功能障碍还是功能衰退，总要影响气血津液发生病理改变，不是阻滞,就是亏损,要不就是外泄。分析脏腑病机,必须注意气血津液的盈虚通滞和脏腑之间的有机联系。这是五脏病机所反映的共同规律之三。</p>
                        <h3>四、	基础物质之间的依存转化关系</h3>
                        <p>基础物质之间是相互依存和相互转化的。《灵枢-营卫生会》说:“谷入于胃，以传于肺,五脏六腑，皆以受气。其清者为营，浊者为卫，营在脉中，卫在脉外，阴阳相贯，如环无端。”就阐述了水谷精微化生为营卫，以及营行脉中、卫行脉外的依存关系。津气共同运行于少阳三焦，水津由命门真火蒸化成为水气以后,从命门进入少阳三焦，随气运行,仍需卫气温煦，才不凝结，卫气则需水气相济，才不化热，津气之间也存在津随气行，阴阳相济的相互依存关系。这种依存和生化关系一旦失常，就会成为病态。所以，分析每一脏腑病机，都要注意气血津液之间的相互关系是否正常。这是五脏病机所反映的共同规律之四。</p>
                        <h3>五、脏腑功能与基础物质的升降出入</h3>
                        <p>脏腑功能和气血津液都反映升降出入的运动形式。肺主宣发肃降，脾胃主升清降浊，心司鼓运血流，肾司水精藏化，肝胆司升降疏调，反映了五脏协同以维持升降出入的动态平衡。作为五脏功能活动的物质基础，精气血津液的摄纳、生化、输泄过程，也就是五脏气机升降出入的具体体现。所以，五脏气机的升降出入，实质就是气血津液的升降出入。五脏六腑与气血津液之间的关系既然如此密切，那么脏腑气机的升降出入障碍，必然就要反映气血津液的代谢失调;气血津液的升降出入失调，亦将导致脏腑功能障碍。分析脏腑病机，必须联系基础物质的升降出入，阐明二者间的因果关系。这是五脏病机所反映的共同规律之五。</p>
                        <h3>六、五脏经隧的弛张</h3>
                        <p>除应注意上述五个方面以外，还要注意观察五脏经隧的弛张变化。外感六淫的风寒热燥，内伤七情的喜怒悲忧,气血津液的盈虚通滞，都可导致经隧挛急•或松弛。所以除应辨别病因、病位、病性以外，还要观察五脏经隧的弛张变化,这是五脏病机所反映的共同规律之六。观《灵枢-经筋》十二经脉不是痉挛，就是痉挛与松弛并见，说明观察经隧弛张，不可或缺。</p>
                        <p>上述各个方面的共同规律，反映了整体观和动态观两个观点，充分把握这些规律去分析病机,就能揭示一切病变本质。</p>
                        <h2>第四节 证象是分析病机的依据</h2>
                        <p>警察查案,要据犯罪现场所留蛛丝马迹才能拟定侦察方案;法官判案，要有证据才能判断谁是谁非;宰相治国，要据国内国外形势，才能制定建国方略;元帅治军，要据双方形势优劣，才能制定战略战术；医生治病，要有证象及其有关资料,才能据以分析病机,确定治法,五者研究对象虽然有所不同而其理则一。任何病证都有证象表现于外，这些证象从各个侧面反映了病变的本质。张景岳所说:“脏居于内，形见于外”就一语道破了中医辨证要以证象为其根据。临证必须详细收集患者证象及其有关资料，才能进行病理分析，确定病机,据理立法，选药组方,体现中医辨证论治的特色。</p>
                        <p>望、闻、问、切称为四诊,是收集病人证象及其有关资料的方法。虽然现代诊病方法已经大大超越了四诊范围，仍然不能离开这一方法而去单纯追求现代医学的检测手段。因为，为数众多的疾病都必须在确定病性的寒、热、虚、实以后才能据以施治，现代检测手段不能取代这一辨证方法的道理就在于此。有关四诊知识中医诊断学里已<p>有详细论述，可以合参，本节只择其要，余不备述。</p>
                        <h3>一、望诊</h3>
                        <p>观察病人形体、面色、舌体、舌苔，根据形色变化确定病位、病性，称为望诊。</p>
                        <h4>（一）形体</h4>
                        <p>观其形体,可知五脏盛衰，轩岐早有论述。《素问・脉要精微论》云:“头者，精明之府，头倾视深，精神将夺矣！背者，胸中之府，背曲肩随，府将坏矣！腰者，肾之府，转摇不能，肾将惫矣！膝者,筋之府，屈伸不能，行则偻俯，筋将惫矣！骨者,髓之府，不能久立，行则振掉，骨将惫矣!”脑为元神之府，肾精生化之髓充实其中,才能神光焕发，思维敏捷。若头往前倾，目睛内陷，是髓海不足，元神将惫现象。背为胸廓,心肺居于胸中，背曲肩随，是心肺已虚象征。腰为肾脏所在部位，不能转摇，是肾脏功能衰惫。膝部关节由肝系筋膜相联才能运动。屈伸不能，俯身而行，是肝系筋失柔和。肾系之骨内贮骨髓，骨健全赖髓充。不能久立,行则振掉，是骨髓亏损，骨质疏松所致。根据上述证象可以确定五脏盛衰。此外，局部骨节变形是类风湿的特征，局部红肿、有块是疮、痈、疔、市、瘙积象征，凡此种种,都是望其形体得来的证象。</p>
                        <h4>（二）面色</h4>
                        <p>望其面色,可知五脏荣枯。《内经》将面色分为青、黄、赤、白、黑五色以内应五脏，青色属肝，黄色属脾，赤色属心，白色属肺，黑色属肾,若由正常颜色变成异常颜色，就是病态。《素问-脉要精微论》说:“五色者，气之华也。赤欲如白裹朱，不欲如赭；白欲如鹅羽，不欲如盐；青欲如苍璧之泽，不欲如蓝;黄欲如罗裹雄黄,不欲如黄土；黑欲如重漆色，不欲如地苍「'这一论述是对面部五种正常颜色和异常病色的高度概括。正常五色的共同特征是色泽明润，异常五色的共同特征是晦黯不鲜。颜色改变是气血津液病变反应于面，所以应以气血津液的盈虚通滞为其依据,才能揭示病变本质,临床辨证不必拘泥五色内应某一脏器之说。</p>
                        <p>从不同面色所反映的机理来讲，其人面青多属经脉挛急，血行不利的痛证。经脉挛急则因于寒，是故青色主寒、主痛。面色萎黄,是脾胃运化功能失常，气血生化之源不足象征;若见淡黄，血色偏淡，追本溯源,仍因脾不运湿，水湿阻滞使然。若见巩膜及其周身发黄，是胆液从少阳三焦外溢肌表，病名黄疸，黄色鲜明者属阳黄，晦黯者属阴黄。面色泛红，是充血和血分有热,外感内伤皆能致之。温病热入营分，血络有热者恒多；阴虚阳亢，血随气逆，上充于面，面红目赤者亦复不少。也有因寒而见面色微红者，如阴盛阳衰，虚阳上浮，可呈面赤，不可一律视为热证。面色发白，是气血亏损现象，阳气虚则无力鼓运血流，营血虚则不能上荣于面，苍白之色见矣！若因失血或造血原料不足或造血功能障碍，或已生之血遭到某些原因破坏，血虚于内而形见于外，于是眼睑、舌质、口唇、指甲毫无血色见矣！面色发黑,其理有二。一因津凝而黑:黑为水色而肾为水脏，肾阳虚损，气化不及，水邪上泛，可呈目眶薰黑口唇发知或因肾阳虚损，气化不及，色素沉着,亦可呈为面色薰黑。二因血瘀则黑:血瘀内脏或脉络瘀阻，可见黑色。盖血瘀则黑,有诸内而形诸外也。</p>
                        <h4>（三）舌质、舌苔</h4>
                        <p>舌为心的苗窍，心主血脉而血络遍布全身，无处不有，是营血环流之路。舌无皮肤包裹其外，最能反映血的盈虚，察其舌色,可辨营血虚滞，故称舌为心窍。舌体虽是心的苗窍，却与五脏都有联系。因为少阳三焦是通联五脏内外的组织,也是无处不有，是津气流通之所。五脏功能活动与机体每一组织所需气血津液，均从血脉与少阳三焦输送而来。所以五脏功能失调导致气血津液发生病变，都可通过观察舌质、舌苔变化决定气血津液的盈、虚、通、滞，此即察其一部，可概其余。临证之际，望诊位居四诊之首,而舌诊在望诊中又居首位,实有其理在焉。</p>
                        <p>观察舌质老嫩，可审正气盛衰；舌色浓淡，可窥营血变化;舌体胖瘦，可察津液盈虚。舌体胖大，是津液壅滞现象;舌体瘦小，是水津亏损象征;舌质老，是邪气实的表现♦舌质嫩是正气虚的征象;舌色红绛，是邪热入营，血热伤阴，血变浓稠之象;舌质淡白，是失血、血虚，营血不足，或阳气亏损象征;舌质紫黯,则为血瘀现象，一言蔽之，舌可洞察气血津液的盈虚通滞。此外，舌体痿软、颤动，是气血虚损，经脉失荣;强硬、喝斜、吐弄、短缩，是经脉挛急象征;舌纵不收,则是经脉松弛现象。</p>
                        <p>舌上之苔，最能观察津气的变化。少阳三焦为津气运行之路而内联五脏,是以五脏津气皆可从三焦上通于舌。一旦外感六淫相侵，内伤七情之变，五脏功能失调，引起津气发生病变,不论盈虚通滞，都可反映于舌。苔的颜色，可以反映病性寒热，白苔为寒，黄苔属热，黑苔寒热皆能致之。白苔之所以为寒，是气未化热之象;黄苔之所以属热，是因气郁化热,津中所夹胆液为热所蒸，随津外溢于舌之征「苔黑而舌淡者属寒，黑为水色证象见矣！苔黑而舌红者属热，热盛胆液浓缩而黑色见矣！但亦不尽如此，若初起即苔白乏津，是气迅速化热现象，不能因其苔白就断为寒;舌体淡胖而兼苔黄，是阳为湿遏，胆液不能随津下行归肾，上溢于舌所致，不能因其苔黄便断为热。苔的有无，可以窥测津液盈虚。津虚，则无苔或少苔;津滞，则苔厚或苔腻;津虚，则苔干燥乏津;津阻,则苔滑多液。不过此亦仅言其常未及其变。舌上无苔或干燥乏津，并非全是阴虚,假使舌体胖大而无苔、乏津，则是阳不化气,水津不能上承所致，无苔、乏津是阴虚的假象，舌体淡胖才是阳虚水停的真实反映。又如舌上无苔兼见泄泻、阴囊潮湿、妇女带下，此因湿浊下泄而不上溢于舌,也就不能断为阴虚而应断为湿滞。</p>
                        <h3>二、	闻诊</h3>
                        <p>闻诊是从病人发出的各种声音，从其高低、缓急、强弱、清浊测知病性的方法。</p>
                        <p>1.声音高亢是正气未虚，属于热证、实证。</p>
                        <p>2.语声重浊乃外感风寒，肺气不宣，肺津不布，气郁津凝，湿阻肺系会厌，声带变厚，以致声音重浊。</p>
                        <p>3.声音嘶哑新病暴哑，为风寒束表，肺系会厌受其寒侵，经隧收引，津凝会厌，以致不能发音。即《灵枢•忧恚无言》所说:“卒然无音者，寒气客于厌则厌不能发，发不能下，至其开合不致,故无音「'因其病性属寒属实，前人称为“金实不鸣。”久病声音嘶哑,为肺肾阴虚，水不制火，火灼肺金所致。因其病性属虚，前人称为“金破不鸣气若久病、重病突然声哑，是脏气将绝危证。</p>
                        <p>4.声低息短，少气懒言是中气虚损象征。故《素问-脉要精微论》说:“言而微，终日乃复言者，此气夺也。"</p>
                        <p>5.神昏谐语是指病人神志不清，语无伦次。是急性热病，热入心包，蒙扰神明，成为此证。</p>
                        <p>6.郑声疾病末期，出现神志不清，语声低微，内容重复，是久病正衰，心气虚损，精神散乱。</p>
                        <p>7.咳声高低缓急，可辨寒热虚实咳声清高、无痰、舌红、乏津，是燥热犯肺，或水不涵木，木火刑金。咳声重浊，痰多清稀，是外感风寒，内停水饮，或脾肾阳虚，水饮内停。咳声急迫，连声不止，是寒邪束表，气道挛急所致。吐出痰液其咳即止，是痰阻气道之征。</p>
                        <p>呃逆是膈肌痉挛病变。其声高亢，连声不止者，为肺气不宣，脾气不运，肝气不舒,导致膈肌痉挛，病性属实。若呃声低微，时呃一声，病性属虚，脾肾阳虚，膜失其温而呃者有之;肝肾阴虚，膜失其濡而呃者，间亦有之。</p>
                        <h3>三、	问诊</h3>
                        <p>问诊是询问病人及其家属,了解现有证象及其病史，为辨证提供依据的一种方法。明代医家张景岳认为问诊“乃诊治之要领,临证之首务。”综观四诊所获证象，大半均由问诊得来,即知此言不谬。问诊范围甚广，现在仅将《景岳全书》所列十问加以增损进行研讨，余未备述。</p>
                        <p>一问寒热二问汗，三问疼痛四问便，</p>
                        <p>五问呕眩六问悸，七苦八渴俱当辨，</p>
                        <p>九问旧病十问因，病机全从证象验。</p>
                        <p>妇人尤必问经期，先后闭崩宜问遍，</p>
                        <p>再添片语告儿科，外感食积为常见。</p>
                        <h4>(―)寒热</h4>
                        <p>恶寒、发热是病人常有自觉证象,都是卫气病变。</p>
                        <p>恶寒:恶寒机理有二，一是外寒相侵，卫阳被郁;一是自身阳虚，卫阳不固。先以外寒言之:寒流骤至，机体为御寒侵，毛窍因寒而收缩,卫气不能出表，内郁腠理，成为病人自觉恶寒而以手摸之则热，反映了恶寒与发热并见的外寒特征。其基本病理是:外感风寒-毛窍收缩一卫阳被郁-不能出表而恶寒，郁结于里而发热。若寒邪长驱而入，直中三阴，多呈经隧痉挛，产生疼痛、气喘、吐泻、尿闭。次以自身阳虚言之:其人平素畏寒怯冷，是卫外阳气不足。追本穷源,卫外阳气不足是因肾阳虚损使然。其基本病理是:少阴阳虚一卫阳虚损-固护无权-畏寒怯冷。</p>
                        <p>发热:发热都是卫气病变。究其机理，有气郁而化之实热，阴不制阳之虚热,也有营卫不和、阳气下陷、血虚阳浮、阴盛格阳之假热。临证必须察其虚实，辨其真假。</p>
                        <p>实热:卫气行于三焦，其升降出入有赖肺为宣降，脾为升降，肝为升发。如果外感六淫，邪犯肺卫，卫气宣发之机被阻，郁结化热，此为外因导致卫气郁结而化之实热。五脏经隧以及少阳三焦膜腠是由肝系之膜构成，五大网络系统和膜腠三焦都是气血津液流通之所。如果内伤七情，经隧挛急，卫气升降出入受阻，郁结化热，此即所谓五志化火的机理。</p>
                        <p>外感发热，其来势急，内伤发热，其来势缓;外感发热，以全身发热与局部红肿为特征，内伤发热,以局部发热为特征。虽然病因有外感、内伤之别，而其气郁化热机理则同，都属实热。</p>
                        <p>少阳三焦是津气共同运行之路。津为阴，气为阳，阳气得阴津相济，才不化热;阴津得阳气温煦，才不凝滞。若温邪上受，首先犯肺，气郁化热，热盛伤阴，呈为高热、汗出、口渴、脉洪，此为气分实热。若热入营血，以夜热较盛，舌质红绛为其特征。若气郁化热，津凝成湿，阻于少阳三焦，即成三焦湿热，常以舌红，苔黄，脉数为其特征。</p>
                        <p>虚热:阴虚与发热证象并存，谓之虚热。形成虚热机理有二,一是外感发热，余热未尽；一是阴阳失调，虚热内生。热在气分，高热已退，仅见咽干、口燥、舌红、少苔，炉烟虽熄，灰中有火,此为气热伤阴，由实转虚的虚热;若热入营血，热势已减,仅见暮热早凉，此为血热伤阴，由实转虚的虚热。二是慢性疾病或中年以后，营阴暗耗，阴不济阳，成为阴虚阳亢，此为阴阳失调，热由内生的虚热，也以舌红少苔为其辨证依据。</p>
                        <p>热证从其病变本质来讲,只有实热和虚热两类3从其临床证象来讲，也只有热盛伤津的纯热无湿与湿热并见的湿热互结两类,但其证象却因所在部位不同而异。邪在太阳，以恶寒发热为特征;邪在阳明，以热、渴、汗出为特征;邪在少阳，以寒热往来为特征，三焦湿热，以热势时高时低或午后身热为特征。此外，仅因局部气郁化热而呈红肿热痛尤为多见。其余营卫不和、阳气下陷、血虚阳浮，阴盛格阳四种假热，属于特殊发热机理，将在各论有关章节研讨，在此从略。</p>
                        <h4>(二)汗</h4>
                        <p>少阳三焦,是津气升降出入之路，汗的有无，与津气升降出入和盈虚通滞有关，反映了水津不通与外泄两类病变。临证所见，以无汗、热汗、自汗、盗汗、头汗、手足心汗最为常见，虽然都属卫气与水津失调，机理却有不同。</p>
                        <p>无汗:见于外感风寒之表证。寒邪束表，毛窍为御邪侵而呈收缩反应,妨碍津气出表，遂呈表实无汗。</p>
                        <p>热汗:温邪上受或寒邪束表，肺卫受邪，气郁化热,热迫水津外泄，兼见发热、口渴，谓之热汗。</p>
                        <p>自汗:外无表证而体常出汗，谓之自汗。卫强营弱，营卫不和者有之;表卫阳气虚损，津失其固者，亦常有之。</p>
                        <p>盗汗:睡中出汗，称为盗汗。此证阴虚、阳虚、湿热皆能致之，细究其理，都与津气有关。素体阴虚，阳气偏旺，入睡卫阳内入营阴，不能固密于表，加之卫阳与阴分伏热为伍，阴虚阳凑，阳蒸阴分则血热，血热则液泄而盗汗作矣！若肾阳虚不能化气行水，水停少阳三焦，当其入睡之时，卫阳内归阴分而表卫更虚，无力固护阴津，则水津外泄而盗汗作矣！若气郁化热，津凝成湿，停滞少阳三焦入睡时卫气内归阴分,凌晨时卫气由阴出阳，水津随卫气外泄，而盗汗亦作矣！上述三类盗汗，湿热盗汗最为常见，阴虚盗汗偶亦有之，阳虚盗汗常与自汗并存而为数最少。或问:古人均谓盗汗是因阴虚阳凑，热蒸阴液而呈盗汗，何以竟谓湿热盗汗居多？须知此证以小儿与青年、壮年最为多见，小儿与青年生机旺盛，阴阳无所偏颇,何来阴虚？察其舌红苔黄微腻，即为湿热盗汗指征。</p>
                        <p>头汗:汗出见于头部，齐颈而还,兼有头身困重，腕痞苔腻,是三焦湿热上蒸头面引起;若食则头面汗出，是胃热上蒸使然。</p>
                        <p>半身出汗:汗出仅见身体一侧，或左、或右，或上、或下，多因营卫失调，或痰、瘀阻滞身体一侧，经脉不通，气血不能周流,以致患侧无汗，健侧有汗。妇女更年期常见身半以上阵阵汗出,甚则面部烘热，乃营卫不和，卫气升多于降，水津不能从少阳三焦下行归肾，而随卫气上升使然。治当和其营卫，调其升降，导湿下行。若因阴虚阳亢，则宜滋阴潜阳,知柏地黄汤加牡蛎、桑叶，即为此设。</p>
                        手足心汗:脾主四肢，手足心汗多与脾胃有关。故《张氏医通》云:“脾胃湿蒸，旁达四肢，则手足多汗气
                        <p>阴囊潮湿:是因水湿从少阳三焦下注前阴所致。究其病性寒热，则三焦湿热下注者有之;寒湿下注者有之;不偏寒热，仅因脾虚不能运湿，湿随气陷，下注前阴者，亦有之。</p>
                        <h4>（三）疼痛</h4>
                        <p>疼痛是常见证象之一,实证是因经隧挛急,气血津液流通不利;虚证是因气血津液亏损，经脉失去阳气之温，津血之濡，挛急而痛。疼痛病理研究，岐黄早有论述。《素问•举痛论》云:“五脏卒痛，何气使然？经脉流行不止，环周不休。寒气人经而稽迟，泣而不行，客于脉外则血少，客于脉中则气不通，故卒然而痛。其痛或卒然而止者,或痛甚不休者，或喘动应呼者,或心与背相引而痛者，或胁肋与少腹相引而痛者，或腹痛引股者，或痛宿昔而成积者，或卒然痛，死不知人，少间复生者，或痛而呕者，或痛而后泄者，或痛而闭不通者。凡此诸痛，各不同形，别之奈何?"在此提出外寒相侵引起经隧痉挛产生疼痛，因其病位涉及五脏而有不同证象，如何辨证？下面对此作了解答。“寒气客于脉外则脉寒，脉寒则缩蹈，缩踌则脉继急，细急则外引小络，故卒然而痛，得昊则立止;因重中于寒，则痛久矣！寒气客于经脉之中，与昊气相薄，则脉满,满则痛而不可按也。寒气客于肠胃之间，膜原之下，血不得散，小络急引故痛，按之则血气散,故按之痛止;按之则热气至，热气至则痛止矣！寒气客于侠脊之脉则深，按之不能及，故按之无益也。寒气客于冲脉，冲脉起于关元，随腹直上，寒气客则脉不通,脉不通则气因之，故喘动应呼矣！寒气客于背俞之脉则脉泣，脉泣则血虚，血虚则痛,其俞注于心,故相引而痛。寒气客于厥阴之脉，厥阴之脉者，络阴器、系于肝，寒气客于脉中则血泣、脉急，故胁肋与少腹相引痛矣！厥气客于阴股，寒气上及少腹，血泣在下，相引故痛引阴股。寒气客于肠胃，厥逆上出，故痛而呕也。寒气客于小肠，小肠不得成聚，故后泄而痛矣！热气留于小肠,肠中痛，獐热焦渴,则坚干不得出，故痛而闭不通矣！”所举12种痛证，其中10种都因寒引起经脉挛急，气血凝涩而呈疼痛。唯有“满则痛不可按”是因寒导致局部气郁化热，才久痛不休;“痛而闭不通”是因风寒束表,导致气郁化热，热盛伤津，肠中燥屎停积,不通而痛,说明痛证因寒者多。因为五脏经隧均由肝系筋膜构成，筋脉有遇寒则挛的特性;流通于经隧中的气血津液,有遇寒则凝的特性。经脉挛急，气血不通，则痛作矣！不过应当留意，局部气郁化热，以致充血、水肿、化脓、糜烂而呈疼痛，较为常见,不可一律视其为寒。余如血瘀成瘤i，液结为石，骨质增生，导致气血不通而痛，亦复不少。</p>
                        <p>疼痛随其性质不同，各具特征，不同特征反映了不同的病变本质，常见疼痛特征,约有以下十种。</p>
                        <p>一是胀痛:痛有胀感，谓之胀痛,是气郁脉挛的病变。此证以胸、胁、胱、腹、腰、甑胀痛最为常见。外感风寒或恚怒伤肝，经脉挛急,卫气运行不利，常成此证。单纯气滞者少，兼见血郁、湿滞者多。</p>
                        <p>二是审痛:疼痛部位游走不定，谓之窜痛，也是气郁脉挛病变°此证病在气分，是因邪客少阳三焦，卫气运行不利，而兼经脉挛急使然。游走不定，是因少阳三焦，心系血络,表里上下，无处不有使然。</p>
                        <p>三是重痛:疼痛兼有重感，谓之重痛，是津凝脉挛病变。湿滞体表常见此证。《金匮要略》所谓“腰下冷痛，如带五千钱”，即属湿滞体表腰部而呈重痛实例。</p>
                        <p>四是刺痛:痛如针刺谓之刺痛，是血瘀脉挛病变。此证有外伤病史、或病程较长、或痛点固定不移，属于血瘀。若系新病,部位并无定处，则与掣痛毫无二致，是因经脉挛急所致，不是瘀血阻络，应当明辨。以上是气血津液病变表现的特征。</p>
                        <p>五是掣痛:经脉挛急而痛，谓之掣痛。寒主收引，经脉因寒而挛，牵引小络,则疼痛作矣！但亦不尽如此，因热而痛者偶亦有之。如暑温热入心包（大脑）而呈暴痛如裂即是一例。</p>
                        <p>六是绞痛:疼痛剧烈犹如刀绞，谓之绞痛。机理不一。中寒气闭，胃肠经隧挛急、套叠而痛者,有之;情绪激动，包络挛急，心区绞痛者，有之;胆液凝结成石，阻塞胆道而痛者,有之；尿液凝结成石，阻塞尿道而痛者，亦有之。凡此种种，均因经脉痉挛或阻塞不通使然。唯有肿瘤后期剧痛难忍，不属此例。以上是以经脉挛急为主的特征。</p>
                        <p>七是冷痛:痛处觉冷或遇冷即痛，谓之冷痛，病性属寒。多因寒滞经脉、关节，津血痹阻所致。也有自身阳虚，经脉失温而致者。</p>
                        <p>八是热痛:痛处灼热谓之热痛。是局部气郁化热,津凝成湿，血郁于络，阻滞不通的综合反映，病性属热。如体表之疮、痈、疔、市，脾系之龈肿而痛、胃痛、腹痛等等，都是局部病变。</p>
                        <p>九是隐痛:局部微痛不休，谓之隐痛。多由局部气血微结不通,或糜烂久不愈合,或气血亏损不能温养经脉所致。见于多种慢性病中。</p>
                        <p>十是虚痛:经隧空虚而痛，谓之虚痛，病性属虚。气虚、血虚皆能致此，如饥饿则胃部疼痛，乃气虚而挛也；吐、翊、血崩，大量失血而心区绞痛，小腹急痛者，乃血虚而挛也。</p>
                        <p>以上十种痛证，从病因言之有外寒相侵,有内伤郁怒;从组织结构言之有经脉痉挛，组织变态;从基础物质言之涉及气、血、津、液;从病程言之有长有短;从疼痛程度言之有轻有重,如此辨证，其理明矣！思路清矣！</p>
                        <h4>（四）小便异常</h4>
                        <p>小便异常，常见尿量异常、尿质异常、排尿异常三类证象。</p>
                        <p>肾系经隧是由肝系之膜构成，三类证象虽然都是水液失调,实与尿路痉挛、松弛、受压有密切关系。少阳三焦是将肾系与其余四脏连为一体的大腑，是水津升降出入之路。水液能在三焦运行，需要五脏相互协调，才能运行不息，通调无滞。任何一脏功能失调，都会引起水津通调失度。水津随其卫气升降出入,卫气发生病变，出现气虚、气滞、气陷，都可引起小便失调。所以小便异常，应当联系五脏与卫气进行分析,才能揭示致病机理。除此以外，肾系血郁、血瘀、血溢，液结成石，阻塞尿路;精壅精室，压迫尿路;或尿路痉挛，妨碍尿液下行;尿路松弛，肾关失键,也可引起小便失调。所以，五脏皆能令其小便失调，非独肾也;气血精液皆能令其小便失调，非独津也。</p>
                        <h5>1.尿量异常</h5>
                        <p>（1）	尿量增多：口渴、尿多，昼夜尿量超过2500ml,谓之消渴。尿中含糖者谓之糖尿病，无糖者谓之尿崩证。多由肾阳虚损，不能化水为气，蒸腾四布使然。故景岳云:“阳不化气则水精不布，水不得火则有降无升，所以直入膀胱而饮一波二,以致源泉不滋（指肾阳不能化水为气上升于肺），天壤枯涸者，是皆真阳不足，火亏于下之消证也。''但亦不能专责肾阳不足，气虚不能固精、摄精（指谷精）也难辞其咎,两种机理并存，尤为常见。此外，一般小便清长量多，畏寒怯冷,也是肾阳亏损，肾气不固所致。</p>
                        <p>（2）	尿量减少:小便昼夜少于400ml,谓之尿少。小便少而短赤，为热盛伤津，或吐泻失水，或过汗伤津所致。若尿少而见浮肿,则是肺脾肝肾四脏功能异常，肺失宣降，脾失健运，肾失气化，肝失疏调，水液内停所致。</p>
                        <h5>2.尿质异常</h5>
                        <p>（1）	尿浊尿液浑浊，或白如米泪，或凝结如脂，排尿时无痛感，谓之尿浊。兼见形寒怯冷，腰膝酸软者，为肾阳不足，气化失司，脂液下流;兼见神疲食少，小腹下坠者，为脾虚气陷，气不固摄谷精，精微下泄;小儿尿如米治，则因食积阻滞，运化失常，谷精随其水液下注前阴。所以小便浑浊，阳虚不能转化谷精，下泄而浊者有之;气虚不能固摄谷精，下泄而浊者有之；脾胃功能障碍，谷精下泄者亦有之。</p>
                        <p>（2）	尿血:尿中带血，尿色变红，或夹血块，谓之血尿。兼见尿频、尿急、尿痛，为邪客肾系，气郁化热，由气入血，热迫血溢，成为血淋;兼见潮热盗汗，为痛虫侵入肾系，化热伤阴，肾水亏虚，阴虚火旺，灼伤血络，此为肾系自病。尿道涩痛,兼见口舌生疮，舌尖红绛，为心经湿热从三焦下注前阴，热迫血溢，是心病及肾，心肾同病。兼见发热口苦脉象弦数，为肝经血热，迫血外溢，是肝病及肾，肝肾同病。小便呈洗肉水样，色淡微红，兼见面色苍白，食少神疲，为脾气虚弱，统摄无权，是脾病及肾，脾肾同病。</p>
                        <p>（3）	小便夹精:尿中夹有精液，或尿后精液自出，谓之小便夹精。兼见尿浊、尿痛，舌红苔黄，是湿热蕴结下焦，扰动精室;兼见五心烦热，舌红少苔，是肾阴亏损，虚火扰动精室;兼见形寒怯冷，腰膝酸软，是肾阳虚衰，肾气不固，封藏不密;兼见食少便浦，少气懒言，是中气下陷，气不摄精。</p>
                        <h5>3.排尿异常</h5>
                        <p>（1）小便频数:兼见尿急、尿痛，舌红、脉数，是邪侵肾系，气郁化热，湿热蕴结，尿路挛急所致。病在气分，谓之气淋;热入血络，谓之血淋;感冒咳嗽,兼见小便频数，是肺失宣降，水道失调;兼见小便清长，夜尿增多，则病性属寒，是肾阳不足，肾气不固，膀胱失约所致。</p>
                        <p>（2）	小便不通:小便不通，谓之瘾闭,寒热虚实皆能致之。骤感风寒，肺卫闭郁，尿路挛急而闭，病性属寒。湿热蕴结，精室肥大,压迫尿路而闭，病性属热。肾阳衰惫，气化无权;或中气下陷，清阳不升而闭，病性属虚。下焦蓄血，阻于丹田（前列腺），压迫尿路，血瘀成瘾，液结成石,阻塞尿路而闭，病性属实。此外，肾功衰竭，气化不行，水停为肿而呈小便不通，间亦有之。</p>
                        <p>（3）	小便涩痛:急欲小便又欲便不能而呈尿频、尿急、尿痛，是小便不畅。小便不畅是因尿路挛急使然。盖五脏经隧均由肝系之膜构成，经隧感受刺激而呈挛急，于是频急而痛见矣！若小便不利兼见尿来中断，因结石阻于膀胱下口者有之;精室肥大、结石、血瘀压迫尿路者亦有之。</p>
                        <p>（4）	余沥不尽尿后点滴不尽，是因肾气虚损,不能固摄膀胱所致。湿滞丹田（前列腺），肥大、肿块压迫尿路，亦常有之。</p>
                        <p>（5）	小便失禁:小便失去控制而自遗，谓之小便失禁。为肾阳虚衰，肾气不固，膀胱失约。若病人神志昏迷而小便自遗，是因心神失其主宰，病势垂危。</p>
                        <p>（6）	遗尿:梦中小便自遗，谓之遗尿，小儿多见,成人偶亦有之。兼见食少神疲，是肺脾气虚，气不摄津;兼见形寒怯冷，是肾气未充，膀胱失约;两种机理并存，尤为多见。如果不是梦中遗尿，而是咳则尿出，妇女可见此证，是因肾的气化不及，水液内停，从三焦上逆犯肺而咳；复因肺气虚损，咳时耗气，津无气摄而遗。所以咳是肾失气化，水泛高原，病本在下而病标在上;遗尿是因肺气虚损，不能摄津，病本在上而病标在下。遗尿是下病及上与上病及下两种机理并存的反映。</p>
                        <h4>（五）大便失常</h4>
                        <p>便秘:便秘属于脾系病变，以大便干燥为其特征。形成便秘机理有三:一是水津亏损，二是水津不布,三是传导无力。</p>
                        <p>水津亏损:寒邪束表，温邪上受，气郁化热，热盛伤津;或素体阴虚;或营阴暗耗,形成便秘,都是水津亏损所致。吴鞠通将其喻为“无水行舟”。</p>
                        <p>水津不布:水津不布机理有二。一是肾阳衰惫，气化失常,水津不能四布，五经不能并行,致使肠道干涩，成为便秘。应兼困倦无力，舌淡而胖，才可确定其为肾失气化，水精不布。二是三焦气滞，也可影响水津不布。津气运行三焦，津随气行，亦随气滞。如<p>果肺气失宣，脾气失运，肝气失疏，三焦气郁影响水津不能敷布于肠，可呈便秘,古人所谓气秘，实即指此而言。若大便并不干燥，唯呈大便不爽,也是三焦气郁使然。此种便秘或不爽均须兼见脱腹、胁肋、腰腹胀痛，才是气郁所致。</p>
                        <p>传导无力：与卫气虚损有关。肠能蠕动不息，有赖气为动力。若中气虚损，卫气无源，动力告匮,则肠道传导无力而便秘见矣！</p>
                        <p>综上可知，肺脾肝肾功能异常皆能令人便秘，非独肠也;气虚、气滞、血虚皆能令人便秘,非独津也。</p>
                        <p>泄泻:泄泻是脾系病变，以大便稀清，次数增多为其特征，是脾运障碍，肠内水分增多所致。泄泻机理甚多，就其病性言之，有寒有热，有虚有实’就其机理言之，有脾系自病，也有他脏累及。从致病因素来讲，饮食不洁，邪从口入，侵犯胃肠，脾运障碍，气郁化热,津凝成湿，湿热互结，下趋成泻者，有之;暴饮暴食，食积停胃，传导异常而泻者，亦有之。从自身功能失调来讲，脾运障碍，水湿停滞，下注成泻者，有之；中焦虚寒，运化力弱，水湿停滞,下注成泻者,有之;虚寒更甚，不能腐熟水谷而成完谷不化者,有之;泄泻日久，肠道松弛，成为洞泄者，亦有之。从他脏累及来讲，外感风寒，肺卫闭郁，津气不能出表,郁于腠理三焦，从脾系上端咽嗑相连之食管夹层下归胃肠，湿随气陷成泻者,有之；肾阳气化不及，水湿停滞三焦，妨碍肠道水津输出，下注成泻者，有之，肝木克土，肠道蠕动增强而使大便次数增多者,有之;水谷未曾消化即因传导亢进而成殖泄者,有之;肠道痉挛，腹痛即泻者，亦有之。由此可见，别脏功能失调引起水液正常输布或肠道弛张失度，都可导致泄泻,故谓肺脾肝肾皆能令人泻，非独肠也。</p>
                        <h4>（六）呕吐</h4>
                        <p>呕吐属于脾系病变，究其病理,是因脾运障碍，津气逆乱，经隧挛急使然。呕吐病位虽然在胃，却与心肺肝肾有关。盖津气运行关系肺脾肝肾，经隧挛急关系心肝故也。形成呕吐机理有八。从脾系功能失调言之:食积停胃，传导失常，胃气不能顺降上逆而吐酸腐者,有之；肠道高位梗阻，腹痛，便结，妨碍胃气下行，上逆而吐者，有之;脾胃同主中焦，职司升降，中焦虚寒，升降失调，吐泻腹痛，兼见舌淡脉迟者，有之，饮食不洁，邪犯胃肠，气郁化热,津凝成湿，湿热互结，升降失调，吐泻交作，兼见发热、舌红、脉数者，亦有之。以上四种机理，属于脾胃自病。从他脏累及言之:外感风寒，腠理凝闭，津气不能出表，阻碍胃肠上输水精之路，升降逆乱，外有表证而内有呕吐，或气郁化热，津凝成湿，湿热互结,吐泻而兼舌红苔黄者，有之；肾功能障碍或肾功能衰竭，气化不及，水停三焦，胃肠输津功能受阻，成为渴欲饮水，水入即吐，或呕吐兼有尿臭味者,有之;邪传胆经，气郁化热，横逆犯胃，呕吐兼见口苦、胁痛者，有之;温邪上受，首先犯肺，气郁化热,从少阳三焦逆传心包，心包受邪，同时又从三焦波及胃腑，呕吐不止兼见高热、头痛者，亦有之。以上四种机理是因他脏有病，波及胃肠。由此可见五脏皆能令人呕吐，非独胃也。黄元御云:“胃本不呕,胆木克之则呕。”说明呕吐是因胃肠挛急使然。</p>
                        <h4>（七）眩晕</h4>
                        <p>眩晕是以病人有时突然眼黑，少顷方定；或自觉如坐车船，天旋地转，恶心欲呕为其特征。《素问•至真要大论》云:“诸风掉眩，皆属于肝”。肝主全身筋膜，本证属于膜络病变，病在肝系。其致眩机理与五脏功能失调及气血津精虚滞有关,病标虽在肝系,实由五脏气血阴阳发生病理改变所致。其基本病理是五脏功能异常，气血津精阻滞、亏损，引起膜络挛急、松弛，成为眩晕。</p>
                        <p>形成眩晕机理有八。一是气虚致眩:元气虚损-心气虚不能鼓动血流，卫气虚不能约束脉络-营血上升无力一脑失血充-成为眩晕。二是血虚致眩：营血亏损-脉络空虚一脑失血荣-成为眩晕。三是阴虚致眩：阴津亏损-水不涵木-膜络失濡以致紧张-成为眩晕。四是精虚致眩:肾精亏损不能生髓-髓海不足-脑膜松弛或紧张-成为眩晕。五是阳虚致眩:肾中阳微-阴精不能化生阳气一脑失阳气温煦，经脉挛急-成为眩晕。六是气郁致眩：风寒外束，或暴怒伤肝-膜络挛急-三焦气郁-清阳不能上升，浊阴上踞阳位-膜络肿胀、挛急-成为眩晕。七是血郁致眩:肝经火旺,疏泄太过-血不贮藏于肝而充盈于脉-血随气逆-充于脑络一成为眩晕。八是津凝致眩：肾阳虚衰不能化气行水-从少阳三焦上逆于脑一阻于经脉则脉胀而急，闭于膜原则膜松而弛-成为眩晕。综上，五脏功能盛衰、气血精虚滞皆能致眩，非独肝也。</p>
                        <h4>（八）心悸</h4>
                        <p>病人自觉心中动悸不宁，谓之心悸,是心系病变。其发病机理与心脉挛急和气血津液虚滞攸关，其中津气虚滞尤为常见。津气生化输泄关乎脾肾，联系脾肾分析其理，才能揭示致悸根源。此证有寒有热，有虚有实。虚证是因心气不足。心气是由肾系元气与脾系谷气合成的卫气从少阳三焦输送而来，成为心脏搏动的动力。所以心气虚损实与脾肾功能亏损休戚相关。心悸兼见声低息短，少气懒言，舌淡而嫩，脉虚无力，此为单纯气虚;兼见咽干、口燥、舌红、少苔，脉细微数，此为气阴两虚;兼见头晕眼花，困倦无力，舌质淡白，脉象虚弱，此为气血两虚;兼见神疲欲寐，形寒怯冷，舌质淡嫩，脉迟无力，此为阳气虚损。四者虽然都是心气不足,兼证却有阴虚、阳虚、气虚、血虚之异。实证是因水液失调，变生痰饮水湿,从少阳三焦侵犯心系，成为心悸。兼见头晕失眠，苔黄而腻，脉象滑数,此为肺脾同病，津气失调，气郁化热，炼液成痰，痰火扰心;兼见起则头眩，时吐稀涎，舌淡苔滑，脉象弦缓，此为脾肾同病，饮邪内结，上凌于心;兼见形寒怯冷，四肢浮肿，舌胖而有齿痕,脉象弦、濡、退、数均有而无定体,此亦脾肾阳虚，气化不及，水饮内停，上凌于心。此外，肺失宣降，长期不愈，妨碍心血运行，肺心同病而呈心悸、气喘、咳痰、浮肿、口唇发绡,此为肺病及心，由功能失调转为器质变态，殊难治愈。</p>
                        <p>惊悸：目击异物，耳闻异声，遇险临危，心存恐怖,突然心率加快，谓之惊悸。是因神受刺激，心神浮动,导致神、心、血、脉同病而与一般心悸有所不同。因惊致悸,不仅阴血有亏，心气亦有不足，以致一遇意外，心脉收引，即呈惊悸。若气定神闲则处变不惊，何悸之有？此证虽然有虚有实，虚证较为常见，实证偶亦有之。兼见夜寐不宁，时而惊悸，头晕眼花,脉细微数者，乃阴虚有热之惊悸也;兼见眩晕痰多，大便秘结，苔黄而腻,脉滑数有力者，乃痰火凌心之惊悸也。因惊而悸，治宜补其气血虚损，重镇安神，不宜使用行气药物，唯虚中夹滞才能用之。</p>
                        <p>怔忡:平时心率正常，十日半月突然心率加快,发后渐复正常，谓之怔忡。此证本虚标实,是因心肾阳虚。心气虽亏而其虚不甚，故平时不悸。但因肾阳已衰，气化不及，水饮内停，停积稍久则凌心而悸矣！加之肾阳虚衰，表卫不固，微感外寒则脉挛而悸矣！</p>
                        <h4>(九)口苦</h4>
                        <p>人体之液,唯肝分泌的胆汁色黄、味苦，故口苦一证，是因胆汁分泌过多或因胆汁不能随其水津下行，滞留少阳三焦,随津溢出舌面所致。外邪相侵，传入厥阴，或郁怒伤肝，气郁化热，肝经火旺，胆液分泌过多,上溢而呈口苦，此为肝系自病。其基本病理是:外感、内伤-肝经火郁-胆液生化过盛-渗入少阳三焦，随其水津蒸腾而上-溢出咽舌一呈为口苦兼见舌质偏红，苔呈黄色,脉象弦数。若病人自觉口苦而舌质淡胖,脉象沉缓，则非热蒸胆液上溢,而是脾肾阳虚，气化不及，湿滞三焦，致使渗入三焦的胆液不能下行,随津上溢口舌所致。其基本病理是:脾肾阳虚-气化失常-湿滞三焦-胆液不能随津下行而反随津上溢咽舌-成为口苦。三焦湿热兼见口苦，亦同此理。</p>
                        <p>或谓：口苦人皆谓是肝经有热所致,今谓无热亦有口苦,恐非确论;人皆谓其胆液仅注于肠，参与消化，今谓尚有部分胆液渗入三焦随其水津运行，亦似杜撰。提出部分胆液渗入三焦随津运行的证据有三:黄疸病人常呈周身发黄，如果胆液只注于肠而不渗入三焦，随津运行,怎能导致全身发黄？此其一也。有的病人所出汗水能将衬衫染成黄色，称为黄汗。若非确有部分胆液是随少阳三焦水津运行，何来黄汗？此其二也。人体之液，只有胆汁才是黄色,舌苔能够变黄,是因热蒸胆液随津外溢于舌所致，若无部分胆液随津运行,舌上之苔怎能变成黄色？此其三也。若口苦兼见舌淡而胖，淡无热象可言，胖是湿滞象征。这种口苦自然是因水湿阻滞少阳三焦，妨碍胆液下行归肾，上溢于舌所致。余遇此证常用胃苓、理苓诸方利水渗湿获效，证明确有此种机理，绝非杜撰。综上所述,胆汁生成以后，其输泄之路有三：一是从胆管输注于肠;二是渗入三焦随其水津运行;三是从肝脏进入血络。胆汁分泌以后进入血络随血运行，血中胆固醇增高，即其验也。</p>
                        <h4>（十）口渴</h4>
                        <p>病人常欲饮水或渴不思饮，谓之口渴。口渴一证,并非纯属津虚，与气血也有密切关系。究其机理有五:一是气郁化热，热盛伤津;二是突然失血，血虚阳浮；三是脾肾障碍，水津不布；四是肾阳衰惫，气化失常;五是湿热阻滞，津不上承。除此以外，五脏阴虚,津不上濡而呈口干不渴者有之;脾肾阳虚,水津不布而呈口干不渴者亦有之。</p>
                        <p>气郁化热,热盛伤津:外感风寒，表卫闭郁，温邪上受，首先犯肺，肺气宣降失常,郁结化热，热盛伤津，引水自救，口渴见矣！口渴兼见发热，汗出，脉洪有力，自是热盛伤津使然。其基本病理是:伤寒、温疫-侵犯肺卫-气郁化热-热盛伤津-引水自救-口渴。</p>
                        <p>大量失血,血虚阳浮:血行脉中，谓之营阴；气行脉外，谓之卫阳。血行脉中而不渗出脉外，有赖阳气固摄，这一关系称为血须气固;吸入清气有赖血载才能运行全身,这一关系称为气须血载。营卫相依，气血相恋，不即不离，亲密无间。如果突然大量失血，血中清气失去依托，浮越脉外而夹卫气外泄,同时与卫气偕行之水津亦随气从汗孔外泄，于是发热、汗出证象见矣！汗出伤津，引水自救，则口渴证象亦见矣！口渴见于失血以后，兼见发热、汗出脉大而充，自属血虚阳浮机理。其病理程序是:突然大量失血-血中之气无血运载-浮越脉外随其卫气出表-津失气固也随其气外泄-发热、汗出-汗出伤津，引水自救-口渴。</p>
                        <p>上述两种机理出现相同证象，却有一寒一热，一虚一实之异,前者属于实热，后者属于假热。</p>
                        <p>脾肾障碍，水津不布:脾主运化水湿，肾主化气行水，水津能够蒸化为气，运行四布，实与两脏休戚相关。如果平素阳虚，一遇外寒相侵，脾功能障碍，不能运输水津，肾功能障碍不能化气行水，水津不布，津不上承，则渴欲饮水，水入即吐,舌淡脉缓证象见矣！渴欲饮水，是因脾不运湿，肾不化气，水气不能上承于口所致;水入即吐，是因脾功能障碍，饮入之水不为肠道吸收，仍然吐出使然。何以知其病因为寒？从舌淡无热知之。其基本病理是:脾肾阳虚，外寒相侵—脾肾功能障碍-不能运化水湿,化气行水-水津不布,津不上承-口渴与水入即吐并见。</p>
                        <p>肾阳衰惫，气化失常：肾为水脏,水精之能四布，五经并行，实赖肾阳将其蒸化为气，才能随其卫气敷布全身。如果肾阳疲惫，气化失常，水津不能上承于口，则口渴见矣！景岳在论消渴证时指出：“阳不化气，则水精不布，水不得火，则有降无升，所以直入膀胱而饮一澳二,以致源泉不滋，天壤枯涸者，是皆真阳不足，水亏于下之消证也。”水津不能上承之渴与小便特多之消并见，故景岳喻为“天壤枯涸”，此证曾在小便异常述及，糖尿病与尿崩证皆能见此,可以合参。</p>
                        <p>湿热阻滞，津不上承:津气运行三焦，有赖肺为宣降，脾为升降。湿热阻滞少阳三焦，多因肺气宣降失常,脾胃升降失职，气郁化热，津凝成湿，湿热互结,阻滞三焦，水津不能随气上承于口，于是口渴；口渴是因湿阻而非津伤，才呈渴不思饮。但应兼见胸闷不饥，酸软乏力，身热不扬，苔黄微腻,才属湿热阻滞，津不上承机理。</p>
                        <h4>(十一)月经异常</h4>
                        <p>《素问•上古天真论》云，'女子二七而天癸至，任脉通，太冲脉盛，月事以时下，故有子……七七任脉虚，太冲脉衰少，天癸竭，地道不通，故形坏而无子也。”女子之经在十四岁前后开始一月一行，因其恰与月球环绕地球一月之数相符，所以称为月经。月经来潮与冲任两脉有关。冲任二脉起于女子胞宫，属于肾系。月经是否正常，与冲任二脉盈虚关系至切。月经一月一行，应时而至，尤与肝系有关。肝藏血，主筋膜，司疏泄。全身经脉均由肝系筋膜构成，是供气血津精流通的网络系统。月经是否正常，与肝脏输出血量多少以及经脉弛张有关。经脉弛张失度引起月经不调称为肝的疏泄失常。月经异常，也与津气的盈虚通滞关系密切。气指卫气,肇始于肾而充盛于脾，其升降出入则赖肺为宣降，脾为升降，肝为疏调。气虚则血失固摄而下泄，气滞则经脉挛急而血行不畅。津随气行三焦，其生化输泄则与肺脾肝肾有关。津虚则血中津亏而经行量少，血色深红;津滞脉内，则血中之液增多，而呈经淡如水;津滞脉外,则妨碍气行而呈气郁湿滞，从而导致月经愆期，时前时后。所以月经异常，气虚、气滞者有之，血虚、血滞者有之，阴虚、湿滞者有之，冲任虚损者亦有之。</p>
                        <p>分析月经异常机理,要以期、量、色、质为其依据，才能较为准确地作出诊断，所以应该详细询间经期长短，经行天数，经量多少，经色深浅，有无瘀块,才能据证析理，准确无误。兹分述其常见病理于下。</p>
                        <p>经行先期：月经二十余日即来，甚至半月一至,称为经行先期。先期而至机理,肝经有热者,有之;气虚不固者,有之;肝经有热与气虚不固两种机理并存，亦常有之。兼见心烦易怒，胁痛口苦，经色深红，质稠不淡，舌红脉数,即因肝经有热，血不内藏于肝而提前疏泄所致;兼见心悸气短，少气懒言,经色淡红而稀，舌淡而嫩，脉缓无力，即气虚不能束脉，脉络松弛，气虚不固使然;若见心悸脉弱，时有潮热，即是气虚有热,阴虚有热使然。</p>
                        <p>经行后期:经期三十余日甚至四、五十日一行，谓之经行后期。是因肝经虚寒，经脉因寒而挛，气血因寒而凝,不能应时而至,故常兼见经行腹痛,色黑夹块，舌淡脉弱。此种机理,称为冲任虚寒。</p>
                        <p>经行先后无定期:经行时前时后，谓之先后无定期。兼见经前或经行胸胁腰锹少腹胀痛者,为肝郁气滞,脉络挛急，疏泄失调;兼见面色无华,神疲乏力，色黑夹块，舌淡脉弱者，为冲任虚寒，气血虚滞的虚中夹实证候。</p>
                        <p>经行腹痛:未婚少女最为常见。经前或经行腹痛机理,肝寒气滞,经脉挛急而痛者有之;肝郁化热，经脉挛急而痛者,有之;瘀血阻络，经行不畅而痛者，亦有之。兼见小腹冷痛，得温痛减，面青、舌淡，脉弦而缓者，此为肝寒气滞，经脉挛急而痛也;兼见胸、胁、乳房、腰甑胀痛,舌淡脉涩,此肝郁气滞而痛也;若见舌红脉弦，此为肝郁化热，经脉挛急而痛也;兼见血有瘀块，块下痛减，腹痛拒按者，此为瘀血阻络,不通而痛也。因寒而痛者最多，肝郁脉挛而痛亦复不少，血瘀而痛则偶亦有之。</p>
                        <p>月经量少:营血充盈，何来量少,唯因血虚津乏，化源不足，始能致此。是故血虚、阴虚居多，脾虚气弱，生化不足，或肾功能障碍,不能化精为血，偶亦有之。如因失血继见月经量少,兼见眼睑、指甲、唇舌淡白，此为血虚所致。兼见月经先期，潮热盗汗，两额发赤，唇若涂朱,脉象细数，此为血中津液亏损所致。兼见食少便澹，声低息短，少气懒言。舌质淡嫩,脉弱无力，此为脾虚气弱,气血生化不足使然。</p>
                        <p>月经量多:月经之量超出正常范围，谓之月经量多。究其量多机理，血热、气虚皆能致之。肝藏血、司疏泄。疏泄适度，月经自然正常。若肝经有热，迫血妄行，血不贮藏于肝而疏泄太过，月经量多见矣！血行脉中而不溢出脉外，有赖气为固摄。气充则固摄有权,月经之量正常。若气虚血失气固，则经量亦多矣！肝经血热，迫血妄行，必兼舌红、脉数;气虚不固，必兼舌质偏淡，脉弱无力，依此辨证，无余蕴矣！</p>
                        <p>经闭不行:月经数月或经年不至，称为经闭。致闭机理不外两端，一是血少无源,一是血阻不通。就其血少经闭言之，一因血的生化之源不足，一因贮存之亏已甚。兼见食少便澹，声低息短，少气懒言，四肢无力，舌淡脉弱者，此为脾虚气弱，气血生化之源不足是也;兼见腰酸膝软，性欲减退，形寒怯冷，舌淡脉弱者，此为肾阳不足，精化为血功能减退是也。若失血以后兼见面色无华,唇舌淡白，脉缓无力或脉虚而数，则属库存无多，因虚致闭。再从血阻经闭言之，又有血瘀、气滞、痰阻之别。兼见面色晦黯，舌质青紫或有瘀点，脉见涩象，是血络瘀阻;兼见精神抑郁，胁肋胀痛,为气滞血瘀;兼见痰多、苔腻、脉滑，乃痰瘀互结。综上所述，经闭不行有气虚、精虚、血虚、血瘀、气滞、痰阻六种机理，前面三种病性属虚，后面三种病性属实。其中气滞其血或痰滞其血均有血瘀病理并存,绝非单纯气郁、痰滞，学者留意。</p>
                        <h4>（十二）崩漏下血</h4>
                        <p>阴道下血，量多势急，急如山崩者，称为血崩；淋漓不断，点滴而下，缓如屋漏者，谓之漏下。崩证因于血热居多，气虚而兼血热亦较常见3漏证则以中气不足，气不摄血，或瘀血阻络，血不循经较为常见3下元亏损，冲任不固,则偶亦有之。</p>
                        <p>心为行血之器，肝为贮血之皿。血的运行调节，有赖心肝两脏。由于供血环流之脉是由肝系之膜构成，血量多少有赖肝脏调节，血流畅否与脉络弛张有关，所以与肝关系尤为密切。血行脉中，不滞不溢，环周不休，除与心肝两系有关，还与气血关系密切。血得阳气温煦才能温和流畅，血得卫气固摄才不漏泄脉外，血行无阻才能循行常道。血液遇寒则凝遇热则沸，气血一旦异常，影响血液运行,就会产生血瘀、血溢证象。外感六淫、内伤七情,气郁化热,热入血分，迫血妄行，血溢脉外，成为出血，是肝疏泄太过所致。血液不能贮藏于肝，溢出脉外，虽然因其出血部位不同而病机有木火刑金、肝火犯胃、肠风下血、血热成淋、血热发斑、血热成崩之异，其实病理完全一致，都是气郁化热，由气入血，迫血妄行，仅因出血部位不同，兼证各异而已。血崩兼见血色深红，量多势急，发热口苦，舌红脉数，是血热妄行所致。如果上述证象全具并兼见心悸气短，则是血热妄行与气虚不摄两种病理同时存在，以上属于血崩机理。</p>
                        <p>下血量少，淋漓不止,兼见心悸气短，少气懒言，小腹空坠，面色无华，舌淡脉弱，此为中气虚陷，血失气摄，下注前阴;兼见血色黑多红少，或先红后淡，脐下冷痛，四肢无力，气短神疲，面色苍白，舌淡苔薄，脉迟无力，或脉大而虚，此为下元亏损、冲任不固;气虚不摄与冲任不固两种机理并存尤属常见。以上两种机理属虚。如经妇科检查，子宫内有肌瘤而呈下血淋漓不止,此为瘀血阻络，血行障碍，不能环流，以致血溢脉外。此证称为血不循经，病性属实。</p>
                        <h4>（十三）不孕</h4>
                        <p>妇女不孕，除先天缺陷不能受孕以外，气血虚损，发育不良者，有之;痰瘀阻络（输卵管），冲任障碍者，亦常有之。妇科检查，子宫偏小，余无他病,此为冲任虚寒，气血不足,发育不良;如果月经不调，夹有瘀块，白带亦多，经检查有卵巢积液、囊肿以及输卵管不通，此为瘀血阻滞，水液停积的痰瘀阻络。</p>
                        <h4>（十四）流产</h4>
                        <p>妇女怀孕未满六月即堕出体外，谓之流产。此证或因孕妇气血亏损，不能养胎,或因以前怀孕.用力过度，损伤胎气，曾经半产，以致每到前次半产月份即重蹈覆辙;或因人工流产过多，冲任受损。所以流产都是气血虚损，冲任不固，以致不能束胎，病性属虚。</p>
                        <h4>（十五）带下</h4>
                        <p>妇女阴道分泌液体增多，流出阴道，称为带下，属于津液病变。其致病机理有因脏腑功能失调，湿浊下注者，亦有因外邪侵入阴道津凝成带者。脏腑功能失调所致带下，常见肝经湿热，脾虚不运，冲任不固三种机理。带下色黄量多，黏稠臭秽，兼见口苦、舌红、脉数，是肝经湿热，下注前阴。带下色白量多，兼见食少神疲，头晕眼花，血压偏低，舌淡、脉弱，是脾虚不能运湿，湿随气陷，下注前阴。带下清稀如水，兼见腰酸或痛，面色苍白，舌淡脉弱,是肾阳亏损，冲任不固所致。人身九窍都与外界相通,致病因素可从孔窍侵入体内，发生病变。真前侵入阴道则带如豆腐渣状;滴虫侵入阴道则带清稀如水。由于带下湿有去路，多见舌上无苔，不得因其无苔就凭此视为阴虚，学者留意。</p>
                        <h4>（十六）旧病</h4>
                        <p>询问病人以往患过何病，可知是否属于旧病复发；如果现在所患与旧病无关，也可作为治疗时的参考。</p>
                        <h4>（十七）病因</h4>
                        <p>了解发病原因，可为治疗提供重要依据。在无现代检测手段以前，了解病因只限于外界的气候变化，自身的情志变化，以及饮食不节和虫兽刀伤等三个方面。所以陈无择《三因极一病证方论》将其归纳为外因、内因、不内外因。有关内容已在本章第四节述及，不再赘述。</p>
                        <h3>四、切诊</h3>
                        <p>切诊是指用手触按病人身体，藉此了解病情的一种方法。本节仅论切脉，余未备述。</p>
                        <p>切脉又称诊脉，是医者用手指按其腕后桎动脉搏动处，借以体察脉象变化，辨别脉象的浮沉、退数、大小、弛张、滑涩、结代及脏腑功能盛衰、气血津精虚滞的一种方法。正常脉象是寸、关、尺三部都有脉在搏动，不浮不沉，不退不数，从容和缓，柔和有力，流利均匀，节律一致，一息搏动四至五次,谓之平脉。</p>
                        <p>切脉辨证，早在《素问-玉版论要》、《素问-脉要精微论》就有记载，经历3000年来的不断总结，对于何证出现何脉已有详细论述。但对证象与脉象间的内在联系，却无明析的概念，不能令人一目了然，以致学者只知其然而不知其所以然。脉证间的内在联系，如用一句话来概括，就是气血津液出现虚滞，五脏功能出现盛衰，经脉出现异常，才会出现不同脉证。只有弄清气血津液的生化输泄与五脏间的关系，才能将气血津液虚滞和五脏功能盛衰出现的证象与脉象联系起来，也才明白切脉能够察其五脏病变的道理所在。</p>
                        <p>不同脉象的形成,与心脏、脉络、气血津液有着密不可分的关系。脉象的不同变化反映了心力强弱、脉络弛张、气血津液虚滞三个方面的变化。由于气血津液都需五脏协同合作才能完成其生化输泄，所以气血津液的虚滞也就反映了五脏功能的盛衰,从而反映于脉，形成不同的脉象。</p>
                        <p>心脏搏动的强弱，脉络的弛张，是引起脉象变化的根源。心脏搏动有力，脉象随其病因证象不同而呈洪大滑数等脉;无力则脉象常呈迟细微弱等脉。心脏搏动与脉象起伏，都是肝系膜络交替收缩与舒张的反映。如果血络松弛则呈濡、缓；紧张则呈弦、紧;痉挛则呈结、代等等。只有将固定的心脉和流动的气、血、津液联在一起分析，才能揭示脉象变化的本质，对于何证出现何脉才有理有据，不是无源之水，无本之木。气血津液虚滞变化，可以反映不同的脉象。</p>
                        <p>从气的虚滞言之:气是心脏搏动的动力，心气是由肾系生化的元气，脾系生化的谷气，肺系吸入的清气，注入心脏，成为心脏活动的能源。脾肾功能衰退，心气也就随之衰弱，脉象与心相应也就呈现缓慢或虚数无力。若将这一连锁反应进行逆向推理,脉象无力是因心气不足，心气不足则是脾肾化气功能衰退所致。营行脉中，卫行脉外，营卫和调，则脉不浮、不沉、不迟、不数。如果风寒束表，毛窍收缩，脉络紧张,卫气充盛于表，则脉随气浮，呈为轻按即得的浮紧脉。若卫气因寒、内归脏腑，则呈重按始得的沉紧脉，久病气虚，脉伏于里，则呈重按始得的沉弱脉。若阳气虚衰,无力助心行血，则脉呈迟缓微弱。若风寒束表或风热犯肺，气郁化热，心阳亢进，则脉应之而呈洪大有力而数。若因气郁引起脉的传导阻滞，则脉应之而涩。若因气郁引起脉络不舒，则脉应之而弦。由此可见,脉的浮沉迟数，有力无力，均与气虚、气滞有关。</p>
                        <p>从血的虚滞言之:血行脉中，充盈流畅，才呈正常脉象。若因血的化源不足导致血虚,乃是由实变虚，逐渐减少，脉能与其相应而逐渐变细，所以脉呈细弱。如果突然大量失血，脉管仍呈原状却脉无血充，遂致形如葱管，按之中空,呈为克脉。如果血滞、血瘀，脉的传导受阻，微呈挛急，即呈按之犹如轻刀刮竹,大波之内又有细密微波应于指下的涩脉。</p>
                        <p>从津的虚滞言之:脉的形态改变也与津液有关。血中津少，脉失液充，其脉也就应之而细。由于津虚是因营阴暗耗或因热病后期伤津，常常兼有热象,是故营阴亏损之脉常呈细数且与舌红少苔并见。若脉外津虚与脉内津虚并存，脉失津濡而呈脉络紧张，即呈指下如按琴弦的弦脉。上述脉象是因肝肾阴虚。若因脾肾阳虚，气化失常，水饮内停，血中津多而呈舌体淡胖，水停脉管夹层而使脉络紧张，也能呈为弦脉,虽然同属弦脉却有寒、热、虚、实之异。</p>
                        <p>综合上述，一切脉象都是心力强弱，脉络弛张,气血津液虚滞的综合反映;心脏、脉络气血津液发生病变,又与五脏发生病理改变有关，所以切脉能察五脏盛衰。</p>
                        <p>切脉只是四诊之一，有些病变不是单凭切脉就能作出诊断,应该四诊合参，并宜结合现代检测手段才能全面认识疾病。如果片面强调切脉能知病变所在,会将学者引入歧途。脉的形态很多,令人难以掌握，兹将常见脉象的病理略述如下。</p>
                        <p>［浮脉］风寒束表-卫气为御邪侵，充于肌表—脉随气浮于外-轻按即得-谓之浮脉。八纲辨证定位、定性:属于表证、虚证、实证。</p>
                        <p>［沉脉］病在脏腑-脉位深藏，举之不足，按之有余-＞谓之沉脉。有力为实，无力为虚。八纲辨证定位、定性:属于里证、寒证、虚证、实证。</p>
                        <p>［迟脉］阴盛阳衰-心功减退，搏动迟缓-一息三至，去来极慢-谓之迟脉。阴盛为寒，阳衰为虚。八纲辨证定性:属于寒证、虚证。</p>
                        <p>［数脉］表卫闭郁，气郁化热，或由气入血，气血两燔-心动亢进-一息六至，多于常脉-谓之数脉。亦有心气虚衰-搏动无力-每次输出血量不足，心动加速以求代偿-成为虚数。八纲辨证定性:属于热证、虚证、实证。</p>
                        <p>［细脉］气血两虚,阴虚偏甚-气虚则输出量少-加之血虚脉失血充，则脉细如线-谓 之细脉。八纲辨证定性:属于虚证。</p>
                        <p>［微脉］阳气衰微，气血俱虚-脉细而软-按之欲绝，若有若无-谓之微脉。八纲辨证定性:属于虚证。</p>
                        <p>［弱脉］气血两虚-气虚无以鼓动血行，血虚无以充盈于脉-极软沉细，按之乃得，轻取难寻-谓之弱脉。八纲辨证定性:属于虚证。</p>
                        <p>［实脉］三焦实热或腑气不通-心动亢进-搏指有力-谓之实脉。八纲辨证定性:属于实证。</p>
                        <p>［洪脉］气郁化热，气分热盛-心功亢进-按之洪大有力-谓之洪脉。若大而虚，按之无力是壮火食气，心气已虚。八纲辨证定性:属于实证、虚证。</p>
                        <p>［弦脉］肝肾阴虚-水津亏损，脉失津濡-脉络紧张-脉象端直而长，如按琴弦-谓之弦脉。少阴阳虚，气化失常-水停三焦，充于脉内及其夹层-脉络为之紧张，触之如按琴弦-谓之弦脉。肝胆气郁-脉为气束，不能舒张-如按琴弦-亦可成为弦脉。八纲辨证定性:属于实证、本虚标实。</p>
                        <p>［紧脉］风寒束表-脉络收引-脉形如索，轻按即得-谓之浮紧脉;寒中三阴-脉络收引-其形如索，重按始得-谓之沉紧脉。八纲辨证定位、定性:属于表证、里证、寒证、实证。</p>
                        <p>［滑脉］痰食妊娠，停阻经隧-所阻部位脉络紧张-血流受阻-聚集如珠，流于脉内-往来流利，如盘走珠，应指圆滑-谓之滑脉。八纲辨证定性:属于实证。</p>
                        <p>［涩脉］气滞、血瘀、痰凝-脉络传导受阻，微挛-血流不畅-按脉犹如轻刀刮竹谓之涩脉。八纲辨证定性:属于实证。</p>
                        <p>［濡脉］水湿阻滞-脉因受湿而弛-按之无力，如帛在水中，轻手相得，按之无有一谓之濡脉。气血阴阳亏损，生化无源-脉无血充一亦呈濡脉。八纲辨证定性:属于实证、虚证。</p>
                        <p>［克脉］突然大量失血一脉失血充-形如葱管，按之中空-谓之充脉。八纲辨证定性:属于虚证。</p>
                        <p>［结脉］心系阴阳亏损-脉络痉挛-传导阻滞-脉律不匀，时有止歇-谓之结脉。迟止定期，谓之代脉。亦有气机阻滞-脉络微挛-形成结脉。八纲辨证定性:属于虚证。</p>
                        <p>我在初学医时，以脉学请教于族兄崇先。崇先兄云:“辨证须要四诊合参，不能单凭脉象，以免误诊。濒湖脉学以二十八脉辨证，论述虽详，但有许多脉象都颇相似，很难分辨，不仅初学难于掌握，即使从医多年亦有心中了了，指下难明之叹。吾弟只须谨记浮沉分表里,迟数定寒热，大小滑涩，有力无力分虚实，则大纲在握，要言不烦。当然上述只言其常，未及其变,如数脉虚证也能致此，知其常,达其变，诊脉之要，无余义矣!”今以此语奉献读者作为参考。</p>
                        <img class="pt-5" src="/static/img/core-img/breadcrumb-line.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock 主体 %}