{% extends "base.html" %}
{% block 标题 %}
联系小羊
{% endblock 标题 %}
{% block 主体 %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="/static/img/core-img/breadcrumb-line.png" alt="">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i>主页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">联系小羊</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-content-area">
                    <div class="row">

                        <div class="col-12 col-lg-6">
                            <div class="contact-content">
                                <div class="widget-title">
                                    <h4>About Me</h4>
                                </div>
                                <!-- Thumbnail -->
                                <div class="about-thumbnail">
                                    <img src="/static/img/blog-img/xiaoyang.jpeg" alt="">
                                </div>
                                <!-- Content -->


                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <div class="contact-content contact-information">
                                <h4>Information</h4>
                                <div class="single-contact-info d-flex">
                                    <div class="icon">
                                        <i class="fa fa-linkedin"></i>
                                    </div>
                                    <p>小羊：现就读于北京科技大学计算机科学与技术专业</p>
                                </div>
                                <!-- Single Contact Info -->
                                <div class="single-contact-info d-flex">
                                    <div class="icon">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                    </div>
                                    <p>地址：现居住地不明</p>
                                </div>


                                <!-- Single Contact Info -->
                                <div class="single-contact-info d-flex">
                                    <div class="icon">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                    </div>
                                    <p>手机：15901052558</p>
                                </div>

                                <!-- Single Contact Info -->
                                <div class="single-contact-info d-flex">
                                    <div class="icon">
                                        <i class="fa fa-rss" aria-hidden="true"></i>
                                    </div>
                                    <p>QQ：1363334990</p>
                                </div>
                                <div class="single-contact-info d-flex">
                                    <div class="icon">
                                        <i class="fa fa-send"></i>
                                    </div>
                                    <p>微信：aapajtspaa</p>
                                </div>
                                <!-- Single Contact Info -->
                                <div class="single-contact-info d-flex">
                                    <div class="icon">
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                    </div>
                                    <p>邮箱：aapajtspaa@163.com</p>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock 主体 %}