<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/2.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2018 / 35 Comments</p>
                <a href="#" class="post-title">
                    <h4>Fried Pizzas on parchment paper with basil.</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/3.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2018 / Foody</p>
                <a href="#" class="post-title">
                    <h4>Quick Vegan Enchiladas with Sweet Potato Sauce</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/4.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>aug 8, 2018 / health</p>
                <a href="#" class="post-title">
                    <h4>Eleven Slushie Cocktails I Bookmarked</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/5.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2018 / drinks</p>
                <a href="#" class="post-title">
                    <h4>Homemade Strawberry Almond Milk</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/6.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2018 / foody</p>
                <a href="#" class="post-title">
                    <h4>Kitchen Sink Sunflower Salad in a bow.</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/2.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2018 / 35 Comments</p>
                <a href="#" class="post-title">
                    <h4>Fried Pizzas on parchment paper with basil.</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/3.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2018 / Foody</p>
                <a href="#" class="post-title">
                    <h4>Quick Vegan Enchiladas with Sweet Potato Sauce</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/4.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>aug 8, 2018 / health</p>
                <a href="#" class="post-title">
                    <h4>Eleven Slushie Cocktails I Bookmarked</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/5.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2018 / drinks</p>
                <a href="#" class="post-title">
                    <h4>Homemade Strawberry Almond Milk</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/6.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2018 / foody</p>
                <a href="#" class="post-title">
                    <h4>Kitchen Sink Sunflower Salad in a bow.</h4>
                </a>
            </div>
        </div>

    </div>
</section>
<div class="follow-us-instagram">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Follow Us On Instagram</h2>
                    <span>@foodeblog</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="instagram-slides owl-carousel">
                    <!-- Single Instagram Slide -->
                    <div class="single-instagram-slide">
                        <img src="/static/img/blog-img/insta1.jpg" alt="">
                        <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                    </div>

                    <!-- Single Instagram Slide -->
                    <div class="single-instagram-slide">
                        <img src="/static/img/blog-img/insta2.jpg" alt="">
                        <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                    </div>

                    <!-- Single Instagram Slide -->
                    <div class="single-instagram-slide">
                        <img src="/static/img/blog-img/insta3.jpg" alt="">
                        <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                    </div>

                    <!-- Single Instagram Slide -->
                    <div class="single-instagram-slide">
                        <img src="/static/img/blog-img/insta4.jpg" alt="">
                        <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                    </div>

                    <!-- Single Instagram Slide -->
                    <div class="single-instagram-slide">
                        <img src="/static/img/blog-img/insta5.jpg" alt="">
                        <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                    </div>

                    <!-- Single Instagram Slide -->
                    <div class="single-instagram-slide">
                        <img src="/static/img/blog-img/insta6.jpg" alt="">
                        <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                <ol class="foode-pager mt-50">
                    <li><a href="#"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Newer</a></li>
                    <li><a href="#">Older <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                </ol>
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Subscribe &amp; Follow</h6>
                        </div>
                        <!-- Widget Social Info -->
                        <div class="widget-social-info text-center">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-rss"></i></a>
                        </div>
                    </div>
<div class="typography-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="section-heading">
                    <h2>搜索结果</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div style="text-align:center">
                    <form action="/search/" method="GET">
                        <div class="div-position" style="text-align: center">
                            {% if q %}
                            <div class="card">
                                <div class="card-header">
                                    搜索内容
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p style="text-align: center">{{ q }}</p>
                                    </blockquote>
                                </div>
                            </div>
                            {% endif %}
                            {% if 病状类别 %}
                            <div class="card">
                                <div class="card-header">
                                    <p>病状类别</p>
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p style="text-align: center">{{ 病状类别 }}</p>
                                    </blockquote>
                                </div>
                            </div>
                            {% endif %}
                            {% if 总计用时 %}
                            <div class="card">
                                <div class="card-header">
                                    总计用时
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p style="text-align: center">{{ 总计用时 }}</p>
                                    </blockquote>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>