{% extends "base.html" %}
{% block 标题 %}
中医方剂概述
{% endblock 标题 %}
{% block 主体 %}

    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="/static/img/core-img/breadcrumb-line.png" alt="">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index/"><i class="fa fa-home"></i>主页</a></li>
                            <li class="breadcrumb-item active" aria-current="page">中医方剂概述</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <div class="typography-content-area section-padding-0-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="section-heading">
                        <h2>中医方剂概述</h2>
                        <p>MAY 5, 2020 / 陈潮祖编著&nbsp|&nbsp小羊整理</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">

                    <!-- Type Face -->
                    <div class="type-face">
                        <h1>方剂概述</h1>
                        <p>方剂学是研究据理立法，依法立方，配伍关系，临证应用，加减变化的学科;是中医基础理论理、法、方、药四个环节中的一环。临床各科用药治病，必须熟悉组方原理，才能运用自如，取得较好的疗效。开设方剂课程，是为临床各科打下基础，已为人所熟知；同时也使学者掌握以病机为纲,异病同治的辨证方法，并与内妇儿科同病异治的辨证方法并驾齐驱、相互补充，就鲜为人们道及。金、元时期以前临床各科专著尚少，医学著述多为理论、医方、药物三类（示人以同病异治的专著仅有《金匮要略》一书）。医者凭借上述三类著述即可为人治病，而且能够取得良好效果,正是方剂教会了学者异病同治之法。</p>
                        <p>中医治病虽有药物、针灸、气功、推拿、按摩等多种疗法,但因内、外、妇、儿各科都以药物为其基础，所以药物疗法居于主要地位。<p>
                        <p>药物疗法常用几味药物组合成方，细绎其理,是整体观念产生了整体疗法，整体疗法产生了方剂。</p>
                        <p>中医理论是建立在整体观念基础之上的。正因如此,才产生了相应的整体疗法。人是有机的整体，虽然各脏自成系统，五脏之间，却是协同配合的。五脏功能活动的物质基础是气血津精,气血津精的生化输泄、升降出入，都是五脏协同配合，共同完成的。根据这种认识,形成了机体自身的整体观。人是自然环境中的一员，四季气候的突变，时刻影响着机体;自然界的致病因素，时刻危害着机体,于是又形成了天人相应的整体观。这一内外环境的整体观，提示医者要从全局出发，重视整体治疗,不能头痛医头，脚痛医脚。所以，治疗任何疾病，都要考虑气候和致病因素对于人的影响，注意消除致病原因；都要考虑自身功能失调和气血津精的盈虚通滞状态，注意调理脏腑功能，通调气血津精;都要考虑五脏经隧的弛张变化,注意使其恢复正常。根据上述要求，一药兼具四种作用者实在太少,只有选用多数药物组合成方，发挥协同作用,才能全面兼顾，这就是要用多数药物组成复方治病的原因。这种从单味药物发展到复方治病，是从低级向高级发展的重要标志，是由经验上升到理论的一次飞跃。</p>
                        <h2>第一节方剂源流</h2>
                        <h3>一、发展简史</h3>
                        <p>中国有五千年的漫长历史，人类从一开始就与疾病作斗争。所以，医学是随人类社会发展而自然产生的。不难推测，中医学术至少在四千年前就已开始萌芽。相传神农尝百草而著《神农本草经》，该书是记述药物效用的最早文献;黄帝勤研医理而著《黄帝内经》，为中医理论奠定了基础;商汤宰相伊尹发明汤液,开始使用复方治病。中医学术早在两千多年前就已相当发达了。《史记》所载扁鹊望齐侯之色而知病之所在，医术之高，令人惊叹，如不经过较长时期发展，很难想象能有那么高的水平。治则与治法是在方剂发展到一定水平以后才能从中升华出来。医史研究人员多谓《内经》一书成于两千年前的战国末期。而此书提出的治疗原则，至今仍然作为方剂分类依据,证明方剂早在《内经》成书以前，就已发展到了相当高的水平。</p>
                        <p>我国现存最早的方剂是《黄帝内经》中所载十三方。但因该书纯属理论专著，所列诸方多较简单，不足为式。汉代医学著述较多，据《汉书・艺文志》记载就有“经方十一家”，不仅有按病归类的专著，而且有了方剂理论的专著《汤液经法》32卷。这些专著可惜均已亡佚，内容无从查考。</p>
                        <p>东汉张仲景“勤求古训，博采众方”写成的《伤寒杂病论》是现存的最早方书。此书融理、法、方、药为一体，其言精而奥，其法简而明，后人尊为方书之祖，可谓名实相符。所载方剂，结构谨严，疗效确实，后世新方,多师其法而制，或由这些方剂演变而成，为方剂学的形成和发展奠定了基础。此书至宋代分为《伤寒论》和《金匮要略》二书。《伤寒论》分六经辨证，一方而列多条,说明一方能治病机相同的不同病证，示人以异病同治之法。《金匮要略》恰好相反，一病而用多方,说明同一病证而有不同病机，示人以同病异治之法。两种辨证方法相互构成的辨证体系，至今仍被中医奉为圭臬，尊为准绳。</p>
                        <p>晋代葛洪鉴于当时方书“既不能穷诸病状,兼多珍贵之物”，择要写成《肘后备急方》3卷。此书所选方剂，药多易得，价廉而效。唐代孙思邈的《备急千金要方》、《千金翼方》，王煮的《外台秘要》都是汇集汉晋以来医药方剂资料编辑而成。不仅唐代以前的许多医方得以保存，并收载了由海外传来的婆罗门方，证明中医自古以来就在不断吸收外来医药，为我所用，毫不固步自封。</p>
                        <p>宋代所留方书甚多,有广博的典籍，也有简要的专著。《太平圣惠方》与《圣济总录》收载方剂最多，前者载方16830首，后者已近2万，洋洋大观，是继《外台秘要》以后方剂资料的又一次总结。《太平惠民和剂局方》精选常用有效方剂788首，并由太医局颁行全国作为修制成药典籍。此书对后世影响较为深远，所收的许多方剂至今仍为临证常用。严用和的《济生方》、陈自明的《校注妇人良方》，钱仲阳的《小儿药证直诀》,已是典型的专科著作，对内、妇、儿各科的形成有着极其深远的影响。尤其值得一提的是成无己的《伤寒明理论》，此书虽然只论述了部分伤寒方，却是第一部注解《伤寒论》和剖析制方原理的专著,是注释《伤寒论》的先驱,开方论先河。</p>
                        <p>金、元时代，名家辈出，河间主火，子和主攻，东垣是补土之宗，丹溪是滋阴之祖,所创之方，每多新意，为方剂发展作出了贡献。但多见于内科著述，并非方剂专著。</p>
                        <p>明代朱鹰编纂的《普济方》载方61739首，数量空前，堪称巨制，自古之方，无不赅备于是，故为研究方剂的宝贵资料之一。《景岳全书》中的古方八阵，按方剂功效分为补、和、攻、散、寒、热、固、因八类,方剂按法分类，实从张氏开始。吴良《医方考》选方700余首，“考其方药，考其见证，考其名义，考其事迹，考其变通，考其得失，考其所以然之故”，是继《伤寒明理论》以后剖析方理的第一部专著。施沛所著《祖剂》多以仲景之方为祖,将其变化之方附于其后，展示了方剂的加减变化,对于应用古方创制新方颇有启发。综上可知，明代在方剂发展史上取得了四大成就，即方剂数量空前,开始按法分类，有了方论专著,有了方剂演变论述。</p>
                        <p>清代温病学派针对热病创制新方，对于清热法的发展立下了汗马功劳。方论专著方兴未艾，较有影响的方书有汪昂的《医方集解》，此书按方剂效用分为22门，临证检索,颇为方便，至此方剂分类已渐定型，直到现在仍然沿用这种分类模式。他如吴仪洛的《成方切用》，张秉成的《成方便读》亦可一读。</p>
                        <p>1949年新中国成立以后，各省中医学院相继成立，从事方剂教学和研究人员数以百计，为方剂学的发展创造了良好的条件。1960年卫生部在广州召开了第一次教材编审会议，中医司吕炳奎同志指出：编写方剂学要以法统方，讲授方剂学要讲某方体现某法。根据他的意见，才在方剂学教材的每一大法之下，分立若干子目作为小法,遂使方剂学的发展乂上一层台阶。</p>
                        <h3>二、存在问题</h3>
                        <p>基于上述,方剂学的发展经历了约四千年的漫长过程，从中孕育和分化出了临床各科，促进了医学的发展；自成无己率先解释方理以来，方剂配伍研究已经取得长足进展;方剂分类逐渐形成了以法统方的格局。这些成就，标志着方剂作为一门学科已经日趋完善。但也存在一些问题，有待从事方剂研究的同仁思考。</p><p>
                        1.以治疗大法分类，能使学者知道这类方的主要用途，是其优点。但因层次很高，没有明确的定位概念,给初学者临证用方带来定位不确的困难。</p><p>
                        2.方剂配伍存在着共性，每方都体现一定的治法，每一小法都揭示了这类方剂配伍的共性，每一治疗大法又揭示了这一章内所列方剂的共性,那么所有方剂配伍是否存在共性？直到现在还无人问津。</p><p>
                        3.每方都是根据治法配伍而成，所以一方体现一法。现行方书称为功效，仅仅突出方内药物的功用，而未突出依法制方这一依存关系，似有本末倒置:之嫌，也与临床各科不能很好衔接。</p><p>
                        4.目前从事方剂教学人员在如何释方上存在分歧。有的认为方剂学的任务就是讲授方中药物的配伍关系，配伍关系就是君、臣、佐、使。所以每方内容几乎都是分析君、臣、佐、使,对于理法剖析则语焉不详。有的则认为方剂的任务不是单纯分析君、臣、佐、使。而应着重探索如何据理立法，依法组方原理,揭示组方规律，将理、法、方、药一线贯穿，使学者深刻理解何以如此配伍之理，以便更好运用于临床。这一认识未曾引起关注。</p><p>
                        5.目前解释方理还停留在逻辑推理的水平上，缺乏实验研究加以印证，很难走向世界。新开发的中成药虽有实验研究，但都还有局限性,上升到理论层面尚待时日。</p><p>
                        6.所选方剂太少，不能达到以方示法目的。如将大法下面的小法分得稍细，就会发现所选之方不能全面反映治法。</p>
                        <h3>三、发展方向</h3>
                        <p>方剂学的发展有其广阔前景，可从以下几个方面思考。</p><p>
                        1.在分类上另辟蹊径,成为新的辨证模式。古方多系按病归类，由此逐渐发展,最后分化成为内、外、妇、儿各科。通过新的分类很有可能产生新的辨证体系，《伤寒论》按六经分类就是实例。此书以脏腑生理为其依据,探索病理改变下的辨证、立法、组方规律,使理法方药融为一体，不仅定位更为准确，并于辨证以后随证立法，依法组方，既突出了临床学科特点，又突出了基础学科特点。不过这一探索仅是开始，还有待继续完善。</p><p>
                        2.改革现有教材，使其更为完善。现行教材按汗、下、温、清分类,每章的概说实际就是治疗大法,现在依然称为解表剂、泻下剂,反映不出以法统方的特色。如果改为解表法、泻下法，内容即将产生深刻变化。大法下面的小法不宜过于笼统，结合脏腑和气血定位,才能深入阐明这类方的基本病理和组方规律，便于临证应用。临床各科常用的治法最好能在这一层次上反映出来，成为既是独立的辨证体系，又是临床各科的基础。每方的功效应该改为治法，才能充分体现依法制方以方示法这一依存关系。在解释方义时宜按据理立法，依法释方程式，揭示制方原理,不宜每方都去分析君臣佐使，使活方变成死方。剖析方理以后并应指出此方配伍特点及哪些方面可以借鉴，哪些方面尚有不足，藉以启迪学者思维，使其真正领会制方底蕴。临证应用要搜集古今医家应用经验，突出一方能治多病，展示方剂异病同治的特色。加减变化是启示学者通过占方加减可以变成新方，如果作为附方将会失去加减变化的意义。</p><p>
                        3.分析所有方剂的共性，揭示组方的规律。使学者学习以后，对任何方剂的结构都能一目了然。这一内容应该放在总论讨论。</p><p>
                        4.加强实验研究，使方理剖析逐步客观有据，减少推理，以便走向世界。在进行复方试验同时，还要进行治疗大法与小法的实验研究，验证这一类方是否存在共性,为尔后方剂分类提供客观而有力的依据。</p><p>
                        5.适当选入新方，充实教材内容。<p>
                        <h2>第二节方剂分类</h2>
                        <p>方剂分类是为临证便于检索，主要分类法有以下三种。</p>
                        <h3>一、按病证分类</h3>
                        <p>按病证分类的有两类方书。①包括各科病证的类方，如《太平圣惠方》、《普济方》等书即是。②按专科病证分类，如《校注妇人良方》、《小儿药证直诀》即是。这种分类可以按图索骥，对证选方，极为方便，故是古代方书的主要分类形式。它加速了医学的发展，促进了学科的分化。但自学科分化以后，已为临床各科取代，自身已经失去了独立存在的意义。</p>
                        <h3>二、按治疗大法分类</h3>
                        <p>北齐徐之才所著《药对》，将药分成宣、通、补、泄、轻、重、滑、涩、燥、湿10类，藉以反映药物效用，使人一目了然。后来移作方剂分类，简称十剂。但用十剂分类的方书只有清代陈修园所著的《时方歌括》，所以最早按法分类的方书要数明代《景岳全书》的古方八阵。清代汪昂的《医方集解》依方剂功效分为补养、发表、涌吐、攻里、表里、和解、理气、理血、祛风、祛寒、法暑、利湿、润燥、泻火、除痰、消导、收涩、杀虫、明目、痈疡、经产、救急等22类，对于治疗大法的形成起到了促进作用，为方剂学的自我完善建立了功勋。但仍称剂而不称法，说明以法统方的观念在汪氏的头脑里尚未形成；明目、痈疡、经产三类方尚残存专科分类的痕迹。</p>
                        <h3>三、按脏腑分类</h3>
                        <p>根据脏腑类方，唐、宋时期已开始萌芽，如《备急千金要方》即包括脏腑分类的形式，但还不是完全按照脏腑分类。到目前为止，只有本书才是完全以五脏为纲，治法为目，法下列方的分类形式;也是以五脏生理病理为经，八纲辨证与气血津液辨证为纬分析病机，根据病机拟定治法，法下列方，体现了以法统方的分类模式。总论提出的治疗原则，层次最高,是治疗总纲。治疗大法是继治疗原则之后的第二层治法，重点阐述大法所属各方的共性。各论根据五脏生理病理拟定的治法，属于第三层治法，反映了适应证候、基本病理、据理立法、依法组方等内容，使学者掌握法内各方的共性。每方体现的治法属于第四层治法，使学者明白方即是法，法即是方,全书体现了法中有法的编写形式。</p>
                        <h2>第三节方剂共性</h2>
                        <p>七个音符便可以谱写出无穷的乐章，中药数以千计，配出的方剂自然无穷无尽，只有掌握方剂配伍中的共性，才能使教者有理可循，不致不知所云;学者一目了然，不致瞠日以对；临证心中有数，不致漫无头绪。</p>
                        <h3>一、结构共性</h3>
                        <p>一切方剂，都由消除致病原因、调理脏腑功能、调理气血津精三类药物组成,部分方剂还要配伍缓解经脉药物，此即方剂结构的共性。这一共性，揭示了组方的规律，制方的奥秘。</p>
                        <p>五脏六腑不断为气血津精的生化输泄进行功能活动，气血津精又不断为五脏六腑的功能活动提供能源。如果某种致病因素引起脏腑功能失调，必然影响气血津精的生化输泄，不是不通成滞,就是太通外泄,不是壅遏成实，就是耗损成虚。所以根据病变归纳的病机，应该包含病因、病位、病性三个要素。针对病机所拟的治法，组成的方剂，自然具备消除致病原因,调理脏腑功能，流通或补涩气血津精三方面的效用。这一共性揭示了方剂的配伍规律。例如辛温解表法里的麻黄汤，能治恶寒发热，头痛身疼，无汗而喘等证。其基本病理是:风寒束表-表卫闭郁-经隧痉挛,津气宣发受阻-肺气宣降失常。病因为风寒束表，病位为肺卫失调,病性为气血津液运行受阻。治疗此证,法当辛温发汗，宣通肺卫，通调营卫。故方用辛温的麻黄、桂枝外散风寒，消除病因;麻黄、杏仁宣降肺气，调理功能;麻杏宣降肺气，桂枝温通营血，麻黄发汗利水,流通气血津液，甘草缓解经隧挛急，呈为四类药物同用的配伍形式。</p>
                        <p>上述四类药物不是每方必须具备，常常有所侧重。有的着重消除病因，有的着重调理功能，有的着重调理气血津液，有的着重舒缓经脉，从而体现各种治疗大法。例如杀虫法里的方剂，因其唯一目的是驱除肠虫而毋庸他顾，故多单纯针对病因施治。某些急性热病大量使用清热解毒之品，也以消除病因为其宗旨。一般慢性疾病很难审察致病原因，多是针对病位、病性施治，所制之方，多数只有调理脏腑功能，流通或补充气血津液药物，没有消除病因之品。由于五脏的功能就是摄纳、生化、输泄气血津精，发生病变必然互为因果。因此，通调气血津液即可调理脏腑功能，二者不可截然划分。</p>
                        <p>
                        <h3>二、作用共性</h3>
                        <p>除解痉、驱虫等法外，所有方剂都反映了通、涩、补三种作用。五脏六腑是由大大小小不同的管道连接而成的。从鼻到肺构成的肺系，从曰腔到肛门构成的脾系，心与脉构成的心系，肝与胆构成的肝系，肾与膀胱构成的肾系，都是如此。这些管道，古人称为经隧,是运行气血津精或排出废物的通路。由于五脏的功能活动都以气血津精为其物质基础•气血津精的生化输泄又都全赖五脏协同配合，所以，通调气血津液也就成了一切方剂作用的共性。气血津精常见三种基本病理改变:一是运行不利，二是漏泄出外，三是出现亏损，成为不通、太通、虚损三种基本病理。针,对上述基本病理施治的通、涩、补三法，也就成为一切方剂效用的共性。由于一切方剂都是调理气血津精的盈虚通滞，故《素问-调经论》说广五脏之道，皆出于经隧，以行血气，血气不和，百病乃变化而生，是故守经隧焉。”此外，部分方是针对流通气血的经隧挛急施治，反映了解痉效用。</p>
                        <p>从众多方的结构和效用观之，疏通滞塞之方约占十之七八，其余仅占十之二三。解表法是宣通肺卫痹郁;泻下、消导是通胃肠积滞;行气、活血、祛湿、祛痰、消瘾是通其气血津液，和解、温里、升降、开窍诸法亦然;补益法本为功能衰弱与气血津精亏损而设，但多数方的结构仍然补中寓通，这些事实说明五脏六腑宜通，气血津液宜通。提示临证治病，勿忘五脏六腑宜通，气血津液宜通;分析方理，勿忘五脏六腑宜通，气血津液宜通。这一五脏六腑宜通，气血津液宜通理论，也就成为本书剖析方理的指导思想。纵观众多古方，多配甘草、大枣缓解经脉挛急，盖气血津液阻滞，均与经脉痉挛有关故也，仅作调和诸药释理，误矣！在此提出，意在提示学者，不要轻视解痉一法。</p>
                        <h2>第四节方的组成</h2>
                        <p>方的制定应从纵横两个方面考虑。一是方与理法之间的纵向联系；一是方内药物之间的横向联系。分析任何一首方剂都要从纵横两个关系加以解释，才能全面深入地揭示方的本质。</p>
                        <h3>一、方从法立的组方原则</h3>
                        <p>依法制方反映了方与法的纵向联系。</p>
                        <p>任何疾病，都是致病因素引起脏腑功能失调导致气血津精亏损或流通失度。所以每一具体的病机都包含病因、病位、病性三个要素，反映了因、位、性、量的病变本质。治法是针对病机拟定的，方是以法为依据配制而成的，所以治法对方的结构起着决定性的作用。一首完整的方剂，应该包含消除致病因素,调理脏腑功能，调理气血津精三类药物。但因气血津精的生化输泄是五脏功能协同合作的结果，所谓脏腑功能，指的就是五脏对于气血津精的生化输泄作用，所以多数调理脏腑功能药也即是能流通、补充、固涩气血津精药，不必截然划分。以治上焦风热的银翘散为例:此方治温邪上受，首先犯肺，引起肺卫失调而发热、咽痛、咳嗽;津液微受损伤而呈口渴。方中金银花、连翘清热解毒，消除病因;桔梗、牛莠子、剂芥、薄荷开泄肺卫，恢复肺的宣发功能，同时恢复卫气的正常宣泄;芦根生津止渴，补充受损之津，从而反映了三组药物同用的结构。</p>

                        <p>病机既然包含三个要素，必然有主有从。有的以病因为主,有的以脏腑功能失调为主，有的以气血津精的盈虚通滞为主，方剂结构也就有所侧重，甚至只有解决主要矛盾的药物而不计其他，反映了组方的灵活性。以治疗疔市的五味消毒饮为例:疔痈发于局部，是由火毒凝聚而成。虽是气血凝结不通征象，却并未引起脏腑功能失调，只需清热解毒即可达到治疗目的。因此，这首方只有消除病因药，没有调理功能药。再以治疗气虚欲脱的独参汤为例：--切证象均由元气大虚引起。只需大补元气，恢复功能，诸证即可渐趋好转，所以此方只有补气的人参。又如治疗血虚而滞的四物汤，只用补血活血之品，并无其他药物，都说明三类药物不必完全具备。一般说来，外感疾病侧重于消除病因，内伤疾病侧重于调理功能;新病重视消除病因，久病重视调理功能。</p>
                        <h3>二、君臣佐使的组方形式</h3>
                        <p>方由多数药物组合而成,组合成方以后,能够兼顾病因、病位、病性，协同增效,并可制约某些药的毒副作用，更好地发挥其治疗作用。由于方是根据一定的理法组成，为了体现治法，药物之间也就反映了主从和相须相制等关系。古人借用君、臣、佐、使说明药物间的相互关系,形成了解释方剂的独特模式。但是，这一模式是从属于理法的，没有理法作为依据，君臣佐使也就失去依托而毫无价值。</p>
                        <p>君、臣、佐、使的含义。</p>
                        <p>君筠:亦称主药，是针对病机起到主要治疗作用的药物。一首方应有一味或两味以上是主药。随着病情变化和病机重点的转移，主药也可随之变更，不是一成不变。</p>
                        <p>臣药:亦称辅药。是协助主药增强疗效的药物，数量较多。结构简单的方剂亦可不用。</p>
                        <p>佐药:是治疗兼证或制约主药、辅药毒副作用的药物。如果佐药的药性与主药相反，则称为反佐。结构单纯的方剂亦可不用佐药。</p>
                        <p>使药:仅具调和作用，亦有引经报使之说。不居主要地位。</p>
                        <p>兹举数方为例，说明如何运用君臣佐使理论解释方剂，体现药物间的层次和相互关系。</p>
                        <p>例一:麻黄汤由麻黄、桂枝、杏仁、甘草四药组成。用治恶寒发热，头痛身疼，无汗而喘等证。病机属于风寒束表，营卫失调。法当辛温解表，通调营卫。方中麻黄辛温发汗,宣降肺气,能够消除病因，调理肺卫功能,宣通津气壅滞，一药兼具三种作用，故是主药。桂枝既能温经通阳，增强麻黄发汗作用，协助主药解表<p>，又能调营通滞，使血液流通，故是辅药。杏仁协助麻黄宣降肺气，调理功能，治疗兼证，是佐药。甘草缓急和药，是使药。此方说明了四个问题:一是君臣佐使四者全具;二是主药与辅药之间有相须作用;三是杏仁是治疗兼证的佐药;四是甘草是舒缓经隧药。</p>
                        <p>例二:小半夏汤由半夏、生姜二药组成。所治呕吐,属于脾湿生痰，痰浊上逆病机。法当祛痰降逆，才与此证机理相符。半夏燥湿运脾，祛痰降逆,是方中主药;生姜温胃散水，降逆止呕,既能协助主药祛痰降逆，又能制半夏之毒,故为辅佐药。此方说明了两点:①君臣佐使不必全俱;②生姜是制半夏毒性的佐药。</p>
                        <p>例三:左金丸由黄连、吴茱萸二药组成。是治肝郁化火、胁痛、呕逆、口苦的方剂。有清热疏肝，和胃降逆之功。病性属热，黄连自是主药;因有痛呕证象，故佐吴茱萸疏肝止痛，降逆止呕。此方说明了两点:①此方只有君药和佐药;②吴茱萸辛热之性与黄连苦寒之性相反，属于反佐。</p>
                        <p>
                        <p>例四:清瘟败毒饮由黄连解毒汤、白虎汤、凉血地黄汤三方加减而成。治气血两燔证候，体现解毒、清气、凉血、救阴之法。此方用黄连、黄苓、相子、连翘清热解毒;石膏、知母、竹叶、甘草清泄气热;水牛角、牡丹皮、赤芍凉血散血;生地黄、玄参凉血增液;桔梗载药上行。此方任何一药都不可能兼顾四个方面。故以每组药中效力最强的药为主，其余药物为辅,黄连、石膏、水牛角、生地黄也就成为主药。此方说明了三点:①君药不限于一味，可由多数药物组成;也可将药物分组，指出某一组药为主，不必细分。②没有佐药。③病在上而用桔梗载药上行，属于使药中的引经药。</p>
                        <p>例五:小承气汤是治热证便秘的方剂。热结便秘，法当苦寒泻下。故方以大黄泻热通便为主药;枳实、厚朴消除痞满为辅佐。如将方中枳朴剂量加重，即《金匮要略》治胀痛而闭的厚朴三物汤。由于气机阻滞的胀痛变为主症,便秘属于兼证，故以厚朴行气宽胀为主，枳实下气消痞为辅，大黄通便为佐。剂量一经变更，遂由苦寒泻下之方一变而为行气导滞之法。通过此方说明一首方的主药可以变更，不是一成不变。</p>
                        <p>总之，用君臣佐使表示药物间的关系是可取的。但在配伍方剂或阐述方义时，应该注意两点:①方从法立,根据病机决定治法才是关键,治法决定以后，才用它来反映方的配伍关系，它是从属于理法的。临证组方,应该首先根据病机和治法组合方剂;解释一首方剂,也应以依法释方为主,君臣佐使为辅,不能本末倒置。②每方不必强分主次,能分则分，不能分则据理析方，使其活而不死。</p>
                        <h2>第五节方剂变化</h2>
                        <p>临证不依病机、治法组合成方,谓之有药无方;一味墨守成方而不据病情加减,谓之有方无药。使用成方而又根据病情加减化裁,才能取得较好疗效。方剂的变化是根据治法的变化而变化的;治法的改变是根据病机的改变而改变的。这一内在联系，称为方随法变，法随证变。以上仅言其常，未及其变。仅师其法而不用其药者有之，虽经加减而法未变者亦有之。是故方剂变化就其实质而言，有方变而法不变,法变而方不变，方与法都变三种;就其形式而论，则有剂型变化，剂量变化，药味加减三种。</p>
                        <h3>一、	剂型变化</h3>
                        <p>药味与剂量不变,仅仅改变剂型，谓之剂型变化。如蕾香正气丸与很香正气水，六味地黄汤与六味地黄丸即是。剂型的改变,并未改变病机和治法的本质，仅因病情有缓急之分,服用有便与不便之别，不是方剂变化的主体。</p>
                        <h3>二、	剂量变化</h3>
                        <p>改变药的用量而药味完全不变，谓之剂量变化。剂量一经改变，配伍关系和所体现的治法有时也就随之而变。此即方不变而法变。如所举小承气汤变为厚朴三物汤即是。</p>
                        <h3>三、药味加减</h3>
                        <p>古人制方,是遵随证立法，依法组方的原则选药配伍而成。证的核心就是病机,构成病机的三个要素是病因、病位、病性;治法既是根据病机拟定，自然就要根据病机的三个要素来确定治疗方案;方是根据治法配伍而成，自然就要针对病机的三要素来选药组方。所以一车完整之方，应由消除致病原因，调理脏腑功能，流通、补益、固涩气血津精，柔和或兴奋经脉四类药物组成。使用成方,当据病情加减，才能如丝入扣。病机三要素中的病因一经确定便无需加减，若要加减也只是剂量和数量有所变更。但病位却有偏表偏里，偏营偏卫，偏脏偏腑之分;病性却有偏寒偏热之异;气血津精却有盈有虚，有通有滞，有升有降;经隧却有挛急也有松弛。临证之际，应随病位的表里、营卫、脏腑，病性的寒热虚实，经脉的弛张等具体情况予以加减，才能切中病情。以气病为例，气虚的加补气药，气滞的加行气药,气散的加敛气药，气逆的加降气药，气陷的加升阳药，以此类推,加减确有规律可循。兹举数方为例，说明加减变化的一般规律。</p>
                        <p>例一:麻黄汤有发汗解表,宣肺平喘之功，是治肺卫失调的方剂。加减变化也就沿着发汗平喘,调理肺卫两个方面衍变。加入苍术，即麻黄加术汤;减去桂枝,再加惹茵仁，即麻杏惹甘汤。二方所治病位在表，是侧重发汗使湿从表去的变化范例。减去桂枝，即三拗汤;减桂枝再加桑皮、紫苏子、陈皮、茯苓，即华盖散。二方所治病位在肺，是侧重肺气宣降的变化范例。</p>
                        <p>例二：白虎汤是清气分邪热的代表方。经过加减，可兼治卫分、营分、血分之证。成为按温病卫气营血传变规律进行加减的模式。加金银花、连翘即银翘白虎汤，是治卫气同病的变化方;加水牛角、玄参即化斑汤，是治气血两燔的变化方o气滞加厚朴,即《温热经纬》白虎汤加厚朴法;湿滞加苍术，即白虎加苍术汤I气虚加人参，即白虎加人参汤；阴虚加地黄，即《温热经纬》白虎加地黄法，又是根据气血津液的盈虚加减变化的实例。此方亦可根据所兼五脏证象进行加减。</p>
                        <p>例三:小柴胡汤是和解少阳的代表方。此方证的病位在于表里之间，可向偏表、偏里、偏上、偏下四个方面变化;此方是治少阳三焦气郁津凝的方剂，可从气血津液的盈虚通滞四个方面变化；此方结构有凉、有温、有补、有泻，又可向偏寒、偏热、偏虚、偏实四个方面变化。所以，此方常从表、里、寒、热、虚、实、升、降、气、血、津、液各个方面予以化裁，变成新方。</p>
                        <p>例四：四君子汤是治气虚的方剂。四物汤是治血虚的方剂。如果气血两虚，即将两方合用，变成气血双补的八珍汤。平胃散是治寒湿困脾，运化失常的方剂；五苓散是治肾失气化，水湿内停的方剂。如果两种病机同时存在，即将两方合而为一，变成脾肾同治的胃苓汤。由此可见，加减变化并不限于一方,可用两方相合，甚至数方合用。如清瘟败毒饮即是三方相合的实例。</p>
                        <p>以上所举变化方例，属方变而法不变者甚少,方变而法亦变者居多，充分体现了方随法变，法随证变。还要注意一点，加减药味不宜过多。应该使人一见就知系由某方加减。如果面目全非而谓此方系由某方化裁而来,将会被人作为笑料。</p>
                        <h2>第六节方的剂型</h2>
                        <p>方的剂型甚多，历代医家根据临证需要，创制了汤、膏、丹、丸、散、锭、条、线、饼、露等不同剂型，现代制剂发展更快，针剂、片剂、冲剂、糖浆剂、浸膏剂、胶囊剂、橡皮膏剂等相继出现，已使方剂剂型日臻完善。现将常用剂型简介如下。</p>
                        <h3>一、液体剂型</h3>
                        <p>常用的液体剂型有以下几种：</p><p>
                        1.汤剂又称煎剂。药物组合成方以后，加水适量。加热煎煮一定时间，去渣取汁，所得药液称为汤剂。汤剂最能反映中医辨证论治特点，具有药物加减灵活，容易吸收，制法简单等优点。缺点是不能预为制备，不能及时服药,容积大，味不佳。要注意不同药物煎煮时间要求不同。补益药与味厚质重药物煎煮时间宜长，有效成分才能充分溶出，乌头、附子煎煮时间更长，才能借助高温破坏其乌头碱以去其毒性。解表药和花、叶、草本药及芳香药的煎煮时间宜短，以免有效成分随其水气挥发。</p><p>
                        2.酒剂以酒为其溶媒，浸取药中有效成分，浸取之液，俗称药酒，可供内服或外用。多用于体虚补养，风湿痹痛，跌打损伤，可以借酒畅旺血行，是其特点。如风湿药酒即是。</p><p>
                        3.酊剂以不同浓度的酒精为溶媒，经过不同方法浸出药中有效成分，所得药液，称为酊剂。一般中药的浓度按生药量计为20%,有毒药的浓度则为10%。酊剂具有有效成分含量高、用量少、作用快、不易腐败、可以久贮等优点。但不宜于心脏病及高血压患者，妇女、儿童亦不宜饮用。</p><p>
                        4.药露将含有挥发性成分的鲜药置水中加热蒸馋，所收集的蒸馋液即为药露。药露气味清淡，一般作为饮料,夏天尤为常用，如银花露。</p><p>
                        5.糖浆剂用蒸溶液与药汁混合制成的口服液，称为糖浆。味甜,患者乐于服用，如川贝止咳糖浆。</p><p>
                        6.针剂即注射剂。中药经过提取、精制、配制而成的灭菌溶液，专供皮下、肌内注射、静脉注射，故称针剂。因其作用迅速，给药方便，特别宜于急救。</p>
                        <h3>二、固体剂型</h3>
                        <p>常用固体剂型有以下几种。</p><p>
                        1.散剂将药研成粉末供其内服外用，称为散剂。内服散剂分粗细两种，末粗而量大者,临时用水煎服，如银翘散;末细而量小者，可以直接冲服，如七厘散。外用散剂均宜细末，有作外敷和洒布疮面之用者，如生肌散、金黄散等;有作点眼或吹喉之用者，如八宝拨云散、冰硼散等。散剂具有制作简便，便于应用，节约药物，不易变质等优点。</p><p>
                        2.丸剂将药研成细末，再加黏合剂制成的固体剂型，称为丸剂。丸剂有吸收缓慢，药效持久，体积小，服用、携带、贮存比较方便等优点。但因剂型已经固定，不能随证加减是其不足之处。常用丸剂有蜜丸、水丸、糊丸等几种。</p><p>
                        3.丹剂是用含汞、硫黄等矿物经过加热升华而成的一种化合制剂。仅供外用，不可内服，如红升丹、白降丹等。此外，有些内服药物亦称为丹，如至宝丹、紫雪丹、玉枢丹等，但不是丹剂，以丹命名不过表示疗效很好,有如灵丹妙药之意。</p><p>
                        4.锭剂是将药物研成粉末,再加赋形剂黏合制成的固体剂型。可供内服或外用，临时用水磨服或研末用水送服，亦可磨汁涂敷患处，如紫金锭。</p><p>
                        5.条剂又称纸捻。是将桑皮纸捻成细条以后再黏着药物而成。条剂是中医外科常用的制剂,用于插入疮口，化腐拔管，如化管药条。此外,针灸用的艾条，也是条剂。</p><p>
                        6.片剂将药粉与辅粉混合,经压片机压制成扁圆状药片，称为片剂。有用量准确，体积小,机械生产效率高，服用和贮运方便等优点。目前中药片剂应用较广。</p><p>
                        7.冲剂是将药物浓缩浸膏与适量淀粉、糖粉混合制成的颗粒散剂。冲剂加开水溶化即可服用，该剂型保持了汤剂的特色，克服了煎煮的麻烦，但应注意包装，以免受潮变质。</p>
                        <h3>三、半固体剂型</h3>
                        <p>常用的半固体剂型有以下几种。</p><p>
                        1・浸膏用适当溶媒浸出药物有效成分，再加温蒸发，浓缩成膏，称为浸膏。这一剂型有杂质较少、日用量小、使用方便、可以大量制备等优点。</p><p>
                        2.膏筠是用植物油或天然树胶为基质原料，加入药物熬炼而成，是外用药的一种剂型。有疗效确实，作用持久，用法简便，便于保存等优点。炼制时要求黏度合适，揭下不留痕迹为佳。</p><p>
                        3.软膏指在适当的基质中加入药物，调成均匀和易于涂布的软状剂型。常作外用，有滋润皮肤，杀灭病菌，收敛创口，促进肉芽生长等作用。配制时要求均匀细腻，以不损害皮肤黏膜为准。</p><p>
                        4.眼膏指专供眼科使用的极细腻、纯净、灭菌的软膏，药物要经提制后再行配制，要求极细腻无颗粒、无菌。<p>
                        <h2>第七节方的用量</h2>
                        <p>度量衡制度在各个历史时期有所变更，唐代以前的古方，分量就和现在相差甚远。古以黍、铢、两、斤计量，到了晋代则以十黍为一铢，六铢为一分，四分为一两，十六两为一斤。宋代以后以两、钱、分、厘、毫为其分级计量单位,即十毫为一厘，十厘为一分，十分为一钱，十钱为一两，十六两为一斤。直到1979年1月1日起，才改为克数计量。</p>
                        <p>运用古方，应该大体保持方中各药用量。为了解决古今计量悬殊带来的困难，可以采取两种办法:一是考证历代计量，换算成克。汉晋时期1两，约合现制15克;隋唐以后1两，约合现制31克。二是按现代习惯用量定其克数，但不改变原方各药之间的比例。本书各方所有用量，都是采用第二种办法拟定的。总之，方中用量可以随证变更，不是一成不变。</p>
                        <img class="pt-5" src="/static/img/core-img/breadcrumb-line.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock 主体 %}