{% extends "base.html" %}
{% block 标题 %}
肺系病机治法与方剂
{% endblock 标题 %}
{% block 主体 %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="/static/img/core-img/breadcrumb-line.png" alt="">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index/"><i class="fa fa-home"></i>主页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">肺系病机治法与方剂</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Featured Post Area -->
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10">

                            <!-- Type Face -->
                            <div class="about-content">
                                <h1>肺系病机治法与方剂</h1>
                                <blockquote>
                                <h5>肺系病机治法与方剂对应数据库表中病症表序号1-28内容，例方表序号1-99内容</h5>
                                </blockquote>
                                <h2>组织结构</h2>
                                <p>肺脏系统由肺叶、肺系、肺窍、肺经以及相合的皮毛、大肠六个部分组成。
                                    肺脏位于膈上，与心同居胸中，其位最高而形似五脏之盖，故有华盖之称。鼻为肺的外窍,喉为肺的门户，由气管与肺相连，成为大气呼吸出入的通路，这条通路，统称肺系。</p>
                                <p>皮毛属于体表最外一层，是防御外邪的屏障，有散气和泄汗作用。毛窍所散津气都是由肺宣发而来，所以肺与皮毛的关系最为密切，这种关系常用肺卫予以概括。</p>
                                手太阴肺经起于胸中，下络大肠，故与大肠相表里,肺经也就成为肺脏系统的一部分。
                                <h2>生理功能</h2>
                                <p>
                                    肺主气，司呼吸,为体内外气体交换的器官。通过肺气的宣发肃降，可使津布于表，下行归肾。其余属卫主表，治节诸脏，通气发音，主司嗅觉等等，无非都是肺的主气功能在本系各个方面的体现，而且都是通过宣降两种运动形式来实现的。所以，肺的一切生理功能都以宣降津气为其机括。</p>
                                <p>
                                    宣发有宣布和发散之意。通过肺的宣发功能，将卫/和津液布散全身，才使津气得以充于形体,温煦皮肤，润泽皮毛。一旦风寒侵袭，腠理凝闭，必然影响肺气宣发，产生肺部病变。所以肺的宣发受阻,常见肺卫同病，也是肺多表证的原因。</p>
                                <p>
                                    肃降是指肺气宜于下行之意。肺的肃降作用，可使肺系津气通调而不窒塞，治节诸脏而令协调。如果肺气失降，不仅直接引起本脏自病而呈喘咳，亦可影响脏腑间的协调统一。肺气肃降可以助心行血而随血运行，通调水道而输布津液,制约肝气升发太过而令升降和调，协助胃肠之气通调而令腑气下行，如果气血失去和谐就会造成营卫同病，水道失去通调就会造成津液运行不利。肺胃、肺肝失去和调就会成为肝胃气逆，腑气不通。</p>
                                <p>
                                    肺气的宣发和肃降，都以少阳三焦为其通路。肺气宣发，是令气液能够正常出入;肺气肃降，是令气液能够正常升降。宣发和肃降是相辅相成的两个方面，肺气开宣才能正常肃降，肺气肃降才能正常开宣。肺气有宣有降，津气才能正常升降出入,二者在生理上常相辅相成,病理上常互为因果。</p>
                                <h2>发病原因</h2>
                                <p>
                                    引起肺系病变的原因，既有外感，也有内伤。外感疾病，多由肺卫或肺系向肺脏传变,形成表证或上焦手太阴证。肺病外感多于内伤，是由肺脏自身的结构与功能特点决定的。因为,肺位最高而职司呼吸，直接与外界大气相通;肺合皮毛而为一身屏障，气候异常变化，亦将直接影响体表的正常生理，所以外邪侵犯人体，多从鼻窍、皮毛侵入,循肺系与肺卫而首先犯肺。在内伤疾病中，任何脏腑功能异常导致卫气升降失常与津液输布障碍的病变，往往都会影响肺的正常宣降，也是造成肺脏病变的重要原因。</p>
                                <h2>基本病理</h2>
                                <p>
                                    肺脏病变以喘咳有痰为其主要证象，以气液宣降失常为其基本病理。肺脏虽与各种基础物质都有关系，却与津气最为密切。如果反其生理之常，即呈肺气宣降失调,津液运行失度,成为津气同病。寒邪束表,则气郁津凝;温邪上受,则气耗津伤;外感多因肺气失宣,引起津凝不布，内伤多因水液失调，引起肺气失降。除此以外，津气亏损者有之，津气外泄者有之。观其证象，气液虚损、不通、太通三类病变常占十之八九，血分病变仅占十之一二。</p>
                                <h2>治法指要</h2>
                                <p>
                                    前已言之，肺脏一切病变都是内外因素引起肺的宣降失调，气液盈虚失度。与之相应的治法，自应根据肺脏功能盛衰和气液虚滞状态决定补泻原则。虚证宜补益肺气或养阴滋液，补其不足;实证宜宣降肺气，流通津液，疏其壅滞;虚实互见则双管齐下,补泻并行。所有治法均着眼于调理津气，立足于恢复宣降，这是肺脏治法的共性。具体言之,遂有解表、固表、宣肺、敛肺、补肺、泻肺、温肺、清肺、滋阴润燥、行水祛痰等治法，若能配合使用，则肺系病变的一切治法皆可自此衍变而出。</p>
                                <p>
                                    人是有机的整体,脏腑之间是相互依存、相互联系、相互影响的。肺系病变的有些证象表明病机并不全属肺系，可由他脏波及,应当谨察病机，选用其他脏腑的治法。故《素问-咳论》说，“五脏六腑皆能令人咳,非独肺也”。相反,根据肺脏病机拟定的治法和所选的方剂,也不限于治疗肺系病变，《伤寒论》“太阳与阳明合病必自下利，葛根汤主之”即其例也。只有明了上病治下、下病治上的道理,才能卓有成效地运用于临床，收到较好的效果。</p>

                                    <!-- Line -->
                                <img class="pt-5" src="/static/img/core-img/breadcrumb-line.png" alt="">
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Pager -->
                <ol class="foode-pager mt-50">
                    <li><a href="/liangzang/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>上一个</a></li>
                    <li><a href="/piwei/">下一个<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                </ol>
            </div>

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="post-sidebar-area">

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>About Me</h6>
                        </div>
                        <!-- Thumbnail -->
                        <div class="about-thumbnail">
                            <img src="/static/img/blog-img/xiaoyang.jpeg" alt="">
                        </div>
                        <!-- Content -->
                        <div class="widget-content text-center">
                            <p>小羊，就读于北京科技大学计算机科学与技术专业，大四学生，本站为小羊毕业设计内容展示。</p>
                        </div>
                    </div>
                    <div class="single-widget-area">
                        <div class="widget-title">
                            <h6>病状搜索</h6>
                        </div>
                        <!-- Title -->
                        <div class="newsletter-content">

                            <form action="/search1" method="GET">

                                <input type="text" name="q" class="form-control" placeholder="病状搜索">
                                <button><i class="fa fa-search"></i></button>
                            </form>

                        </div>
                        <br>
                        <div class="widget-title">
                            <h6>内容相关</h6>
                        </div>
                        <!-- Tags -->
                        <ol class="popular-tags d-flex flex-wrap">
                            <li><a href="#">中医</a></li>
                            <li><a href="#">病机</a></li>
                            <li><a href="#">病原</a></li>
                            <li><a href="#">治法</a></li>
                            <li><a href="#">方剂</a></li>
                        </ol>
                    </div>

                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>其他病机治法内容</h6>
                        </div>
                        <ol class="foode-archives">
                            <li><a href="/piwei/"><span><i class="fa fa-stop" aria-hidden="true"></i>脾胃病机治法与方剂</span></a>
                            </li>
                            <li><a href="/gandan/"><span><i class="fa fa-stop" aria-hidden="true"></i>肝胆病机治法与方剂</span></a>
                            </li>
                            <li><a href="/xinxi/"><span><i class="fa fa-stop" aria-hidden="true"></i>心系病机治法与方剂</span></a>
                            </li>
                            <li><a href="/shenxi/"><span><i class="fa fa-stop" aria-hidden="true"></i>肾系病机治法与方剂</span></a>
                            </li>
                            <li><a href="/liangzang/"><span><i class="fa fa-stop" aria-hidden="true"></i>两脏病机治法与方剂</span></a></li>
                        </ol>
                    </div>

                    <!-- ##### Single Widget Area ##### -->


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock 主体 %}