{% extends "base.html" %}
{% block 标题 %}
肝胆病机治法与方剂
{% endblock 标题 %}
{% block 主体 %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="/static/img/core-img/breadcrumb-line.png" alt="">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index/"><i class="fa fa-home"></i>主页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">肝胆病机治法与方剂</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Featured Post Area -->
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10">

                            <!-- Type Face -->
                            <div class="about-content">
                                <h1>肝胆病机治法与方剂</h1>
                                <blockquote>
                                    <h5>肝胆病机治法与方剂对应数据库表中病症表序号57-91内容，例方表序号243-442内容</h5>
                                </blockquote>
                                <h2>组织结构</h2>
                                <p>肝胆系统是由肝、胆、筋膜、目窍以及所属经络五个部分组成。</p>
                                <p>
                                    肝胆位于右胁膈肌之下，左右两叶，右大于左。有贮藏血液、调节血量、分泌胆汁等功能。胆附于肝,与胆管、胰体、胰腺管等都是胆道系统组成部分。胆汁分泌于肝，输贮于胆，再经胆管输入小肠;胰液由胰体分泌,经过胰腺管输入胆道，再由胆总管注于小肠。胆属六腑之一，内贮精汁，与其他五腑传化糟粕有所不同，故又属于奇恒之腑。肝属厥阴，胆属少阳，少阳与厥阴为表里，是这一系统主体。</p>
                                <p>
                                    筋膜乃是人体重要组织,筋是膜之束聚，膜是筋之延展。由于它是肝胆系统组成部分，所以《素问-痿论》说:“肝主身之筋膜。”《素问-五脏生成》则说:“肝之合,筋也;其荣爪也。"然而必须明白肝系筋膜是由手厥阴心包延展而来，筋膜弛张运动，是由心包主宰。古人将其六脏六腑分成十二经脉，手足各有六经,为了便于叙述,遂以足经概括手经。由于代远年湮，今人逐渐淡忘，知足而不知手矣！</p>
                                <p>
                                    厥阴与少阳相表里，少阳包括手少阳三焦和足少阳胆经。手少阳三焦组织结构又包括膜原和腠理两个部分。膜原是筋延展部分,腠理是膜外组织间隙，《内经》称为“分肉”。膜腠无处不有，无所不包，外则布于皮里肉外，内则布于五脏六腑，上至巅顶，下至于足，随处异形，所在皆是,不似其他脏腑有其一定形态，所以《难经》谓其有名无形。由于三焦联系非常广泛，所以《灵枢-本输》称为“孤府”，是“六腑之所与合者。”三焦是卫气升降出入之路，故《素问-痹论》说:“卫者，水谷之悍气也,其气憬疾滑利，不能入于脉也,故循皮肤之中，分肉之间，熏于肓膜，散于胸腹。”所谓分肉、肓膜，就是膜腠。由于三焦也是津液运行出入之道，故《素问-灵兰秘典论》说:“三焦者，决渎之官，水道出焉。</p>
                                <p>
                                    《灵枢-五阅五使》说:“目者，肝之官也。”《素问-阴阳应象大论》又说:“肝主目，在窍为目。”肝与目存在两方面联系。从其组织结构言之，肝主筋而目为筋之窠;从其基础物质言之，目能睹物，全凭精血充盈,肝为藏血之脏，五脏六腑精气都要依靠血液营运才能上注于目。所以《素问-五脏生成》说:“肝受血而能视。”《灵枢-脉度》说:“肝气通于目，肝和则能辨五色矣。”</p>
                                <p>
                                    足厥阴肝经之脉起于足大趾丛毛处，沿下肢内侧上行，经腹股沟，入毛中，过阴器，抵少腹，上行挟胃，布于胁肋，再上额与督脉会于巅顶。足少阳胆经属胆络肝，眼外角、耳前后、颈侧、颌部、缺盆、腋窝、胁、肋、腹、膝、小腿外侧都是胆经循行部位。手少阳三焦经脉,起于小指与次指之端，沿上肢外侧上行，“上肩而支出足少阳之后，入缺盆,布膻中，散络心包,下膈，循属三焦,……其支者从耳后入耳中，出走耳前，过客主人前，交颊，至目锐眦。”肝胆系统发生病变，其经脉循行部位常出现相应证象，针灸上述经脉循行穴位，又可治疗肝系病变，所以肝、胆、三焦三经是本系统的组成部分。</p>
                                <h2>生理功能</h2>
                                <p>
                                    肝系生理功能较多，举凡卫气升发，血量调节,水津升降出入，胆汁分泌贮运，阴精生化藏泄，筋膜张弛运动,都与肝系紧密相关。换言之，精、气、血、津、液五类基础物质，能够正常营运于五脏六腑与四肢百骸，均赖肝系为其疏泄调节。由此看来，肝系生理功能所涉精、气、血、津、液各个方面，都与肝之疏泄功能有关，故以疏调为其机括。若再深入研究，肝之疏泄功能何以涉及精、气、血、津、液各个方面，却与肝主筋膜休戚相关。因为五脏六腑均由大小不同管道构成各个系统，这些管道是由肝系筋膜构成,乃是精、气、血、津、液五类基础物质升降出入通道。筋膜稍有改变（紧张、痉挛、松弛、破损、增生、硬化）即会影响气血正常流通，所以，肝之疏泄功能与其肝系筋膜有关。由于全身筋膜是由心包筋膜延展而来，所以心神之筋才是经脉弛张运动主宰。</p>
                                <h2>发病原因</h2>
                                <p>
                                    引起肝胆病变原因，既有外邪相侵，也有情志怫郁；既有本脏自病，也有他脏累及。外邪相侵途径有二：①寒邪从表入里，传入少阳、厥阴；或寒邪直中，厥阴受邪。②温邪自上而下，从上焦传入下焦，由气分传入血分。内伤致病也有两种情况：①本脏自病。肝司疏泄，性喜条达，最恶郁结，若情志怫郁或恼怒伤肝，经脉弛张异常，可由正常生理变成病理状态。②他脏累及。脏腑之间有相互协调和相互制约关系。如果某一脏腑功能失调，协调和制约关系遭致破坏，都可累及他脏发生病理改变。因此他脏有病累及肝脏较为常见。如肺失肃降，不能制约肝阳过亢，即呈金不制木；肾阴亏损，不能濡润筋膜，即呈水不涵木；脾胃虚弱，不能营养肝系，即呈土不荣木；心阳虚衰，血运不利，即呈肝血瘀阻等。</p>
                                <h2>基本病理</h2>
                                <p>
                                    由于肝有司疏泄、升阳气、藏血液、行水津、泌胆汁、主筋膜等功能，一旦发生病变,也就表现为肝气升发，血液贮运,胆液通调，水津敷布,筋膜和柔反常，从而反映出了气血津液盈、虚、通、滞，筋膜挛急、痿废、破损众多证象。</p>
                                <h2>治法指要</h2>
                                <p>
                                    治疗肝胆病变，①针对气血津液亏损、不通、太通三种基本病理改变施治。益气、温阳、养血、滋阴是补充气血津液，使其不亏;调气、活血、利胆、行津是疏通气血津液，使其不滞;敛气、止血、敛汗、涩精是固涩气血津精，使不外泄，反映了通、涩、补三大治法。②针对气机升降出入施治。肝气内郁而不外达,下陷而不上升，根据木郁达之治疗原则，使用疏肝药物，复其升发之常;肝阳上亢，升发太过，根据高者抑之治则，又宜平肝潜阳,抑其上升太过，反映了升降两大治法。③针对筋脉弛张施治。筋膜挛急而呈痉挛、抽搐、疼痛，宜柔肝以解其痉挛;筋膜松弛而呈瘫痪,宜泄浊以复其活力。肝脏治法虽然很多，总以疏调为其机括。</p>
                                <p>
                                    肝脏病变不能单纯使用肝脏治法和方剂治疗，审其确属他脏累及肝脏，当从他脏施治,这种治法是从脏腑间之整体联系考虑。同理,本脏治法和方剂亦不限于治疗肝胆病变。由肝系病变波及他脏者，证象虽见于他脏,病本仍然在肝，选用这些方剂从本施治，可以收到满意效果。只有从其整体出发思考问题，才能真正把握病情，胸有成竹，据以施治，才能获得较好效果。</p>
                                <!-- Line -->
                                <img class="pt-5" src="/static/img/core-img/breadcrumb-line.png" alt="">
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Pager -->
                <ol class="foode-pager mt-50">
                    <li><a href="/piwei/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>上一个</a></li>
                    <li><a href="/xinxi/">下一个<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                </ol>
            </div>

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="post-sidebar-area">

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>About Me</h6>
                        </div>
                        <!-- Thumbnail -->
                        <div class="about-thumbnail">
                            <img src="/static/img/blog-img/xiaoyang.jpeg" alt="">
                        </div>
                        <!-- Content -->
                        <div class="widget-content text-center">
                            <p>小羊，就读于北京科技大学计算机科学与技术专业，大四学生，本站为小羊毕业设计内容展示。</p>
                        </div>
                    </div>
                    <div class="single-widget-area">
                        <div class="widget-title">
                            <h6>病状搜索</h6>
                        </div>
                        <!-- Title -->
                        <div class="newsletter-content">

                            <form action="/search1" method="GET">

                                <input type="text" name="q" class="form-control" placeholder="病状搜索">
                                <button><i class="fa fa-search"></i></button>
                            </form>

                        </div>
                        <br>
                        <div class="widget-title">
                            <h6>内容相关</h6>
                        </div>
                        <!-- Tags -->
                        <ol class="popular-tags d-flex flex-wrap">
                            <li><a href="#">中医</a></li>
                            <li><a href="#">病机</a></li>
                            <li><a href="#">病原</a></li>
                            <li><a href="#">治法</a></li>
                            <li><a href="#">方剂</a></li>
                        </ol>
                    </div>

                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>其他病机治法内容</h6>
                        </div>
                        <ol class="foode-archives">
                            <li><a href="/feixi/"><span><i class="fa fa-stop"
                                                           aria-hidden="true"></i>肺系病机治法与方剂</span></a>
                            </li>
                            <li><a href="/piwei/"><span><i class="fa fa-stop"
                                                           aria-hidden="true"></i>脾胃病机治法与方剂</span></a>
                            </li>

                            <li><a href="/xinxi/"><span><i class="fa fa-stop"
                                                           aria-hidden="true"></i>心系病机治法与方剂</span></a>
                            </li>
                            <li><a href="/shenxi/"><span><i class="fa fa-stop"
                                                            aria-hidden="true"></i>肾系病机治法与方剂</span></a>
                            </li>
                            <li><a href="/liangzang/"><span><i class="fa fa-stop"
                                                               aria-hidden="true"></i>两脏病机治法与方剂</span></a></li>
                        </ol>
                    </div>

                    <!-- ##### Single Widget Area ##### -->


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock 主体 %}