{% extends "base.html" %}
{% block 标题 %}
中医治法知识库内容展示
{% endblock 标题 %}
{% block 主体 %}
<section class="hero-area">
    <div class="hero-post-slides owl-carousel">

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/6.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2020 / 小羊</p>
                <a href="/feixi/" class="post-title">
                    <h4>肺系病机治法与方剂</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/2.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2020 / 小羊</p>
                <a href="/piwei/" class="post-title">
                    <h4>脾胃病机治法与方剂</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/3.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2020 / 小羊</p>
                <a href="/gandan/" class="post-title">
                    <h4>肝胆病机治法与方剂</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/4.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2020 / 小羊</p>
                <a href="/xinxi/" class="post-title">
                    <h4>心系病机治法与方剂</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/5.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2020 / 小羊</p>
                <a href="/shenxi/" class="post-title">
                    <h4>肾系病机治法与方剂</h4>
                </a>
            </div>
        </div>

        <!-- Single Hero Post -->
        <div class="single-hero-post">
            <!-- Post Image -->
            <div class="slide-img bg-img" style="background-image: url(/static/img/blog-img/1.jpg);"></div>
            <!-- Post Content -->
            <div class="hero-slides-content">
                <p>MAY 8, 2020 / 小羊</p>
                <a href="/liangzang/" class="post-title">
                    <h4>两脏病机治法与方剂</h4>
                </a>
            </div>
        </div>

    </div>
</section>
<section class="blog-content-area section-padding-100">
    <div class="container">
        <div class="row">
            <!-- Featured Post Area -->
            <div class="col-12">
                <div class="featured-post-area">
                    <div id="featured-post-slides" class="carousel slide d-flex flex-wrap" data-ride="carousel">

                        <div class="carousel-inner">

                            <div class="carousel-item active bg-img"
                                 style="background-image: url(/static/img/blog-img/bingji.jpg)">

                                <!-- Featured Post Content -->
                                <div class="featured-post-content">
                                    <p>MAY 5, 2020 / 陈潮祖编著|小羊整理</p>
                                    <a href="/bingji/" class="post-title" target="_blank">
                                        <h2>中医病机概述</h2>
                                        <p>病机源流、构成病机的三个要素、病机分析反映的共性、证象是分析病机的依据</p>
                                    </a>
                                </div>
                            </div>

                            <div class="carousel-item bg-img"
                                 style="background-image: url(/static/img/blog-img/zhifa.jpg)">
                                <!-- Featured Post Content -->
                                <div class="featured-post-content">
                                    <p>MAY 5, 2020 / 陈潮祖编著|小羊整理</p>
                                    <a href="/zhifa/" class="post-title" target="_blank">
                                        <h2>中医治法概述</h2>
                                        <p>治法源流、治法与病机的关系、治疗原则、治疗大法、治法与方剂的关系</p>
                                    </a>
                                </div>
                            </div>

                            <div class="carousel-item bg-img"
                                 style="background-image: url(/static/img/blog-img/fangji.jpg)">
                                <!-- Featured Post Content -->
                                <div class="featured-post-content">
                                    <p>MAY 5, 2020 / 陈潮祖编著|小羊整理</p>
                                    <a href="/fangji/" class="post-title" target="_blank">
                                        <h2>中医方剂概述</h2>
                                        <p>方剂源流、方剂分类、方剂共性、方的组成、方剂变化、方的剂型、方的用量</p>
                                    </a>
                                </div>
                            </div>

                            <div class="carousel-item bg-img"
                                 style="background-image: url(/static/img/blog-img/jiegou.jpg)">
                                <!-- Featured Post Content -->
                                <div class="featured-post-content">
                                    <p>MAY 5, 2020 / 小羊</p>
                                    <a href="/jiegou/" class="post-title" target="_blank">
                                        <h2>中医治法知识库结构内容说明</h2>
                                        <p>中医治法知识库结构展示、数据库字段定义、知识库内容说明</p>
                                    </a>
                                </div>
                            </div>

                            <div class="carousel-item bg-img"
                                 style="background-image: url(/static/img/blog-img/shiyongshuoming.jpg)">
                                <!-- Featured Post Content -->
                                <div class="featured-post-content">
                                    <p>MAY 5, 2020 / 小羊</p>
                                    <a href="/shiyong/" class="post-title" target="_blank">
                                        <h2>本站使用说明</h2>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <ol class="carousel-indicators">
                            <li data-target="#featured-post-slides" data-slide-to="0" class="active">

                                <a href="/bingji/" class="post-title">
                                    <h2>01</h2>
                                </a>
                                <a href="/bingji/" class="post-title">
                                    <h5>中医病机概述</h5>
                                </a>
                            </li>
                            <li data-target="#featured-post-slides" data-slide-to="1">
                                <h2>02</h2>
                                <a href="#" class="post-title">
                                    <h5>中医治法概述</h5>
                                </a>
                            </li>
                            <li data-target="#featured-post-slides" data-slide-to="2">
                                <h2>03</h2>
                                <a href="#" class="post-title">
                                    <h5>中医方剂概述</h5>
                                </a>
                            </li>
                            <li data-target="#featured-post-slides" data-slide-to="3">
                                <h2>04</h2>
                                <a href="#" class="post-title">
                                    <h5>中医治法知识库结构内容说明</h5>
                                </a>
                            </li>
                            <li data-target="#featured-post-slides" data-slide-to="4">
                                <h2>05</h2>
                                <a href="#" class="post-title">
                                    <h5>本站使用说明</h5>
                                </a>
                            </li>
                        </ol>

                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    <img class="post-curve-line" src="/static/img/core-img/post-curve-line.png" alt="">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post d-flex flex-wrap mt-50">

                        <!-- Thumbnail -->
                        <div class="post-thumbnail mb-50">
                            <a href="/bingjixibie/"><img src="/static/img/blog-img/bingjixibie.jpg" alt=""></a>
                        </div>
                        <!-- Content -->
                        <div class="post-content mb-50">
                            <p class="post-date">MAY 11,2020 | 小羊</p>
                            <a href="/bingjixibie/" class="post-title">
                                <h4>数据库数据展示 | 病机系别</h4>
                            </a>

                            <p class="post-excerpt">病机系别表展示，主要字段：id，病机系别。</p>
                            <a href="/bingjixibie/" class="read-more-btn">详细信息<i class="fa fa-long-arrow-right"
                                                                                 aria-hidden="true"></i></a>
                        </div>
                        <!-- Post Curve Line -->
                        <img class="post-curve-line" src="/static/img/core-img/post-curve-line.png" alt="">
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post d-flex flex-wrap mt-50">
                        <!-- Thumbnail -->
                        <div class="post-thumbnail mb-50">
                            <a href="/zhibingjili/"><img src="/static/img/blog-img/zhibingjili.jpg" alt=""></a>
                        </div>
                        <!-- Content -->
                        <div class="post-content mb-50">
                            <p class="post-date">MAY 11,2020 | 小羊</p>
                            <a href="/zhibingjili/" class="post-title">
                                <h4>数据库数据展示 | 致病机理</h4>
                            </a>

                            <p class="post-excerpt">
                                致病机理表展示，主要字段：id，治法类别，病机-治法，病机系别。致病机理表为书中所有148条内容总表，作为展示使用，在知识库存储形式为六类共29个表。</p>
                            <a href="/zhibingjili/" class="read-more-btn">详细信息<i class="fa fa-long-arrow-right"
                                                                                 aria-hidden="true"></i></a>
                        </div>
                        <!-- Post Curve Line -->
                        <img class="post-curve-line" src="/static/img/core-img/post-curve-line.png" alt="">
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post d-flex flex-wrap mt-50">
                        <!-- Thumbnail -->
                        <div class="post-thumbnail mb-50">
                            <a href="/bingzheng/"><img src="/static/img/blog-img/zhifa.jpg" alt=""></a>
                        </div>
                        <!-- Content -->
                        <div class="post-content mb-50">
                            <p class="post-date">MAY 11,2020 | 小羊</p>
                            <a href="/bingzheng/" class="post-title">
                                <h4>数据库数据展示 | 治法</h4>
                            </a>
                            <p class="post-excerpt">病症表展示，主要字段：id，病机-治法，适应证候，病理分析，立法组方。</p>
                            <a href="/bingzheng/" class="read-more-btn">详细信息<i class="fa fa-long-arrow-right"
                                                                               aria-hidden="true"></i></a>
                        </div>
                        <!-- Post Curve Line -->
                        <img class="post-curve-line" src="/static/img/core-img/post-curve-line.png" alt="">
                    </div>

                    <!-- Single Blog Post -->
                    <div class="single-blog-post d-flex flex-wrap mt-50">
                        <!-- Thumbnail -->
                        <div class="post-thumbnail mb-50">
                            <a href="/lifang/"><img src="/static/img/blog-img/fangji.jpg" alt=""></a>
                        </div>
                        <!-- Content -->
                        <div class="post-content mb-50">
                            <p class="post-date">MAY 11,2020 | 小羊</p>
                            <a href="/lifang/" class="post-title">
                                <h4>数据库数据展示 | 方剂</h4>
                            </a>

                            <p class="post-excerpt">例方表展示，主要字段：id，病机-执法，例方名，主治，证析，病机，治法。</p>
                            <a href="/lifang/" class="read-more-btn">详细信息<i class="fa fa-long-arrow-right"
                                                                            aria-hidden="true"></i></a>
                        </div>
                        <!-- Post Curve Line -->
                        <img class="post-curve-line" src="/static/img/core-img/post-curve-line.png" alt="">
                    </div>

                    <!-- Single Blog Post -->

                </div>

                <!-- Pager -->

            </div>

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="post-sidebar-area">

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>About Me</h6>
                        </div>
                        <!-- Thumbnail -->
                        <div class="about-thumbnail">
                            <img src="/static/img/blog-img/xiaoyang.jpeg" alt="">
                        </div>
                        <!-- Content -->
                        <div class="widget-content text-center">
                            <p>小羊，就读于北京科技大学计算机科学与技术专业，大四学生，本站为小羊毕业设计内容展示。</p>
                        </div>
                    </div>
                    <div class="single-widget-area">
                        <div class="widget-title">
                            <h6>病状搜索</h6>
                        </div>
                        <!-- Title -->
                        <div class="newsletter-content">

                            <form action="/search1" method="GET">

                                <input type="text" name="q" class="form-control" placeholder="病状搜索">
                                <button><i class="fa fa-search"></i></button>
                            </form>

                        </div>
                        <br>
                        <div class="widget-title">
                            <h6>内容相关</h6>
                        </div>
                        <!-- Tags -->
                        <ol class="popular-tags d-flex flex-wrap">
                            <li><a href="#">中医</a></li>
                            <li><a href="#">病机</a></li>
                            <li><a href="#">病原</a></li>
                            <li><a href="#">治法</a></li>
                            <li><a href="#">方剂</a></li>
                        </ol>
                    </div>

                    <!-- ##### Single Widget Area ##### -->


                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>项目开发心得</h6>
                        </div>

                        <!-- Single Latest Posts -->
                        <div class="single-latest-post d-flex">
                            <div class="post-thumb">
                                <a href="/zhishiku/"><img src="/static/img/blog-img/zhishiku.jpeg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <a href="/zhishiku/" class="post-title">
                                    <h6>知识库建立</h6>
                                </a>
                                <a href="/contact/" class="post-author"><span>by</span>小羊</a>
                            </div>
                        </div>

                        <!-- Single Latest Posts -->
                        <div class="single-latest-post d-flex">
                            <div class="post-thumb">
                                <a href="/web/"><img src="/static/img/blog-img/qianduan.jpeg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <a href="/web/" class="post-title">
                                    <h6>WEB前端开发</h6>
                                </a>
                                <a href="/contact/" class="post-author"><span>by</span>小羊</a>
                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock 主体 %}

