{% extends "base.html" %}
{% block 标题 %}
两脏病机治法与方剂
{% endblock 标题 %}
{% block 主体 %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="/static/img/core-img/breadcrumb-line.png" alt="">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index/"><i class="fa fa-home"></i>主页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">两脏病机治法与方剂</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Featured Post Area -->
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10">

                            <!-- Type Face -->
                            <div class="about-content">
                                <h1>两脏病机治法与方剂</h1>
                                <blockquote>
                                    <h5>两脏病机治法与方剂对应数据库表中病症表序号126-148内容，例方表序号575-616内容</h5>
                                </blockquote>
                                <h2>一、两脏同病的物质基础</h2>
                                <p>
                                    以五脏为主体的五大系统,各自进行着特殊的功能活动。但是五脏之间又在组织结构、生理功能、基础物质的生化输泄方面，紧密联系，构成整体，共同完成气血津精的摄纳、生化、输布、排泄等功能活动。古典医籍用相生相克来阐述五脏间的相互关系，不是抽象的概念，它是建立在气血津精的生成、转化、输布等关系之上，凭借这些基础物质才能反映五脏相互协调、相互制约的功能活动。本章讨论两脏同时发生病变时的内在联系机理及治法,就是建立在气血津精的生化输泄和盈虚通滞这一基础之上的。</p>
                                <p>
                                    五脏的组织结构联为一体。五脏是通过三焦膜腠联为一体的，故《灵枢-本输》说三焦“是孤府也，是六府之所与合者。”其实五脏也是由膜腠联成一气的。它包括分布于体表内外以流通津气的膜原和腠理，运行营血的大小脉络,连接百骸的筋膜腱束，内连五脏的系膜，以及属于五大系统的气管、血管、胆管、肠管、输尿管、输精管、输卵管等。这些管道和间隙是气血津精摄纳输泄的通路，或为排泄废物的孔道。由于筋膜连续不断，无处不有，这就从结构上将五脏联成一体，成为统一的结构系统,归属心主筋膜,统一指挥其弛张运动。</p>
                                <p>
                                    五脏的功能协调统一。《素问-玉机真脏论》说:“五脏相通，移皆有次。”指出五脏之间是相通的。各脏的功能活动，既需要本系统的紧密配合，也需要五脏间的协同合作，通过五脏相互协调和相互制约才能完成气血津精的摄纳、生化、贮运、排泄。所以，五脏功能虽有各自的特殊作用,实际是服从整体需要的。如果某脏的功能失调，常常累及他脏，牵一发可动全身的道理就在于此。基础物质的生化输泄有赖五脏的协合同作。气血津精是脏腑功能活动的物质基础，是五脏赖以维持正常生命活动的能源。相反，气血津精的摄纳、生化、输泄，又反映了五脏间的协同合作。没有五脏的协同配合，就不可能进行基础物质的生化输泄。①就气摄纳生化而言，气是五脏功能活动动力。所指之气,包括肺系摄取之清气，脾胃化生之谷气，肾系生发之元气。如果出现气虚，须从肺脾肾三脏进行思考。由于肺系所摄清气一般情况下是取之不尽、用之不竭的，所以气虚只需考虑脾肾。②就气运行输布而言，卫气能在体内升降出入，流通无阻，有赖肺气宣降，脾胃升降，肝气升发，肾气摄纳。如果气的升降出入失常，不言而喻，要从肺脾肝肾予以考虑。③就血生化而言，血的生化，关系脾肾两脏。血由脾胃纳运的水谷化生，谷精生化为血,则须肾的生化作用。凭借肾的生化功能将谷精化生为精髓，再由精髓化生为血液。由此可见，血的生化要联系脾肾两脏予以考虑。④就血液贮运言之，更需五脏协同配合。血须心气推动，肾气温煦,肺气宣降，肝气贮调，脾气统摄,才能运行于脉，不滞不溢。一旦出现血瘀、血溢，都要联系五脏进行分析，才能得出正确结论。⑤就其津液摄纳输泄言之，水津进入体内以后，须经脾胃运输，肺气宣降，肾阳气化,肝气疏调,才能在三焦升降出入，流通无阻。如果津液发生病变，也要联系五脏予以考虑。综上可知,气血津精的生化输泄是联系五脏功能活动的纽带，五脏功能活动是以气血津精摄纳、生化、输泄为其核心。研究五脏功能失调，必须联系气血津精生化输泄与升降出入、盈虚通滞进行分析，才能对复杂病情求得正确的答案。</p>
                                <h2>二、两脏同病的传变形式</h2>
                                <p>
                                    疾病传变，约言之，有由表入里，由腑入脏；自上而下，白气而血；五脏之间，相乘相侮三种传变规律。仲景《伤寒论》的六经传变，邪由太阳而少阳，由少阳而阳明，由三阳而三阴，揭示了外邪侵袭，由表入里，由浅入深，由腑入脏的传变规律（寒邪直中不在此例）。叶氏《温热经纬-外感温热篇》的卫气营血辨证，由肺卫而传入心营，由肺卫而逆传心包，由三焦而下传肝肾;吴瑞《温病条辨》的三焦辨证，由上焦而中焦，由中焦而下焦，揭示了温邪上受，自上而下，逐步深入的传变规律。五脏之间的相乘相侮，则反映了五脏彼此相通的密切关系。所谓“五脏相通，移皆有次，五脏有病,则各传其所胜”，不仅说明五脏之间相互通联，并说明某脏发病可以传其所胜而成两脏同病。上述三种传变规律，比较完整地把表里、上下、五脏联系起来,说明疾病处于不断变化之中'，突出反映了整体观和动态观，两脏同病就是上述三种传变规律的结果。</p>
                                <h2>三、病机和治法特点</h2>
                                <p>
                                    前述五脏的病机和治法,多属本系统的功能失调,两脏同病则不然,常常涉及两脏以上，病情比较复杂。为了适应这种复杂的病情，在治法上也就反映了两脏同治的配伍特点。本章所举方剂，多数已见前面章节，在此重提，无非欲使学者明白这些方剂是两脏同治的配方法度,虽然难免重复，却有好处。</p>
                                <!-- Line -->
                                <img class="pt-5" src="/static/img/core-img/breadcrumb-line.png" alt="">
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Pager -->
                <ol class="foode-pager mt-50">
                    <li><a href="/shenxi/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>上一个</a></li>
                    <li><a href="/feixi/">下一个<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                </ol>
            </div>

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="post-sidebar-area">

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>About Me</h6>
                        </div>
                        <!-- Thumbnail -->
                        <div class="about-thumbnail">
                            <img src="/static/img/blog-img/xiaoyang.jpeg" alt="">
                        </div>
                        <!-- Content -->
                        <div class="widget-content text-center">
                            <p>小羊，就读于北京科技大学计算机科学与技术专业，大四学生，本站为小羊毕业设计内容展示。</p>
                        </div>
                    </div>
                    <div class="single-widget-area">
                        <div class="widget-title">
                            <h6>病状搜索</h6>
                        </div>
                        <!-- Title -->
                        <div class="newsletter-content">

                            <form action="/search1" method="GET">

                                <input type="text" name="q" class="form-control" placeholder="病状搜索">
                                <button><i class="fa fa-search"></i></button>
                            </form>

                        </div>
                        <br>
                        <div class="widget-title">
                            <h6>内容相关</h6>
                        </div>
                        <!-- Tags -->
                        <ol class="popular-tags d-flex flex-wrap">
                            <li><a href="#">中医</a></li>
                            <li><a href="#">病机</a></li>
                            <li><a href="#">病原</a></li>
                            <li><a href="#">治法</a></li>
                            <li><a href="#">方剂</a></li>
                        </ol>
                    </div>

                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>其他病机治法内容</h6>
                        </div>
                        <ol class="foode-archives">
                            <li><a href="/feixi/"><span><i class="fa fa-stop"
                                                           aria-hidden="true"></i>肺系病机治法与方剂</span></a>
                            </li>
                            <li><a href="/piwei/"><span><i class="fa fa-stop"
                                                           aria-hidden="true"></i>脾胃病机治法与方剂</span></a>
                            </li>
                            <li><a href="/gandan/"><span><i class="fa fa-stop"
                                                            aria-hidden="true"></i>肝胆病机治法与方剂</span></a>
                            </li>
                            <li><a href="/xinxi/"><span><i class="fa fa-stop"
                                                           aria-hidden="true"></i>心系病机治法与方剂</span></a>
                            </li>
                            <li><a href="/shenxi/"><span><i class="fa fa-stop"
                                                            aria-hidden="true"></i>肾系病机治法与方剂</span></a>
                            </li>

                        </ol>
                    </div>

                    <!-- ##### Single Widget Area ##### -->


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock 主体 %}