{% extends "base.html" %}
{% block 标题 %}
脾胃病机治法与方剂
{% endblock 标题 %}
{% block 主体 %}

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="/static/img/core-img/breadcrumb-line.png" alt="">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index/"><i class="fa fa-home"></i>主页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">脾胃病机治法与方剂</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Featured Post Area -->
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10">

                            <!-- Type Face -->
                            <div class="about-content">
                                <h1>脾胃病机治法与方剂</h1>
                                <blockquote>
                                    <h5>脾胃病机治法与方剂对应数据库表中病症表序号29-56内容，例方表序号100-242内容</h5>
                                </blockquote>
                                <h2>组织结构</h2>
                                <p>脾胃系统由脾、胃、小肠、大肠、肌肉、唇口及所属经脉组成。</p>
                                <p>
                                    中医学里的脾胃，既包括解剖可见的实体，又泛指消化系统的生理功能。汉,张仲景在《伤寒论》中将阳明与太阴两两相对，各自代表消化系统的一个侧面，就是明显的佐证。具体言之,摄取水谷，腐熟食物，将饮食下传至小肠供其消化吸收,再将所余糟粕下传至大肠变为粪便这一摄纳和传导过程，都包括在胃的功能以内。这一功能失常，常表现为热证、实证。所以《伤寒论》说:“阳明之为病，胃家实是也。”而肠道吸收水谷精微，将其输送到其他各脏，供给全身营养的这一作用，却用脾来代表。这一功能失常，又常表现为虚证、寒证，故《伤寒论》又说:“太阴之为病，腹满而吐,食不下，自利益甚，时腹自痛,若下之，必胸下结硬。”胃代表受纳和传导等生理作用，脾代表消化和吸收等生理功能;发生病理变化以后，脾代表本系统的虚证和寒证，胃代表本系统的热证和实证，这就是脾胃的总体概念。因此，小肠和大肠应该归属脾胃这一系统。</p>
                                <p>
                                    脾胃系统是由一条很长的管道组成，口腔是这条管道的上端，与食管紧紧相联,是摄纳水谷的门户。食管下端联接着胃，是输送水谷的管道。胃的上口称为贲门，下口称为幽门，是受纳水谷和腐熟水谷的器官，故《素问-灵兰秘典论》说:“脾胃者，仓原之官,五味出焉。”小肠上接胃腑，下联大肠,有受盛和运化水谷的作用。故《灵兰秘典论》说:“小肠者,受盛之官，化物出焉。”所谓脾主运化水谷,实际是指小肠的消化和吸收功能。大肠上端在阑门与小肠相接，下端通过肛门与外界相通。大肠的作用,在于将小肠消化吸收以后残留下来的糟粕变为粪便，然后排出体外。所以《素问•灵兰秘典论》又说:“大肠者，传导之官,变化出焉。”口、食管、胃、小肠、大肠构成的这条管道，是脾胃系统的主要组成部分。</p>
                                <p>
                                    《素问-痿论》说:“脾主身之肌肉。”《素问•五脏生成》说:“脾之合，肉也。”肌肉是五体结构中的一种组织。除皮毛、腠理以外，它是体表的第三道屏障。脾胃的纳运功能健全，则肌肉丰腴健美;脾胃纳运功能障碍、衰退，则肌肉消瘦、疼痛、不用。故肌肉也是脾胃系统的组成部分。</p>
                                <p>
                                    脾胃纳运的水谷自口而入，脾胃的精气又上通于口，故《素问-金匮真言论》说:“脾开窍于口。”《素问-六节藏象论》则谓脾胃之华“在唇口四白。”脾的经脉上连舌本,脾运正常则舌能辨味，故《灵枢-脉度》说:“脾气通于口，脾和，则口能知五谷矣。”总之，口是脾胃系统的上窍,手足阳明经脉又都夹口环唇，所以脾胃系统的强弱荣枯可从唇口显示出来，脾胃系统的病理改变亦可从口舌反映出来。</p>
                                <p>
                                    足太阴脾经经脉起于下肢大趾之端，循胫骨之后，交出厥阴之前，上膝入腹属脾络胃，上膈挟咽，连于舌本，散于舌下。其支脉从胃上膈，注于心中。足阳明胃经经脉起于鼻之交频中，下循鼻外，入上齿中，还出挟口环唇。其支脉下膈属胃络脾。手太阳小肠经脉起于小指之端。循手外侧上交肩上，入缺盆络心，循咽下膈抵胃，属小肠。手阳明大肠经脉起于大指之端，上肩，下入缺盆络肺,下膈属大肠。其支从缺盆上颈贯颊，入下齿中，还出挟口，交人中，上挟鼻孔。脾胃系统有病，常从上述经脉循行部位反映出证象；从上述经脉循行的部位取穴针灸，又可达到治疗脾胃病变的目的，所以经脉也是脾胃系统的组成部分。</p>
                                <h2>生理功能</h2>
                                <p>
                                    脾胃有纳运水谷，升清降浊，主气统血等生理功能。将其生理特点归结起来，不外升清降浊两个方面。《灵枢-平人绝谷》说:“胃满则肠虚，肠满则胃虚，更虚更满，故气得上下、五脏安定。”胃肠的虚实更替，表现出泻而不藏，动而不静，降而不升,实而不能满，以通降为顺的生理特点。脾主运化,水谷精微通过脾的运化和转输作用，上输到心肺等脏生化为气、血、津、液。故《灵枢-营卫生会》说:“谷入于胃，以传于肺，五脏六腑，皆以受气。”《素问-经脉别论》则说:“食气入胃，浊气归心饮入于胃，游溢精气，上输于脾，脾气散精，上归于肺。”脾的运化作用，又表现出藏而不泻，喜通恶滞，喜升恶陷，以健运升通为顺的生理特点。胃纳脾运，胃降脾升，纳运相得，升降相因，成为一体。脾胃纳运功能所反映的升降两种基本运动形式，也就成为脾胃的生理特征。</p>
                                <h2>发病原因</h2>
                                <p>
                                    饮食不节，冷热不匀;不洁之物，由口而入,是引起胃肠功能紊乱，发生病理改变的直接原因。但由外感六淫之邪，影响津气正常升降出入,经三焦而内归胃肠者，尤为常见;其他脏腑病变而波及脾胃者,亦常有之。</p>
                                <h2>基本病理</h2>
                                <p>
                                    由于脾胃的主要功能是纳运水谷，升清降浊是纳运功能的具体体现，所以脾胃发生病理改变的主要反映是纳运升降异常。纳运升降异常的临床证象，归纳起来，不外吐、泻、滞、胀、痛五类。呕吐之物包括饮食、涎、血;泻下之物包括稀便、黏液、血液;积滞包括食积、便秘、虫积、包块;胀满包括气血津液阻滞;痛证范围更广，从唇口齿龈以至胃肠，都可出现痛证。上述证象无不涉及气血津液的盈虚通滞和升降出入,但津气病变常居十之八九，血分病变不过十之一二。</p>
                                <h2>治法指要</h2>
                                <p>
                                    脾胃病变的治法虽多，总在补其虚损，固其滑脱，导其滞塞，调其升降。补虚在于恢复脾胃功能的健运,充实基础物质的亏损；固脱在于固涩津血，不令丢失;导滞在于使积者去而塞者通，保持肠道和津气通畅;调其升降在于使逆乱的津气恢复升降出入之常，使当升者升，当降者降，当出者出，当入者入，反映了补、涩、通、调四大共性。掌握这些治法的共性,才不致孤立地去看每一治法。总之，脾胃治法当着眼于气液的盈亏,立足于脾胃的升降。</p>
                                <p>
                                    治疗脾胃，不离温中、清热、消积、补脾、行气、升陷、降逆、燥湿、芳化、生津、泻下、固涩、杀虫等法。临证之际,根据病情兼夹，或单用一法，或两法并行,或数法合用，对于脾胃病变,自能应付裕如，变化随心。</p>
                                <p>
                                    本脏所列方剂，不能全部治愈本脏一切疾病，因他脏有病而波及脾胃的，必须通过治疗他脏才能达到治疗目的。同理，本脏所列方剂亦不限于治疗本脏疾病,设因脾胃病变波及他脏，即可通过治脾以愈他脏疾病,掌握治病求本原则,才是上工。</p>
                                <!-- Line -->
                                <img class="pt-5" src="/static/img/core-img/breadcrumb-line.png" alt="">
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Pager -->
                <ol class="foode-pager mt-50">
                    <li><a href="/feixi/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>上一个</a></li>
                    <li><a href="/gandan/">下一个<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                </ol>
            </div>

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="post-sidebar-area">

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>About Me</h6>
                        </div>
                        <!-- Thumbnail -->
                        <div class="about-thumbnail">
                            <img src="/static/img/blog-img/xiaoyang.jpeg" alt="">
                        </div>
                        <!-- Content -->
                        <div class="widget-content text-center">
                            <p>小羊，就读于北京科技大学计算机科学与技术专业，大四学生，本站为小羊毕业设计内容展示。</p>
                        </div>
                    </div>
                    <div class="single-widget-area">
                        <div class="widget-title">
                            <h6>病状搜索</h6>
                        </div>
                        <!-- Title -->
                        <div class="newsletter-content">

                            <form action="/search1" method="GET">

                                <input type="text" name="q" class="form-control" placeholder="病状搜索">
                                <button><i class="fa fa-search"></i></button>
                            </form>

                        </div>
                        <br>
                        <div class="widget-title">
                            <h6>内容相关</h6>
                        </div>
                        <!-- Tags -->
                        <ol class="popular-tags d-flex flex-wrap">
                            <li><a href="#">中医</a></li>
                            <li><a href="#">病机</a></li>
                            <li><a href="#">病原</a></li>
                            <li><a href="#">治法</a></li>
                            <li><a href="#">方剂</a></li>
                        </ol>
                    </div>

                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>其他病机治法内容</h6>
                        </div>
                        <ol class="foode-archives">
                            <li><a href="/feixi/"><span><i class="fa fa-stop"
                                                           aria-hidden="true"></i>肺系病机治法与方剂</span></a>
                            </li>
                            <li><a href="/gandan/"><span><i class="fa fa-stop"
                                                            aria-hidden="true"></i>肝胆病机治法与方剂</span></a>
                            </li>
                            <li><a href="/xinxi/"><span><i class="fa fa-stop"
                                                           aria-hidden="true"></i>心系病机治法与方剂</span></a>
                            </li>
                            <li><a href="/shenxi/"><span><i class="fa fa-stop"
                                                            aria-hidden="true"></i>肾系病机治法与方剂</span></a>
                            </li>
                            <li><a href="/liangzang/"><span><i class="fa fa-stop"
                                                               aria-hidden="true"></i>两脏病机治法与方剂</span></a></li>
                        </ol>
                    </div>

                    <!-- ##### Single Widget Area ##### -->


                </div>
            </div>
        </div>
    </div>
</section>

{% endblock 主体 %}