{% extends "base.html" %}
{% block 标题 %}
心系病机治法与方剂
{% endblock 标题 %}
{% block 主体 %}
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="/static/img/core-img/breadcrumb-line.png" alt="">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index/"><i class="fa fa-home"></i>主页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">心系病机治法与方剂</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="blog-content-area section-padding-0-100">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Featured Post Area -->
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10">

                            <!-- Type Face -->
                            <div class="about-content">
                                <h1>心系病机治法与方剂</h1>
                                <blockquote>
                                    <h5>心系病机治法与方剂对应数据库表中病症表序号92-107内容，例方表序号443-509内容</h5>
                                </blockquote>
                                <h2>组织结构
                                    <h2><p>心系是由心脏、心包、血管、舌体及所属经脉五个部分组成。</p>
                                        <p>
                                            心脏位于胸中，三分之二偏于胸骨左侧，位于二至六肋之间。是由心肌构成，中空部分由内膜隔成四个房室，上端与血管相连，是心系的主体。属于手少阴经，与手太阳小肠经为表里（小肠治法合入脾胃）。</p>
                                        <p>
                                            心包是膜的主要部分。古人所说的心包，不是心外裹护之包，实指脑外裹护之膜。心包属于手厥阴经，与全身之膜相连，全身之膜属于手少阳三焦经，均从心包筋膜延展而来，故手厥阴心包与手少阳三焦为表里。</p>
                                        <p>
                                            脉是血行的隧道，心脏与脉管相连，成为不可分割的整体。所以，《素问-阴阳应象大论》说:“在体为脉，在脏为心。飞素问-五脏生成》又说广心之合，脉也”。心气推动血液在脉内运行，故血脉也是心系的重要组成部分。</p>
                                        <p>舌是心的苗窍，运行于心脉的血液稍有变化，即从舌体反映出来，是观察血液盈虚通滞的门户，故《素问-阴阳应象大论》说:“心在窍为舌。”</p>
                                        <p>
                                            《灵枢-经脉》说:“心手少阴之脉，起于心中，出属心系，下膈络小肠；其支者，从心系上夹咽,系目系其直者，复从心系却上肺;下出腋下，下循席内后廉,行太阴、心主之后，下肘内，循臂内后廉，抵掌后锐骨之端，入掌内后廉，循小指之内出其端。”“心主手厥阴心包络之脉，起于胸中，出属心包络，下膈，历络三焦;其支者，循胸出胁，下腋三寸,上抵腋，下循孺内，行太阴少阴之间，入肘中，下臂行两筋之间，入掌中，循中指出其端;其支者，别掌中，循小指次指出其端。”心系发生病变，其经脉循行部位常反映临床征象，针灸经脉穴位，又可治疗本系统的多种疾病，所以心与心包二经也是本系统不可分割的一部分。</p>
                                        <h2>生理功能</h2>
                                        <p>心有以下两大功能：</p>
                                        <p>
                                            1.主神明《素问-灵兰秘典论》说:“心者，君主之官也，神明出焉。”《六节藏象论》说:“心者，生之本，神之变也。”《灵枢-本神》又说广心藏脉，脉舍神。”心主血脉，血是思维活动物质基础，故神的功能活动唯此是赖。心主神明这一功能与心包关系更为密切。《内经》、《难经》均称心包为心主，就有心脏虽为君主之官,其实心包才是代替君主主宰一切之器。由于心包实指大脑之膜，所以心包功能实际就是大脑功能。脑为元神之府，意识思维概由此出，精神情志莫不由之，所以神志病变古人每以君不受邪包络代之解释。《灵枢•邪客》说:“心者，五脏六腑之大主也，精神之所舍也，其脏坚固，邪弗能容也，容之则心伤，心伤则神去,
                                            神去则死矣！故诸邪之在于心者，皆在于心之包络。”神志发生病变，凡属外邪相侵，多归咎于心包，内伤虚损，功能衰竭，才责之于心脏。何以虚证应从心治？因为心神所需气血有赖心脏输送而来。所以健忘、失眠、多梦、易惊、虚脱常从心脏论治;猝倒无知，昏澹狂躁，常从心包论治。</p>
                                        <p>
                                            2.主血脉:《素问-五脏生成》说:“心之合，脉也「'血有输送清气和谷精、肾气（指各种激素）的作用，脉为血行的隧道，心与脉管相连。推动血液循环运行,有赖心与脉的相互合作，但起主导作用的是心。血液虽有营养作用,却必须依赖心气推动，脉隧约束，才能运行全身,起到营养全身的作用，所以心主血脉。</p>
                                        <h2>发病原因</h2>
                                        <p>引起心脏病变的原因，既有外感，也有内伤。外邪相侵的途径有三：</p>
                                        <p>
                                            1.风寒之变，起于皮毛，由三阳传入三阴；或寒邪直中，少阴直接受邪。这是邪从表入的第一条途径。</p>
                                        <p>
                                            2.温热之邪，受自口鼻，由肺卫内陷心营或由三焦逆传心包，这是邪自上而下侵犯心脏，或自下而上逆传心包的第二条途径。</p>
                                        <p>
                                            3.疮痈疔布,生于躯体局部，设若治疗不当，可由血脉内侵心营;风寒湿痹起于四肢关节，亦可由血管夹层（少阳三焦）内侵心脏，这是邪从血脉内侵心脏的第三条途径，亦即《金匮要略》所说:“血脉相传，壅塞不通，为外皮肤所中也。”</p>
                                        <p>
                                            内伤致病，则既有本脏白病，也有他脏累及。心之志为喜，过喜可以伤心，这是本脏自病。由他脏累及心脏的病变，临证更为多见。肺气的宣降功能可以助心行血,肺的舒缩功能异常，导致肺气宣降失常，日久不治,可由肺及心而呈心肺同病；肾主化气行水，肾阳不足，气化失司，水气凌心，可呈心肾同病;脾胃为气血生化之源，脾失健运，化源不足，由气虚导致血虚或失血，可呈心脾同病;肝喜条达，职司疏泄，肝气郁结，疏泄失常，脉络失和而致心悸，可呈心肝同病。</p>
                                        <h2>基本病理</h2>
                                        <p>心系发生病理改变，自然涉及血脉和神志两个方面。</p>
                                        <p>
                                            1.心脉病变:心的功能是进行有节律的搏动。心脏搏动端赖心气为其能源，心气又以元气为其根本。元气生发于肾，从命门输入少阳三焦，再经三焦输至心脏。元气旺则心气盛，元气虚则心气衰,故心脏是以心气旺盛、搏动有力、有节为正常，心气亏损、心率亢进、搏动无力、心律不齐为病态。</p>
                                        <p>
                                            脉管是由肝系筋膜构成，专供血液环流之用，故又称为血管。管内是血液流行之道，管壁央层是津气运行之区。血管以柔和为正常,硬化为病态;舒缓为正常,挛急为病态;完好为正常,破损为病态。是故血管发生病变，不外挛急、松弛、硬化、破损几个方面。产生上述病变原因，则与病因的寒热,气血津液的盈虚通滞有关。感受寒邪则脉络收引，感受热邪则脉络破裂，津液阻滞夹层则脉络弦硬，阳气虚衰则脉络松弛。</p>
                                        <p>血在脉内环流，是流动的基础物质之一，贵充盈而恶不足，贵流通而恶瘀滞，贵循常道而恶外溢。如果发生病变，不外血虚、血瘀、血溢三个方面。</p>
                                        <p>
                                            综合上述，心脉为病，常表现为心、血、脉三个方面病变。即心气衰竭或亢奋;血液亏损、瘀滞或外溢;脉管痉挛、硬化、阻塞、破裂，或脉律不齐。由于三者是不可分割的整体，所以任何一个方面发生病理改变，势必都要影响全局，反映出三个方面的综合征象。</p>
                                        <p>
                                            2.心神病变:神宜明静，反常则病。心神病变与心包和气血津精的盈虚通滞休戚相关。前已言之，心包的功能实际是指大脑而言。脑须阳气温煦，营血滋养、阴津濡润，肾精充填,才能进行思维活动，明静而不糊涂。任何一种物质出现亏损或阻滞,都会直接影响心包发生病理改变，呈为惊恐、失眠、多梦、昏迷、如狂、发狂等证。一切征象都表现为神志异常而不明不静，这是心神病变的特征。</p>
                                        <p>由于血液是濡养心神的基础物质，血须通过心脉才能上濡心神,所以心脉痉挛、破损、栓塞，压迫脑膜也常反映神志异常,二者不可截然划分。</p>
                                        <h2>治法指要</h2>
                                        <p>
                                            治疗心系病变，要注意功能盛衰和气血津液盈虚通滞。虚证不外心气虚、心血虚、心阴虚、心阳虚。气虚、阳虚是心脏的功能不足;阴虚、血虚是基础物质津血亏损。实证不外气闭（痹）、血瘀、痰、饮、水、湿阻于心包或凌于心脏，一切都是不通病理改变。心气虚的宜补心气，心阳虚的宜温心阳，心血虚的宜补心血，心阴虚的宜养心阴，这些措施都是为了恢复心系功能和充实基础物质。心主气闭的宣通气机，血瘀的通其瘀滞,水液阻滞的化其痰浊,一切都是为了通其闭郁。此外，心脏常用安神药物，是因心主神明，神宜明静缘故。综观治心诸法，无非就是补心、泻心、温心、清心、开窍、安神诸法配合应用，其中通、补则是诸法共性。</p>
                                        <p>
                                            心系功能不足的虚证，必然引起基础物质不能正常运行而呈虚中夹滞的本虚标实证象。所以补虚诸法，常配行气、活血、除湿、祛痰之品，成为标本兼顾的配方法度。由于心阳根于肾中真阳，心阴源于肾中真阴，故养心阴、补心阳都是通过补肾阴、肾阳达到补心目的。</p>
                                        <p>
                                            最后还要指出，心系所列方法,不能完全治愈心系所有疾病，由他脏累及心系者，须于他脏求之。同理,本章所列治法和方剂，亦不限于只治心系疾病，由心病而累及他脏者,无论证象见于何脏，均可使用。</p>
                                        <!-- Line -->
                                        <img class="pt-5" src="/static/img/core-img/breadcrumb-line.png" alt="">
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Pager -->
                <ol class="foode-pager mt-50">
                    <li><a href="/gandan/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>上一个</a></li>
                    <li><a href="/shenxi/">下一个<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></li>
                </ol>
            </div>

            <!-- Blog Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="post-sidebar-area">

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>About Me</h6>
                        </div>
                        <!-- Thumbnail -->
                        <div class="about-thumbnail">
                            <img src="/static/img/blog-img/xiaoyang.jpeg" alt="">
                        </div>
                        <!-- Content -->
                        <div class="widget-content text-center">
                            <p>小羊，就读于北京科技大学计算机科学与技术专业，大四学生，本站为小羊毕业设计内容展示。</p>
                        </div>
                    </div>
                    <div class="single-widget-area">
                        <div class="widget-title">
                            <h6>病状搜索</h6>
                        </div>
                        <!-- Title -->
                        <div class="newsletter-content">

                            <form action="/search1" method="GET">

                                <input type="text" name="q" class="form-control" placeholder="病状搜索">
                                <button><i class="fa fa-search"></i></button>
                            </form>

                        </div>
                        <br>
                        <div class="widget-title">
                            <h6>内容相关</h6>
                        </div>
                        <!-- Tags -->
                        <ol class="popular-tags d-flex flex-wrap">
                            <li><a href="#">中医</a></li>
                            <li><a href="#">病机</a></li>
                            <li><a href="#">病原</a></li>
                            <li><a href="#">治法</a></li>
                            <li><a href="#">方剂</a></li>
                        </ol>
                    </div>

                    <div class="single-widget-area">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>其他病机治法内容</h6>
                        </div>
                        <ol class="foode-archives">
                            <li><a href="/feixi/"><span><i class="fa fa-stop"
                                                           aria-hidden="true"></i>肺系病机治法与方剂</span></a>
                            </li>
                            <li><a href="/piwei/"><span><i class="fa fa-stop"
                                                           aria-hidden="true"></i>脾胃病机治法与方剂</span></a>
                            </li>
                            <li><a href="/gandan/"><span><i class="fa fa-stop"
                                                            aria-hidden="true"></i>肝胆病机治法与方剂</span></a>
                            </li>

                            <li><a href="/shenxi/"><span><i class="fa fa-stop"
                                                            aria-hidden="true"></i>肾系病机治法与方剂</span></a>
                            </li>
                            <li><a href="/liangzang/"><span><i class="fa fa-stop"
                                                               aria-hidden="true"></i>两脏病机治法与方剂</span></a></li>
                        </ol>
                    </div>

                    <!-- ##### Single Widget Area ##### -->


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock 主体 %}